{% if list | length > 0 %}
	<div class="table-responsive">
			<table class="table datatable_custom">
				<thead class="text-primary">
					<tr>			
						<th>Nombre</th>						
						<th>Descripción</th>
						<th>Asignado a</th>
						<th>Fecha de asignación</th>										
						{% if permits["ep"] and permits["dp"] %}	
							<th>Acciones</th>
						{% endif %}
						
					</tr>
				</thead>
				<tbody>
				{% for item in list %}
					<tr>
						
						<td>						
							{{ item.name }} 
						</td>
						<td>
							<small>{{ item.description }}</small>
							{% if item.fieldOne | length > 0 %}
								<br><small><b>MAC</b>: {{item.fieldOne}}</small>
							{% endif %}
							{% if item.fieldTwo | length > 0 %}
								<br><small><b>Modelo</b>: {{item.fieldTwo}}</small>
							{% endif %}
							{% if item.fieldThree | length > 0 %}
								<br><small><b>Serie</b>: {{item.fieldThree}}</small>
							{% endif %}							
						</td>
						<td>
							{% if item.client | length > 0 %}
							<small>{{ item.clientAgreement }}</small>
							{% else %}
							<b>Sin asignación</b>
							{% endif %}
						</td>				
						<td>
							{% if item.assignedAt | length > 0 %}
							{{item.assignedAt | date("Y-m-d")}}
							{% else %}
							-
							{% endif %}
						</td>		
						<td class="list_tools">
							
		                {% if permits["ep"] %}
							<a href="{{ path('backend_supply_edit', {'id': item.supplyId | md5 }) }}" class="btn btn-info btn-icon btn-sm ">
								<i class="fa fa-fw fa-pencil"></i>
							</a>
						{% endif %}
						
						{% if permits["dp"] %}
							<a  href="javascript:;"
								class="btn btn-danger btn-icon btn-sm "
								data-id="{{ item.supplyId }}" 
								data-href="{{ path(
		                            'backend_supply_delete',
		                            {'id': item.supplyId | md5 }
		                        ) }}"
		                        data-toggle="modal"
		                        data-target="#confirm-modal">
								<i class="now-ui-icons ui-1_simple-remove"></i>
							</a>
						{% endif %}
						
						</td>
						
					</tr>
				{% endfor %}
				</tbody>
			</table>
	</div>
{% else %}
	<div class='row'>
		<div class='col-md-12 text-center'>
			<h1><i class='fa fa-archive'></i></h1>
			<h2>Aún no hay Suministros</h2>
			<p>Puede agregar nuevos suministros desde la esquina superior derecha de esta pantalla o en el botón de abajo</p>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Agregar Suministro!</a>
		</div>
	</div>
{% endif %}	
