{% extends '@App/Backend/base.html.twig' %}

{% block body %}
  <div class="breadcrumb-holder">   
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('backend_main') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backend_modules') }}">Módulos del sistema</a></li>
        <li class="breadcrumb-item active">Editar</li>
      </ul>
    </div>
  </div>

<section class="content section-padding">
	<div class="container-fluid">
	  <header> 
		<h1 class="h3">Módulos del sistema</h1>
	  </header>

	{{ include('@App/Backend/flash_message.html.twig') }}

	<div class="row">
		<div class="col-xs-12">
			<div class="card box-primary">
				<div class="card-header with-border">
					<h3 class="box-title">Editar Módulo</h3>					
				</div>
				{{ include('@App/Backend/Modules/form.html.twig', { 'form': form }) }}		
			</div>
			<!-- /.box -->
		</div>
	</div>	
	
	</div>
</section>
{% endblock %}
