<div class="card box-success">
	<div class="card-header">
		<h3 class="box-title">Listado de Módulos</h3>		
	</div>
	<!-- /.box-header -->
	<div class="card-body table-responsive no-padding">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Descripci&oacute;n</th>
					<th>Path de Symfony</th>
					<th>Orden</th>
					<th>Visible</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for item in list %}
				<tr>
					<td>{{ item.moduleCatalogId }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.urlAccess }}</td>
					<td>{{ item.orderModule }}</td>
					<td>
						{% if item.visible %}
							<strong>S&iacute;</strong>
						{% else %}
							No
						{% endif %}
					</td>
					<td class="list_tools">
						<a href="{{ path('backend_modules_edit', {'moduleId': item.moduleCatalogId|md5}) }}">
							<i class="fa fa-fw fa-edit"></i>
						</a>
						&nbsp;
						<a class="delete"
							data-href="{{
								path(
									'backend_modules_delete',
									{'moduleId': item.moduleCatalogId|md5}
							)}}"
							data-name="{{ item.name }}"
							href="javascript:;">
							<i class="fa fa-fw fa-remove"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>

{% block extra_scripts %}
<script type="text/javascript">
	$(function() {
		$('.delete').click(function(){
			if (confirm('Desea eliminar el Módulo: ' + $(this).attr('data-name') + '?')) {
				window.location =  $(this).attr('data-href'); 
			}
		});		
	});
</script>
{% endblock %}
