{% extends '@App/Backend/base.html.twig' %}
{% block body %}

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Reportes</h5>
                <h4 class="card-title">Cantidad de Recibos</h4>
               
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="activeUsers"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <!--i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Reportes</h5>
                <h4 class="card-title">Cantidad de cuentas</h4>
               
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="emailsCampaignChart"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <!--i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated-->
                </div>
              </div>
            </div>
          </div>
          
           <div class="col-lg-6 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Reportes</h5>
                <h4 class="card-title">Costos de Instalación</h4>
               
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="insChart"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <!--i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated-->
                </div>
              </div>
            </div>
          </div>
          <!--div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Reportes</h5>
                <h4 class="card-title">Reporte 3</h4>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="activeCountries"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
                </div>
              </div>
            </div>
          </div>
        </div-->
        <!--div class="row">
          <div class="col-md-12">
           
            <div class="card">
              <div class="card-header">
                <h5 class="card-category">Gestión de clientes</h5>
                <h4 class="card-title"> Facturas Pendientes</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Nombre
                      </th>
                      <th>
                        Cliente
                      </th>
                      <th>
                        Cantidad
                      </th>
                      <th class="text-right">
                        Contacto
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Dakota Rice
                        </td>
                        <td>
                          Niger
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td class="text-right">
                          $36,738
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Minerva Hooper
                        </td>
                        <td>
                          Curaçao
                        </td>
                        <td>
                          Sinaai-Waas
                        </td>
                        <td class="text-right">
                          $23,789
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Sage Rodriguez
                        </td>
                        <td>
                          Netherlands
                        </td>
                        <td>
                          Baileux
                        </td>
                        <td class="text-right">
                          $56,142
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Doris Greene
                        </td>
                        <td>
                          Malawi
                        </td>
                        <td>
                          Feldkirchen in Kärnten
                        </td>
                        <td class="text-right">
                          $63,542
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Mason Porter
                        </td>
                        <td>
                          Chile
                        </td>
                        <td>
                          Gloucester
                        </td>
                        <td class="text-right">
                          $78,615
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div-->
      
        <!-- The Modal -->
		<div class="modal fade" id="openModalReport">
		  <div class="modal-dialog">
		    <div class="modal-content">			
		      <div class="modal-header">
			    <h4 class="modal-title" style='margin-top:0px'>Filtrar reportes</h4>		
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  </div>
		      <div class="modal-body" id='modalContentFilter'>
		      	  <div class='row'>
		      	  	<div class='col-md-6'>
		      	  		<input type='text' class='form-control datepicker' placeholder='Seleccione fecha de inicio' id='dashboard_from' value="{{from}}">
		      	  	</div>
		      	  	<div class='col-md-6'>
		      	  		<input type='text' class='form-control datepicker' placeholder='Seleccione fecha final' id='dashboard_to' value="{{to}}">
		      	  	</div>
		      	  </div>
		      	  <p>
		      	  	Deje los campos en blanco para mostrar todos los datos
		      	  </p>
		      	  <br>
		      	  <div class='row'>
		      	  	<div class='col-md-12'>
		      	  		<a href="javascript:void(0)" onclick='filterDashboard()' class='btn btn-success pull-right float-right'>Filtrar</a>
		      	  	</div>
		      	  </div>
		      </div>      		      
		    </div>
		  </div>
		</div>
    <script>
    	function filterDashboard()
		{
			var from = $('#dashboard_from').val();
			var to   = $('#dashboard_to').val();
			var url = "{{path('backend_dashboard',{'from':'_FROM_','to':'_TO_'})}}";
			var url2 = url.replace("_FROM_",from);
			var url3 = url2.replace("_TO_",to);
			var url4 = url3.replace("&amp;","&");
			
			window.location.href = url4;
			
		}
    </script>  
      
{% endblock %}
{% block extra_scripts %}
  <script>
  	
  
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
        initDashboardPageCharts();
		

		function initDashboardPageCharts() {
		      chartColor = "#FFFFFF";
		
		      // General configuration for the charts with Line gradientStroke
		      gradientChartOptionsConfiguration = {
		          maintainAspectRatio: false,
		          legend: {		              
	                  position: "bottom",	                  
	                  display: true      
		          },
		          tooltips: {
		            bodySpacing: 4,
		            mode:"nearest",
		            intersect: 0,
		            position:"nearest",
		            xPadding:10,
		            yPadding:10,
		            caretPadding:10
		          },
		          responsive: 1,
		          scales: {
		              yAxes: [{
		                display:0,
		                gridLines:0,
		                ticks: {
		                    display: false
		                },
		                gridLines: {
		                    zeroLineColor: "transparent",
		                    drawTicks: false,
		                    display: false,
		                    drawBorder: false
		                }
		              }],
		              xAxes: [{
		                display:0,
		                gridLines:0,
		                ticks: {
		                    display: false
		                },
		                gridLines: {
		                  zeroLineColor: "transparent",
		                  drawTicks: false,
		                  display: false,
		                  drawBorder: false
		                }
		              }]
		          },
		          layout:{
		            padding:{left:0,right:0,top:15,bottom:15}
		          }
		      };
		
		      var ctx = document.getElementById('bigDashboardChart').getContext("2d");
		
		      var gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
		      gradientStroke.addColorStop(0, '#80b6f4');
		      gradientStroke.addColorStop(1, chartColor);
		
		      var gradientFill = ctx.createLinearGradient(0, 200, 0, 50);
		      gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
		      gradientFill.addColorStop(1, "rgba(255, 255, 255, 0.24)");
		
		      var myChart = new Chart(ctx, {
		          type: 'line',
		          data: {
		              labels: {{report01.keys | raw}},
		              datasets: [{
		                  label: "Monto de recibos pagadas",
		                  borderColor: chartColor,
		                  pointBorderColor: chartColor,
		                  pointBackgroundColor: "#1e3d60",
		                  pointHoverBackgroundColor: "#1e3d60",
		                  pointHoverBorderColor: chartColor,
		                  pointBorderWidth: 1,
		                  pointHoverRadius: 7,
		                  pointHoverBorderWidth: 2,
		                  pointRadius: 5,
		                  fill: true,
		                  backgroundColor: gradientFill,
		                  borderWidth: 2,
		                  data: {{report01.values | raw}}
		              },{
		                  label: "Monto de recibos pendientes",
		                  borderColor: '#ff7675',
		                  pointBorderColor: chartColor,
		                  pointBackgroundColor: "#ff7675",
		                  pointHoverBackgroundColor: "#1e3d60",
		                  pointHoverBorderColor: chartColor,
		                  pointBorderWidth: 1,
		                  pointHoverRadius: 7,
		                  pointHoverBorderWidth: 2,
		                  pointRadius: 5,
		                  fill: true,
		                  backgroundColor: gradientFill,
		                  borderWidth: 2,
		                  data: {{report02.values | raw}}
		              }]
		          },
		          options: {
		              layout: {
		                  padding: {
		                      left: 20,
		                      right: 20,
		                      top: 0,
		                      bottom: 0
		                  }
		              },
		              maintainAspectRatio: false,
		              tooltips: {
		                backgroundColor: '#fff',
		                titleFontColor: '#333',
		                bodyFontColor: '#666',
		                bodySpacing: 4,
		                xPadding: 12,
		                mode: "nearest",
		                intersect: 0,
		                position: "nearest"
		              },
		              legend: {
		                  position: "bottom",
		                  fillStyle: "#FFF",
		                  display: false
		              },
		              scales: {
		                  yAxes: [{
		                      ticks: {
		                          fontColor: "rgba(255,255,255,0.4)",
		                          fontStyle: "bold",
		                          beginAtZero: true,
		                          maxTicksLimit: 5,
		                          padding: 10
		                      },
		                      gridLines: {
		                          drawTicks: true,
		                          drawBorder: false,
		                          display: true,
		                          color: "rgba(255,255,255,0.1)",
		                          zeroLineColor: "transparent"
		                      }
		
		                  }],
		                  xAxes: [{
		                      gridLines: {
		                          zeroLineColor: "transparent",
		                          display: false,
		
		                      },
		                      ticks: {
		                          padding: 10,
		                          fontColor: "rgba(255,255,255,0.4)",
		                          fontStyle: "bold"
		                      }
		                  }]
		              }
		          }
		      });
		      
		
		      var cardStatsMiniLineColor = "#fff",
		          cardStatsMiniDotColor = "#fff";
		
		      ctx = document.getElementById('activeUsers').getContext("2d");
		
		      gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
		      gradientStroke.addColorStop(0, '#80b6f4');
		      gradientStroke.addColorStop(1, chartColor);
		
		      gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
		      gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
		      gradientFill.addColorStop(1, "rgba(249, 99, 59, 0.40)");
		
		      myChart = new Chart(ctx, {
		          type: 'line',
		          data: {
		              labels: {{report2.keys | raw}},
		              datasets: [{
		                  label: "Pendientes",
		                  borderColor: "#f96332",
		                  pointBorderColor: "#FFF",
		                  pointBackgroundColor: "#f96332",
		                  pointBorderWidth: 2,
		                  pointHoverRadius: 4,
		                  pointHoverBorderWidth: 1,
		                  pointRadius: 4,
		                  fill: true,
		                  backgroundColor: gradientFill,
		                  borderWidth: 2,
		                  data: {{report2.values | raw}}
		              },{
		              	label: "Pagadas",
		                borderColor: "#3498db",
		                pointBorderColor: "#FFF",
		                pointBackgroundColor: "#3498db",
		                pointBorderWidth: 2,
		                pointHoverRadius: 4,
		                pointHoverBorderWidth: 1,
		                pointRadius: 4,
		                fill: true,
		                backgroundColor: gradientFill,
		                borderWidth: 2,
		              	data: {{report1.values | raw}}
		              }]
		          },
		          options: gradientChartOptionsConfiguration
		      });
		
		
		      ctx = document.getElementById('emailsCampaignChart').getContext("2d");
		
		      gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
		      gradientStroke.addColorStop(0, '#18ce0f');
		      gradientStroke.addColorStop(1, chartColor);
		
		      gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
		      gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
		      gradientFill.addColorStop(1, hexToRGB('#18ce0f',0.4));
		
		      myChart = new Chart(ctx, {
		          type: 'line',
		          data: {
		              labels: {{report3.keys | raw}},
		              datasets: [{
		                  label: "Nuevas",
		                  borderColor: "#18ce0f",
		                  pointBorderColor: "#FFF",
		                  pointBackgroundColor: "#18ce0f",
		                  pointBorderWidth: 2,
		                  pointHoverRadius: 4,
		                  pointHoverBorderWidth: 1,
		                  pointRadius: 4,
		                  fill: true,
		                  backgroundColor: gradientFill,
		                  borderWidth: 2,
		                  data: {{report3.values | raw}}
		              }]
		          },
		          options: gradientChartOptionsConfiguration
		      });
		
		
		      ctx = document.getElementById('insChart').getContext("2d");
		
		      gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
		      gradientStroke.addColorStop(0, '#80b6f4');
		      gradientStroke.addColorStop(1, chartColor);
		
		      gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
		      gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
		      gradientFill.addColorStop(1, "rgba(249, 99, 59, 0.40)");
		
		      myChart = new Chart(ctx, {
		          type: 'line',
		          data: {
		              labels: {{report5.keys | raw}},
		              datasets: [{
		                  label: "Monto de Instalaciones Pendientes",
		                  borderColor: "#f96332",
		                  pointBorderColor: "#FFF",
		                  pointBackgroundColor: "#f96332",
		                  pointBorderWidth: 2,
		                  pointHoverRadius: 4,
		                  pointHoverBorderWidth: 1,
		                  pointRadius: 4,
		                  fill: true,
		                  backgroundColor: gradientFill,
		                  borderWidth: 2,
		                  data: {{report5.values | raw}}
		              },{
		              	label: "Monto de Instalaciones Pagadas",
		                borderColor: "#3498db",
		                pointBorderColor: "#FFF",
		                pointBackgroundColor: "#3498db",
		                pointBorderWidth: 2,
		                pointHoverRadius: 4,
		                pointHoverBorderWidth: 1,
		                pointRadius: 4,
		                fill: true,
		                backgroundColor: gradientFill,
		                borderWidth: 2,
		              	data: {{report4.values | raw}}
		              }]
		          },
		          options: gradientChartOptionsConfiguration
		      });
		      
		      //var e = document.getElementById("activeCountries").getContext("2d");
		
		      /*gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
		      gradientStroke.addColorStop(0, '#2CA8FF');
		      gradientStroke.addColorStop(1, chartColor);
		
		      gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
		      gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
		      gradientFill.addColorStop(1, hexToRGB('#2CA8FF', 0.4));*/



		

			
		
				/*
		      var a =  {
		        type : "line",
		        data : {
		          labels : {{report3.keys | raw}},
		          datasets: [{
		            label: "Active Countries",
		            backgroundColor: gradientFill,
		            borderColor: "#2CA8FF",
		            pointBorderColor: "#FFF",
		            pointBackgroundColor: "#2CA8FF",
		            pointBorderWidth: 2,
		            pointHoverRadius: 4,
		            pointHoverBorderWidth: 1,
		            pointRadius: 4,
		            fill: true,
		            borderWidth: 2,
		            data: {{report3.keys | raw}}
		          }]
		        },
		        options: gradientChartOptionsConfiguration
		      };
		
		        var viewsChart = new Chart(e,a);
		
		
		        // Bar Charts
		         var e = $("#chartSupportRequests");
		
		          if(0!=e.length) {
		              var t = {
		                  labels:["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
		                  datasets:[{
		                      backgroundColor: "#18ce0f",
		                      data: [15, 20, 25, 30, 25, 20, 15, 20, 25, 30, 25, 20]
		                  },
		                  {
		                    backgroundColor: "#f3f3fb",
		                    data: [15, 20, 25, 30, 25, 20, 15, 20, 25, 30, 25, 20]
		                  }
		                ]
		              };
		
		              var chartSupportRequests = new Chart(e, {
		                  type:"bar",
		                  data:t,
		                  options: {
		                      title: {
		                          display: 0
		                      },
		                      tooltips: {
		                          intersect: 0, mode: "nearest", xPadding: 10, yPadding: 10, caretPadding: 10
		                      },
		                      scales: {
		                        yAxes: [{
		                          display:0,
		                          gridLines:0,
		                          ticks: {
		                              display: false
		                          },
		                          gridLines: {
		                              zeroLineColor: "transparent",
		                              drawTicks: false,
		                              display: false,
		                              drawBorder: false
		                          }
		                        }],
		                      },
		                      legend: {
		                          display: 0
		                      },
		                      layout: {
		                          padding: {
		                              left: 0, right: 0, top: 0, bottom: 0
		                          }
		                      }
		                  }
		              }
		            )
		          }*/
		
		  };

    });
  </script>
{% endblock %}
        