{% if list | length > 0 %}
	<div class="table-responsive">
			<table class="table datatable_custom">
				<thead class="text-primary">
					<tr>			
						<th>Nombre</th>
						<th>Monto</th>	
						<th>Descripción</th>										
						{% if permits["ep"] and permits["dp"] %}	
							<th>Acciones</th>
						{% endif %}
						
					</tr>
				</thead>
				<tbody>
				{% for item in list %}
					<tr>
						
						<td>						
							{{ item.name }} 
						</td>
						<td>
							Q.{{ item.amount }}
						</td>
						<td>
							<small>{{ item.description }}</small>
						</td>						
						<td class="list_tools">
		                {% if permits["ep"] %}
							<a href="{{ path('backend_service_edit', {'id': item.serviceId | md5 }) }}" class="btn btn-info btn-icon btn-sm ">
								<i class="fa fa-fw fa-pencil"></i>
							</a>
						{% endif %}
						
						{% if permits["dp"] %}
							<a  href="javascript:;"
								class="btn btn-danger btn-icon btn-sm "
								data-id="{{ item.serviceId }}" 
								data-href="{{ path(
		                            'backend_service_delete',
		                            {'id': item.serviceId | md5 }
		                        ) }}"
		                        data-toggle="modal"
		                        data-target="#confirm-modal">
								<i class="now-ui-icons ui-1_simple-remove"></i>
							</a>
						{% endif %}
						
						</td>
						
					</tr>
				{% endfor %}
				</tbody>
			</table>
	</div>
{% else %}
	<div class='row'>
		<div class='col-md-12 text-center'>
			<h1><i class='fa fa-archive'></i></h1>
			<h2>Aún no hay Servicios</h2>
			<p>Puede agregar nuevos servicios desde la esquina superior derecha de esta pantalla o en el botón de abajo</p>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Agregar Servicio!</a>
		</div>
	</div>
{% endif %}	
