{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plan</h1>

    <table>
        <tbody>
            <tr>
                <th>Planid</th>
                <td>{{ plan.planId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ plan.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ plan.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_plan_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_plan_edit', { 'planId': plan.planId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
