{% if list | length > 0 %}
<div class="table-responsive">
	<table class="table datatable">
	    <thead class="text-primary">                    			
			<th>Nombre</th>
			<th>Departamento</th>
			<th>Descripción</th>
			
			
			<th>Acciones</th>
	    </thead>
	    <tbody>
	    	{% for r in list %}
			<tr>
	    		<td>
	    			<a href="{{path('backend_flow',{pid:r.processListId | md5})}}">
	    				{{ r.name }}
	    			</a>
	            </td>
	            <td>
	    			{{ r.department }}
	            </td>                                
	            <td>
	                <small>{{ r.description }}</small>                           
	            </td>
	                               	            
				<td>
					<a href="{{ path('backend_flow', {pid: r.processListId | md5}) }}" type="button" rel="tooltip" class="btn btn-warning btn-icon btn-sm ">
						<i class="now-ui-icons ui-1_zoom-bold"></i>
					</a>
					
					{% if permits["ep"] %}
	        		<a href="{{ path('backend_process_edit', {id: r.processListId | md5}) }}" type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm ">
						<i class="fa fa-pencil"></i>
					</a>                  
					{% endif %}  
					{% if r.processCount == 0 %}                        	            		                
					{% if permits["dp"] %}
						<a href="javascript:;"
						    class="btn btn-danger btn-icon btn-sm "
						    data-id="{{ r.processListId }}" 
						    data-href="{{ path(
						        'backend_process_delete',
						        {'id': r.processListId | md5}
						    ) }}"
						    data-toggle="modal"
						    data-target="#confirm-modal">
							<i class="now-ui-icons ui-1_simple-remove"></i>
						</a>
					{% endif %}    
					{% endif %}         
	        	</td>                
			</tr>
			{% endfor %}
	</table>    
</div>
{% else %}
<div class='row'>
	<div class='col-md-12 text-center'>
		<h1><i class='now-ui-icons business_bulb-63'></i></h1>
		<h2>Es hora de crear procesos</h2>
		<p>Un proceso contiene flujos de trabajo, con pasos especificos.<br>Cada puesto de la empresa colabora para completarlos satisfactoriamente.</p>
		<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Agregar procesos!</a>
	</div>
</div>
{% endif %}