<div class="row">
	<div class="col-lg-6 col-xs-6">
		<div class="small-box bg-green">
			<div class="inner">
				<h3 id='total_available'>
					-
				</h3>
				<p>Total Equipos disponibles</p>
			</div>
			<div class="icon">
				<i class="ion ion-stats-bars"></i>
			</div>					
		</div>				
	</div>
	<div class="col-lg-6 col-xs-6">
		<div class="small-box bg-red">
			<div class="inner">
				<h3 id='total_unavailable'>
					-
				</h3>
				<p>Total equipos fuera de servicio</p>
			</div>
			<div class="icon">
				<i class="ion ion-stats-bars"></i>
			</div>					
		</div>				
	</div>
</div>		

<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Monitor en tiempo real</h3>
			</div>	
			<div class="box-body table-responsive no-padding">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Descripción</th>
						<th>Grupo</th>								
						<th>Estado del equipo</th>
						<th>Observación</th>
						<th>Tiempo</th>
					</tr>	
					</thead>
					<tbody id='dynamic_table'>
					
					</tbody>
				</table>
			</div>
		</div>
	</div>	
</div>

<script>
	
	$(document).ready(function()
	{
		var commentsRef = firebase.database().ref('equipments');		
		commentsRef.on('value', function(snapshot) {		  
		  construct_table(snapshot.val())
		});	
		
		function construct_table(snapshot)
		{			
			var total_objects = snapshot.length;
			var row   = null;
			var total_available = 0;
			var total_unavailable = 0;
			
			for (i = 1; i < total_objects; i++) {	
				
				var class_name = null;	
				if(snapshot[i].status == 'FUERA DE SERVICIO')
				{
					class_name = "red_row";
					total_unavailable += 1;
				} else {
					total_available += 1;
				}
				if(snapshot[i].status == 'Laborando')
				{
					class_name = 'green_row';
				}
							
				row += "<tr id='equipment_"+i+"' class='"+class_name+"'>";
				row += "<td id='equipment_"+i+"_id'>"+i+"</td>";				
				row += "<td id='equipment_"+i+"_name'>"+snapshot[i].name+"</td>";
				row += "<td id='equipment_"+i+"_description'>"+snapshot[i].description+"</td>";
				row += "<td id='equipment_"+i+"_group'>"+snapshot[i].group+"</td>";
				row += "<td id='equipment_"+i+"_status'><b>"+snapshot[i].status+"</b></td>";
				row += "<td id='equipment_"+i+"_comments'>"+snapshot[i].comments+"</td>";
				row += "<td id='equipment_"+i+"_offline_since'>"+snapshot[i].offline_since+"</td>";
				row += "</tr>";				
			}
			
			$('#total_available').html(total_available);
			$('#total_unavailable').html(total_unavailable);
			$('#dynamic_table').html(row);
			
		};
		
	})		
	
</script>