<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Actualizar información en Monitor</h3>
			</div>	
			<div class="box-body table-responsive no-padding">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<!--<th>Descripción</th>-->
						<!--<th>Grupo</th>-->								
						<th>Estado del equipo</th>
						<th>Observación</th>
						<!--<th>Tiempo</th>-->
						<th></th>
					</tr>	
					</thead>
					<tbody>
						{% for snap in snapshot %}
							{% if snap | length > 0 %}
								<tr>
									<td>{{ loop.index0 }}</td>
									<td>{{ snap.name }}</td>
									<!--<td>{{ snap.description }}</td>-->
									<!--<td>{{ snap.group }}</td>-->
									<td>
										<select class='form-control' id='status_{{ loop.index0 }}'>
											<optgroup label="Opción seleccionada">
												<option value='{{ snap.status }}'>{{ snap.status }}</option>
											</optgroup>
											<optgroup label="Opciones">
												
												{% if snap.status != "Laborando" %}
													<option value='Laborando'>Laborando</option>
												{% endif %}
												{% if snap.status != "FUERA DE SERVICIO" %}
													<option value='FUERA DE SERVICIO'>FUERA DE SERVICIO</option>\
												{% endif %}	
											</optgroup>		
										</select>
										
									</td>
									<td>
										<input type="text" value="{{ snap.comments }}" class='form-control' id='comments_{{ loop.index0 }}'>
									</td>
									<!--<td>{{ snap.offline_since }}</td>-->
									<td>
										<a href="javascript:void(0)" onclick="updateRow({{ loop.index0 }})" class='btn btn-success'>Actualizar</a>
									</td>
								</tr>	
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>	
</div>

<script>
	
	function updateRow(id)
	{
		var value = $('#status_'+id).val();
		var cvalue = $('#comments_'+id).val();
		firebase.database().ref('equipments/'+id+'/').update({
			status:value,
			comments:cvalue 
		});
		
		$.simplyToast('Actualización exitosa','success');
				
	}
	
</script>	
</script>
