{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class='row'>
	<div class='col-md-3'></div>
	<div class='col-md-6'>
		<div class="card">
		    <div class="card-header">        
		        <div class='row'>
		        	<div class='col-md-12'>
		        		<h4 class="card-title">
		        			<a href="{{ path('backend_department') }}" class="btn btn-default btn-icon">
		        				<i class='now-ui-icons arrows-1_minimal-left'></i>
		        			</a> 
		        			Editar Departamento
		        		</h4>		
		        	</div>		        	 
		        </div>		              
		    </div>
		    <div class="card-body">
		    	{{ include('@App/Backend/Department/form.html.twig', { 'form': form }) }}				    	
			</div>             
		</div>
	</div>
	<div class='col-md-3'></div>
</div>


{% endblock %}
{% block extra_scripts %}
	
{% endblock %}
        