<form method="post" action="" id="departmentValidation" class="validateForm" autocomplete="false" {{form_enctype(form)}}>      			                  
	<div class="form-group has-label">
	    <label>Nombre de Departamento *</label>	    
	    {{form_widget(form.name, {'attr': {'class': 'required form-control','required':'true' }}) }}
	</div>		        	
	<div class="category form-category">* Campos requeridos</div>
	
	<button class='btn btn-success float-right' type='submit'>Guardar</button>
	{{ form_widget(form._token) }}
</form>        
  

      
      