{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		<h4 class="card-title"> Mi Empresa</h4>		
        	</div>
        	{% if permits["wp"] %}
        	<div class='col-md-6'>
        		<button type="button" class='btn btn-primary float-md-right btn-icon btn-round' data-toggle="modal" data-target="#openModal">
        			<i class='now-ui-icons ui-1_simple-add'></i>	        			
        		</button>
        	</div>
        	{% endif %}
        </div>        
    </div>
    <div class="card-body">    	
    	
    	
    	<div id="chart_div" style='overflow:auto'></div>
    	<hr>
        {{ include('@App/Backend/Department/list.html.twig', { 'list': list }) }}
        
       
	</div>             
</div>


<!-- The Modal -->
<div class="modal fade" id="openModal">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
	    <h4 class="modal-title" style='margin-top:0px'>Agregar departamento</h4>		
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
      <div class="modal-body" id='modalContent1'>
      	  {{ include('@App/Backend/Department/form.html.twig', { 'form': form }) }}
      </div>      
      <!--div class="modal-footer float-right">        
      </div-->	    
    </div>
  </div>
</div>
  
{{ include(
	'@App/Backend/confirm_modal.html.twig',
	{
		'form': form,
		'confirmQuestion': '¿Está seguro de eliminar este registro?'
	}
) }}  
       
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
	google.charts.load('current', {packages:["orgchart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');

        // For each orgchart box, provide the name, manager, and tooltip to show.
        /*data.addRows([
        	
          [{v:'Mike', f:'Mike<div style="color:red; font-style:italic">President</div>'},
           '', 'The President'],
          [{v:'Jim', f:'Jim<div style="color:red; font-style:italic">Vice President</div>'},
           'Mike', 'VP'],
          ['Alice', 'Mike', ''],
          ['Bob', 'Jim', ''],
          ['Carol', 'Bob', '']
          
        ]);*/
       data.addRows([
       		{{posChart | raw}}
       ]);

        // Create the chart.
        var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
        // Draw the chart, setting the allowHtml option to true for the tooltips.
        chart.draw(data, {allowHtml:true});
      }
      
      



    $('#confirm-modal').modal();

    $('#confirm-modal').on('show.bs.modal', function(e) {
        $(this).find('#btn-ok').attr('href', $(e.relatedTarget).data('href'));

        // Get the question text
        var text = $(this).find('#question-p').text();

        // Replace [ID] with the data 'id'
        var replaceText = "<span class='delete-id'>" + $(e.relatedTarget).data('id') + "</span>";
        text = text.replace('[ID]', replaceText);
        $(this).find('#question-p').html(text);
    });

    $('#confirm-modal').on('hidden.bs.modal', function (e) {
        // Switch back to [ID]
        $(this).find('#question-p').find('span.delete-id').replaceWith('[ID]');
    })
    
    $(document).ready(function() {
    	
	    setFormValidation('#departmentValidation');	    
	});
</script>  
{% endblock %}
        