{% if list | length > 0 %}
<div class="table-responsive">
	<table class="table datatable">
	    <thead class="text-primary">                    			
			<th>Departamento</th>
			<th>Colaboradores</th>			
			{# <th>Fecha de alta</th> #}
			<!--th>Creador</th-->
			<th>Acciones</th>
	    </thead>
	    <tbody>
	    	{% for r in list %}
			<tr>
	    		<td>
	    			<a href="{{path('backend_user',{did:r.departmentId | md5})}}">
	    				{{ r.name }}
	    			</a>
	            </td>    
	            <td>	            	
            		{% if r.total_users > 0 %}            		
            			<a href="{{path('backend_user',{did:r.departmentId | md5})}}" class='btn btn-success btn-sm'>
            				<b><i class='now-ui-icons users_single-02'></i> {{ r.total_users }}</b>
            			</a>	            		
            		{% else %}
            			Ninguno
            		{% endif %}	            	
	            </td>                        	            
	            {#<td>                            
	                {{ r.created_at | date("m/d/Y") }}                            
	            </td>#}
	              	            
				<td>
					
					<a href="{{ path('backend_user', {did: r.departmentId | md5}) }}" type="button" rel="tooltip" class="btn btn-warning btn-icon btn-sm ">
						<i class="now-ui-icons ui-1_zoom-bold"></i>
					</a>
					
					{% if permits["ep"] %}
	        		<a href="{{ path('backend_department_edit', {id: r.departmentId | md5}) }}" type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm ">
						<i class="fa fa-pencil"></i>
					</a>                  
					{% endif %}    
					{% if r.position_count == 0 %}                      	            		                
					{% if permits["dp"] %}
						<a href="javascript:;"
						    class="btn btn-danger btn-icon btn-sm "
						    data-id="{{ r.departmentId }}" 
						    data-href="{{ path(
						        'backend_department_delete',
						        {'id': r.departmentId | md5}
						    ) }}"
						    data-toggle="modal"
						    data-target="#confirm-modal">
							<i class="now-ui-icons ui-1_simple-remove"></i>
						</a>
					{% endif %}  
					{% endif %}           
	        	</td>                
			</tr>
			{% endfor %}
	</table>    
</div>
{% else %}
<div class='row'>
	<div class='col-md-12 text-center'>
		<h1><i class='now-ui-icons design_bullet-list-67'></i></h1>
		<h2>Aún no hay Departamentos</h2>
		<p>Necesita agregar departamentos a su empresa. Una vez agregados, podrá añadir colaboradores<br>a cada departamento y así ordenar su organigrama empresarial.</p>
		<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Agregar departamentos!</a>
	</div>
</div>
{% endif %}
