<div class="box-header with-border">
    <h3 class="box-title">
        Subir Archivo de Excel
    </h3>
</div>
{{ form_start(
    form,
    {
        'action': path,
        'attr': {
            'id': id
        }
    }
) }}
    <div class="box-body">
    	<p>Seleccione el archivo que desea subir. El sistema notificará si existen errores.</p>
    	<div class='well'>
        <table class="tableForm ">
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="form-group">
                            {{ form_row(form.file) }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="formButtons">
            {{ form_row(form.save) }}
        </div>
		</div>
        {{ form_errors(form) }}
    </div>
   
{{ form_end(form) }}