<section class="content-header">
    <h1>{{ title }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('backend_main') }}">
                <i class="fa fa-dashboard"></i>
                Home
            </a>
        </li>
        <li class="active">{{ title }}</li>
    </ol>
</section>



<section class="content">
    {{ include('@App/Backend/flash_message.html.twig') }}
    

    {% if permits["wp"] %}
        {% if form %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary collapsed-box">
                        <div class="box-header with-border">
                            <h3  class="box-title">Agregar un {{ singleTitle }}</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool"
                                    data-widget="collapse">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        {{ include(formPath, {
                            'form': form
                        } ) }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    
    {% if permits["rp"] %}
        <div class="row">
            <div class="col-xs-12">
                {{ include(listPath, { 'entities': entities }) }}
            </div>
        </div>
    {% endif %}
    
    {{ include(
        '@App/Backend/confirm_modal.html.twig',
        {
            'confirmQuestion': deleteQuestion
        }
    ) }}
</section>
