<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>SIST - Maxima</title>


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ asset('css/site/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ asset('css/site/now-ui-dashboard.css')}}">
    <link rel="stylesheet" href="{{ asset('css/site/demo.css')}}">

	</head>
	<body>
		
		

		{% block body %}
		{% endblock %}
		
		

		<!-- For Js Library -->
		<script src="{{ asset('js/site/core/jquery.min.js')}}"></script>
		<script src="{{ asset('js/site/core/bootstrap.min.js')}}"></script>
		<script src="{{ asset('js/site/core/popper.min.js')}}"></script>
		<script src="{{ asset('js/site/plugins/bootstrap-notify.js')}}"></script>
		<script src="{{ asset('js/site/plugins/chartjs.min.js')}}"></script>
	    <script src="{{ asset('js/site/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
	    <script src="{{ asset('js/site/now-ui-dashboard.js')}}"></script>
	    <script src="{{ asset('js/site/demo.js')}}"></script>
		
		{% for flash_message in app.session.flashbag.get('success_message') %}				
			<script>	
				nowuiDashboard.showNotification('top','right','<b>{{ flash_message|raw }}</b>','success');
			</script>	
		{% endfor %}
		{% for flash_message in app.session.flashbag.get('error_message') %}		
			<script>	
				nowuiDashboard.showNotification('top','right','<b>{{ flash_message|raw }}</b>','danger');
			</script>			
		{% endfor %}
		{% for flash_message in app.session.flashbag.get('alert_message') %}
			<script>
				nowuiDashboard.showNotification('top','right','<b>{{ flash_message|raw }}</b>','warning');
			</script>	
		{% endfor %}
		
		{% block extra_scripts %}
		{% endblock %}
			
		<div id="fb-root"></div>
		
		
	</body>	
</html>
