<!-- The Modal -->
<div class="modal" id="confirm-modal" data-show='false'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">            	
                <h5 id="exampleModalLabel" class="modal-title">Advertencia</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>                                       
            </div>
            <div class="modal-body">
                <p id="question-p">
                    {{ confirmQuestion }}
                </p>
            </div>
            <div class="modal-footer">
                
                <a class="btn btn-danger" id="btn-ok" style='color:#fff'>
                    Eliminar
                </a>
                <button type="button" class="btn btn-info pull-left" data-dismiss="modal">
                    Cancelar, No deseo Eliminar
                </button>
            </div>
        </div>
    <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>