<div class="row">
	<div class="col-md-12">
		{% for flash_message in app.session.flashbag.get('success_message') %}
		<div class="alert alert-success alert-dismissible">
			<!--<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong></strong>-->
			{{ flash_message|raw }}
		</div>
		{% endfor %}

		{% for flash_message in app.session.flashbag.get('error_message') %}
		<div class="alert alert-danger alert-dismissible">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>¡Error!</strong>
			{{ flash_message|raw }}
		</div>
		{% endfor %}

		{% for flash_message in app.session.flashbag.get('alert_message') %}
		<div class="alert alert-warning alert-dismissible">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>¡Atenci&oacute;n!</strong>
			{{ flash_message|raw }}
		</div>
		{% endfor %}
	</div>
</div>

