<form method="post" action="" id="userRoleForm" class="validateForm"
	autocomplete="false">
	<!-- /.box-header -->
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.name, "Nombre") }}
					{{form_widget(form.name, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.active, "Estado") }}
					{{form_widget(form.active, {'attr': {'class': 'required form-control' }}) }}
				</div>				
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.description, "Descripción" ) }}
					{{form_widget(form.description, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>
			<div class='col-md-12'>
				<div class='form-group'>
					<button type="reset" onclick="window.location='{{ path('backend_user_roles') }}'" class="btn btn-danger">Cancelar</button>
					<button type="submit" class="btn btn-primary pull-right">Guardar Datos</button>
				</div>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	
		
	
	{{ form_widget(form._token) }}
</form>
