{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-10'>
        		<h4 class="card-title">         			
        			Información de la Empresa
        		</h4>		
        	</div>        	
        </div>        
    </div>
    <div class="card-body">
    
    	
    	<h3>Documentos del Departamento de Ventas</h3>
    	<div class='row'>
    		<div class='col-md-3 text-center'>
		        <div class='card'>
		        	<div class='card-header'>
		        		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/.docx_icon.svg/2000px-.docx_icon.svg.png" style='width:80px;'>
		        	</div>
		        	<div class='card-body'>
		        		Ordén de Producción
		        	</div>
		        </div>
	        </div>
	        <div class='col-md-3 text-center'>
		        <div class='card'>
		        	<div class='card-header'>
		        		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/.docx_icon.svg/2000px-.docx_icon.svg.png" style='width:80px;'>
		        	</div>
		        	<div class='card-body'>
		        		Formato de Cotización
		        	</div>
		        </div>
	        </div>
	        <div class='col-md-3 text-center'>
		        <div class='card'>
		        	<div class='card-header'>
		        		<img src="https://banner2.kisspng.com/20180319/hew/kisspng-microsoft-excel-computer-icons-microsoft-office-co-excel-icons-5ab0647a0e3309.5736819215215094980582.jpg" style='width:115px;'>
		        	</div>
		        	<div class='card-body'>
		        		Listado de precios
		        	</div>
		        </div>
	        </div>
        </div>
        
        
        <h3>Documentos del Departamento Administrativo </h3>
    	<div class='row'>
    		<div class='col-md-3 text-center'>
		        <div class='card'>
		        	<div class='card-header'>
		        		<img src="https://banner2.kisspng.com/20180319/hew/kisspng-microsoft-excel-computer-icons-microsoft-office-co-excel-icons-5ab0647a0e3309.5736819215215094980582.jpg" style='width:115px;'>
		        	</div>
		        	<div class='card-body'>
		        		Historial de proyectos realizados 2018
		        	</div>
		        </div>
	        </div>
	        <div class='col-md-3 text-center'>
		        <div class='card'>
		        	<div class='card-header'>
		        		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/.docx_icon.svg/2000px-.docx_icon.svg.png" style='width:80px;'>
		        	</div>
		        	<div class='card-body'>
		        		Formato de Prestamos Internos
		        	</div>
		        </div>
	        </div>
	        <div class='col-md-3 text-center'>
		        <div class='card'>
		        	<div class='card-header'>
		        		<img src="https://banner2.kisspng.com/20180319/hew/kisspng-microsoft-excel-computer-icons-microsoft-office-co-excel-icons-5ab0647a0e3309.5736819215215094980582.jpg" style='width:115px;'>
		        	</div>
		        	<div class='card-body'>
		        		Formato de<br>viáticos
		        	</div>
		        </div>
	        </div>
	         <div class='col-md-3 text-center'>
		        <div class='card'>
		        	<div class='card-header'>
		        		<img src="https://banner2.kisspng.com/20180319/hew/kisspng-microsoft-excel-computer-icons-microsoft-office-co-excel-icons-5ab0647a0e3309.5736819215215094980582.jpg" style='width:115px;'>
		        	</div>
		        	<div class='card-body'>
		        		Rerpote de eficiencia 2018
		        	</div>
		        </div>
	        </div>
	         <div class='col-md-3 text-center'>
		        <div class='card'>
		        	<div class='card-header'>
		        		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/.docx_icon.svg/2000px-.docx_icon.svg.png" style='width:80px;'>
		        	</div>
		        	<div class='card-body'>
		        		Opciones para remodelación de la oficina
		        	</div>
		        </div>
	        </div>
       </div>
        
        
	</div>             
</div>


       
{% endblock %}
{% block extra_scripts %}
  
{% endblock %}
        