{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-10'>
        		<h4 class="card-title">         			
        			Información de la Empresa
        		</h4>		
        	</div>        	
        </div>        
    </div>
    <div class="card-body">
    	<div class='row'>	
	    	<div class='col-md-12'>
		        <div class='card'>
		        	<div class='card-header'>
		        		<h1>Historia</h1>
		        	</div>
		        	<div class='card-body'>
		        		Fundada en el año 2011 la empresa SEM.GT inicia operaciones en la ciudad de Guatemala, inicialmente en la zona 6 y posteriormente es trasladada a la zona 10.
SEM.GT inicia su operación con áreas limitadas de servicio al público, iniciando con el servicio de Mobiliario y Equipo y el servicio de Metal, es decir, todo lo relacionado a mobiliario de oficina, tanto en la reparación como en la venta de mobiliario y equipo nuevo, de igual manera prestaba servicios de mantenimiento de metal, aspectos orientados al ámbito de herrería y diseños en metal.
Por años estuvo incursionando en ese nicho de mercado, fue posteriormente, 5 años después, en donde se diversifica con mas servicios, entre ellos: madera, electricidad, vidriería, aluminio, PVC y construcción, de igual manera diversifica sus clientes al atender a empresas.
Actualmente SEM.GT no solo cuenta con la prestación de los servicios indicados, sino también con carteras de clientes individuales y empresariales haciendo de esta empresa un aleado estratégico en materia de servicios de mantenimiento y ante todo una empresa multidisciplinaria que presta servicios integrales y diversificados.
		        	</div>
		        </div>
	        </div>
    	</div>
    	<div class='row'>	
	    	<div class='col-md-6'>
		        <div class='card'>
		        	<div class='card-header'>
		        		<h1>Misión</h1>
		        	</div>
		        	<div class='card-body'>
		        		Entregar servicios de alta calidad a todos nuestros clientes individuales y empresariales con garantía, rapidez y precio justo.
		        	</div>
		        </div>
	        </div>
	        <div class='col-md-6'>
		        <div class='card'>
		        	<div class='card-header'>
		        		<h1>Visión</h1>
		        	</div>
		        	<div class='card-body'>
		        		Ser reconocidos a nivel nacional como una organización integral prestación de servicios de mantenimiento para clientes individuales y empresariales.

		        	</div>
		        </div>
	        </div>
    	</div>
    	
    	        
        
	</div>             
</div>


       
{% endblock %}
{% block extra_scripts %}
  
{% endblock %}
        