{% extends '@App/Backend/base.html.twig' %}
{% block body %}


<br><br>
<div class='row'>
	<div class='col-md-12 text-center'>
		<h1>Agenda de Trabajo</h1>
	</div>
</div>
<div class="row">
    <div class="col-md-10 ml-auto mr-auto">
    	
        <div class="card card-calendar">
            <div class="card-body ">
                <div id="fullCalendar"></div>
            </div>
        </div>
    </div>
</div>             

{% endblock %}
{% block extra_scripts %}
<script>
  $(document).ready(function()
  {      

        today = new Date();
        y = today.getFullYear();
        m = today.getMonth();
        d = today.getDate();

        $('#fullCalendar').fullCalendar({
        	lang: 'es',
            viewRender: function(view, element) {
                // We make sure that we activate the perfect scrollbar when the view isn't on Month
                if (view.name != 'month'){
                    $(element).find('.fc-scroller').perfectScrollbar();
                }
            },
            header: {
				left: 'title',
				center: 'month,agendaWeek,agendaDay',
				right: 'prev,next,today'
			},
			defaultDate: today,
			selectable: true,
			selectHelper: true,
            views: {
                month: { // name of view
                    titleFormat: 'MMMM YYYY'
                    // other view-specific options here
                },
                week: {
                    titleFormat: " MMMM D YYYY"
                },
                day: {
                    titleFormat: 'D MMM, YYYY'
                }
            },

			select: function(start, end) {

                // on select we show the Sweet Alert modal with an input
				swal({
    				title: 'Registrar eventos adicionales',
    				html: '<div class="form-group">' +
                            '<input class="form-control" placeholder="Titulo de evento" id="input-field">' +
                        '</div>',
    				showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false
                }).then(function(result) {

                    var eventData;
                    event_title = $('#input-field').val();

                    if (event_title) {
    					eventData = {
    						title: event_title,
    						start: start,
    						end: end
    					};
    					$calendar.fullCalendar('renderEvent', eventData, true); // stick? = true
    				}

    				$calendar.fullCalendar('unselect');

                });
			},
			editable: true,
			eventLimit: true, // allow "more" link when too many events


            // color classes: [ event-blue | event-azure | event-green | event-orange | event-red ]
            events: [
				{
					title: 'Proyecto 123',
					start: new Date(y, m, 1),
                    className: 'event-default'
				},
				{
					title: 'Reunión',
					start: new Date(y, m, d-1, 10, 30),
					allDay: false,
					className: 'event-green'
				},
				{
					title: 'Edificio TELUS',
					start: new Date(y, m, d+7, 12, 0),
					end: new Date(y, m, d+7, 14, 0),
					allDay: false,
					className: 'event-red'
				},
				{
					title: 'Edificio PRADERA',
					start: new Date(y, m, d-2, 12, 0),
					allDay: true,
					className: 'event-azure'
				},
				{
					title: 'Reparación Ventana',
					start: new Date(y, m, d+1, 19, 0),
					end: new Date(y, m, d+1, 22, 30),
					allDay: false,
                    className: 'event-azure'
				},
				{
					title: 'Reparación de paquete 1',
					start: new Date(y, m, 21),
					end: new Date(y, m, 22),
					
					className: 'event-orange'
				},
				{
					title: 'Terminar trabajo',
					start: new Date(y, m, 21),
					end: new Date(y, m, 22),
					
					className: 'event-orange'
				}
			]
		});
	});	
</script>
{% endblock %}
        