
{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-10'>
        		<h4 class="card-title">         			
        			Comunicación Interna
        		</h4>		
        	</div>        	
        </div>        
    </div>
    <div class="card-body">
    	
    	<div class='row'>
	    	<div class='col-md-3'></div>
	    	<div class='col-md-6 card'>
	    		<div class='row ' style="padding:10px;">
	    			<div class='col-md-2'>
	    				<br>
	    				<img src="https://technext.github.io/material-lite/assets/images/users/1.jpg" class='avatar'>	    				
	    			</div>
	    			<div class='col-md-10'>
	    				<h4 style='padding:0px;margin:0px;'>Julio Herrera</h4>
	    				<p>1 Diciembre 2018, 14:32</p>
	    			</div>
	    		</div>
	    		<div class='row'>	    			
	    			<div class='col-md-12'>
	    				<p>¡Hoja jovenes! Por favor no olviden que nuestro convivio esta cerca y debemos votar por el lugar.
	    					En los documentos del a empresa pueden ver las opciones que hay. Recuerden que debemos decidir antes del 15.</p>
	    			</div>
	    		</div>
	    	</div>
	    	<div class='col-md-3'></div>
        </div>
        
            	
    	<div class='row'>
	    	<div class='col-md-3'></div>
	    	<div class='col-md-6 card'>
	    		<div class='row' style="padding:10px;">
	    			<div class='col-md-2'>
	    				<br>
	    				<img src="https://technext.github.io/material-lite/assets/images/users/2.jpg" class='avatar'>	    				
	    			</div>
	    			<div class='col-md-10'>
	    				<h4 style='padding:0px;margin:0px;'>Susana Noriega</h4>
	    				<p>22 Noviembre 2018, 09:32</p>
	    			</div>
	    		</div>
	    		<div class='row'>	    			
	    			<div class='col-md-12'>
	    				<p>Hola Muchis! Les pido de favor que si alguien tiene cobijas o sueteres que no les sirvan me lo puedan dar,
	    					estaremos haciendo paquetes de donaciones en el hospital san juan de Dios. Recuerden que es mejor dar que recibir.
	    					Estare recibiendo las donaciones el día de mañana en el parqueo</p>
	    			</div>
	    		</div>
	    	</div>
	    	<div class='col-md-3'></div>
        </div>
        
        
        
    
        
        <div class='row'>
	    	<div class='col-md-3'></div>
	    	<div class='col-md-6 card'>
	    		<div class='row' style="padding:10px;">
	    			<div class='col-md-2'>
	    				<br>
	    				<img src="https://technext.github.io/material-lite/assets/images/users/4.jpg" class='avatar'>	    				
	    			</div>
	    			<div class='col-md-10'>
	    				<h4 style='padding:0px;margin:0px;'>Eduardo Gonzalez</h4>
	    				<p>22 Noviembre 2018, 09:32</p>
	    			</div>
	    		</div>
	    		<div class='row'>	    			
	    			<div class='col-md-12'>
	    				<p>Hola Equipo. El día de ayer dejaron unos platos sucios en la cocineta, por favor recuerden que no tenemos en este momento
	    					personal de limpieza y debemos hacernos responsables de lo que utilizamos. Les encargo mucho la colaboración para hacer de la oficina
	    					un lugar agradable para todos.</p>
	    			</div>
	    		</div>
	    	</div>
	    	<div class='col-md-3'></div>
        </div>
	</div>             
</div>


       
{% endblock %}
{% block extra_scripts %}
  
{% endblock %}
        