
{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-10'>
        		<h4 class="card-title">         			
        			Asistente Virtual
        		</h4>		
        	</div>        	
        </div>        
    </div>
    <div class="card-body">
    	
    	<p>Ingrese su consulta y nuestro asistente virtual le ayudara</p>
		<div class='row'>
			<div class='col-md-12'>
				<iframe src='https://webchat.botframework.com/embed/Rocibot?s=DKvs3WTVPM4.cwA.lDI.ibN0oj0-zGkr4eYaW4dk1zweo_G5rsmflsWaWH7pDz4'  style='width: 100%; min-height: 500px;'></iframe>
			</div>
		</div>
        
	</div>             
</div>


       
{% endblock %}
{% block extra_scripts %}
  
{% endblock %}
        