{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-9'>
        		<h4 class="card-title">
        			Cierre de caja     			
        		</h4>        				
        	</div>
        	<div class='col-md-3'>
        		
        	</div>	 	
        </div>        
    </div>
    <div class="card-body">
    	<form method='POST'>
    	<div class='row'>
    		<div class='col-md-3'></div>
    		<div class='col-md-6 text-center'>
    			<p>Seleccione al usuario que desea cuadrar</p>
    			<select class='form-control' name='selected_user'>
    				<option></option>
    				{% for item in userList %}
    					<option value='{{item.userId}}'>{{item.firstName}} {{item.lastName}}</option>
    				{% endfor %}
    			</select>
    		</div> 
    		<div class='col-md-3'></div>   		
    	</div>    	
    	<div class='row'>
    		<div class='col-md-3'></div>
    		<div class='col-md-6 text-center'>
    			<button type='submit' class='btn btn-primary btn-round'>Ver monto pendiente</button>
    		</div> 
    		<div class='col-md-3'></div>   		
    	</div> 
    	</form>  
    	<br> 	    	    	
	</div>	           
</div>


{% if pendingAmountDetails %}
<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-9'>
        		<h4 class="card-title">
        			Monto pendiente     			
        		</h4>        				
        	</div>
        	<div class='col-md-3'>
        		
        	</div>	 	
        </div>        
    </div>
    <div class="card-body">
    	<form method='post' id='reportForm'>
    		
    		<input type='hidden' value="{{selectedUser}}" name='report_user_id'>
    	
    	<div class='row'>	    	
	    	<div class='col-md-12 table-responsive'>
	    		<table class='table'>
	    			<thead>
	    				<tr>
	    					<th>#</th>
	    					<th>Cliente</th>
	    					<th>Cuenta</th>
	    					<th>Monto</th>
	    					<th>Descuento</th>
	    					<th>Pagado</th>
	    					<th>Corresponde a</th>
	    					<th>Fecha pago</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				{% set total_td = 0 %}
	    				{% for item in pendingAmountDetails %}
	    				<tr>
	    					<td>
	    						{{item.invoice_id}}
	    					</td>
	    					<td>
	    						{{item.client_name}}
	    					</td>
	    					<td>
	    						{{item.account_name}}
	    					</td>
	    					<td>
	    						Q.{{item.amount | number_format(2, '.', ',') }}
	    					</td>
	    					<td>
	    						Q.{{item.discount | number_format(2, '.', ',') }}
	    					</td>
	    					<td>
	    						{% set total_payed = item.amount - item.discount %}
	    						{% set total_td = total_td+total_payed %}
	    						Q.<span class='total_amounts'>{{total_payed | number_format(2, '.', ',') }}</span>
	    					</td>
	    					<td>
	    						{{item.created_at_month}} / {{item.created_at_year}}
	    					</td>
	    					<td>
	    						{{item.payed_at | date("Y-m-d H:i:s") }}
	    					</td>
	    				</tr>
	    				{% endfor %}
	    				<tr>
	    					<td colspan="6" style='text-align:right'>
	    						Este usuario debe<br>reportar esta cantidad:
	    					</td>
	    					<td id='total_td'>
	    						<input type='hidden' value="{{total_td}}" name='report_pending_amount'>
	    						<h3 style='padding:0px;margin-bottom:0px;'>Q.{{total_td | number_format(2, '.', ',') }}</h3>
	    					</td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>	
    	</div>
    	<div class='row'>
	    	<div class='col-md-3'></div>
	    	<div class='col-md-6 text-center'>
	    		<p>Comentarios:</p>
	    		<textarea class='form-control' name='report_comments'></textarea>
	    	</div>
	    	<div class='col-md-3'></div>	
    	</div>
    	<div class='row'>
	    	<div class='col-md-3'></div>
	    	<div class='col-md-6 text-center'>
	    		<a href="javascript:void(0)" class='btn btn-secondary'id='reportCut'>Reportar cuadre</a>
	    	</div>
	    	<div class='col-md-3'></div>	
    	</div>  
    	</form>     	
    	<br><br>
	</div>	           
</div>
{% else %}
	{% if selUserObject %}
		<div class="card">
		    <div class="card-header">        
		        <div class='row'>
		        	<div class='col-md-9'>
		        		<h4 class="card-title">
		        			Monto pendiente     			
		        		</h4>        				
		        	</div>
		        	<div class='col-md-3'>
		        		
		        	</div>	 	
		        </div>        
		    </div>
		    <div class="card-body">
		    	<div class='row'>
			    	<div class='col-md-1'></div>
			    	<div class='col-md-10 text-center'>
			    		<h3>Cuadrando con {{selUserObject.firstName}} {{selUserObject.lastName}}</h3>	    		
			    		<h4>Este usuario se encuentra al día</h4>
			    		<h1><i class='fa fa-check-circle-o' style='color:green'></i></h1>
			    	</div>
			    	<div class='col-md-1'></div>	
		    	</div>
			</div>	           
		</div>
	{% endif %}
{% endif %}

{% if cutList %}
<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-9'>
        		<h4 class="card-title">
					Cuadres ya realizados     			
        		</h4>        				
        	</div>
        	<div class='col-md-3'>
        		
        	</div>	 	
        </div>        
    </div>
    <div class="card-body">
    	<table class='table'>
    		<thead>
    			<tr>
    				<th>Monto reportado</th>
    				<th>Fecha de reporte</th>
    				<th>Dinero recibido por</th>
    				<th>Comentarios</th>
    			</tr>
    		</thead>
    		<tbody>
    			{% for item in cutList %}
    			<tr>
    				<td>
    					<a href="{{ path('backend_payment_invoice_cut_print',{cutId:item.paymentInvoiceCutId}) }}" target='blank'>
    						Q.{{item.totalAmount|number_format(2, '.', ',')}}
    					</a>
    				</td>
    				<td>{{item.createdAt | date('Y-m-d H:i:s')}}</td>
    				<td>{{item.user.firstName}} {{item.user.lastName}}</td>
    				<td>{{item.comments}}</td>
    			</tr>
    			{% endfor %}
    		</tbody>
    	</table>
	</div>	           
</div>
{% endif %}



       
{% endblock %}
{% block extra_scripts %}
<script>
	$('#reportCut').on('click',function()
	{
		swal({
		  title: "¿Está seguro?",
		  text: "Debe recibir el dinero total indicado en la pantalla. Por seguridad, este reporte NO se podrá modificar despues. Esta acción convertira como responsable del monto cuadrado a la persona que lo esta reportando.",
		  type: "warning",
		  showCancelButton: true,
		  confirmButtonClass: "btn-success",
		  confirmButtonText: "Pagar",
		  cancelButtonText: "Cancelar",
		  closeOnConfirm: false
		},
		function(){
		  $(".sweet-alert .confirm").prop('disabled',true);
		  $('#reportForm').submit();
		});
	});
</script>  
{% endblock %}
        