{% extends '@App/Backend/base_print.html.twig' %}
{% block title %}
Reporte de cuadre
{% endblock %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-9'>
        		<h4 class="card-title" style='color:red'>
        			Detalles de cuadre con {{pendingAmountDetails[0].first_name}} {{pendingAmountDetails[0].last_name}}		
        		</h4>        				
        	</div>
        	<div class='col-md-3'>
        		
        	</div>	 	
        </div>        
    </div>
    <div class="card-body">
    	<div class='row'>
    		<div class='col-md-12'>
    			<table class='table'>
	    			<thead>
	    				<tr>
	    					<th>#</th>
	    					<th>Cliente</th>
	    					<th>Cuenta</th>
	    					<th>Monto</th>
	    					<th>Descuento</th>
	    					
	    					<th>Pagado</th>
	    					<th>Corresponde a</th>
	    					<th>Fecha pago</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				{% set total_td = 0 %}
	    				{% for item in pendingAmountDetails %}
	    				<tr>
	    					<td>
	    						{{item.invoice_id}}
	    					</td>
	    					<td>
	    						{{item.client_name}}
	    					</td>
	    					<td>
	    						{{item.account_name}}
	    					</td>
	    					<td>
	    						Q.{{item.amount | number_format(2, '.', ',') }}
	    					</td>
	    					<td>
	    						Q.{{item.discount | number_format(2, '.', ',') }}
	    					</td>
	    					
	    					<td>
	    						{% set total_payed = item.amount - item.discount %}
	    						{% set total_td = total_td+total_payed %}
	    						Q.<span class='total_amounts'>{{total_payed | number_format(2, '.', ',') }}</span>
	    					</td>
	    					<td>
	    						{{item.created_at_month}} / {{item.created_at_year}}
	    					</td>
	    					<td>
	    						{{item.payed_at | date("Y-m-d H:i:s") }}
	    					</td>
	    				</tr>
	    				{% endfor %}
	    				<tr>
	    					<td colspan="6" style='text-align:right'>
	    						Este usuario reporto<br>esta cantidad:
	    					</td>
	    					<td id='total_td'>
	    						<input type='hidden' value="{{total_td}}" name='report_pending_amount'>
	    						<h3 style='padding:0px;margin-bottom:0px;'>Q.{{total_td | number_format(2, '.', ',') }}</h3>
	    					</td>
	    				</tr>
	    			</tbody>
	    		</table>
    		</div>
	</div>
	             
</div>
{% endblock %}


{% block extra_scripts %}
  <script>  	 
  	  window.print();  
  </script>
{% endblock %}
        