{% set disabled = false %}
{% if edit %}
	{% set disabled = true %}
{% endif %}

<form method="post" action="" id="userForm" class="validateForm"  {{form_enctype(form)}} autocomplete="false">
				
		<div class='row'>	
			<div class="col-md-12">
				<div class="form-group">
					{{ form_label(form.client, "* Cliente") }}<br>
					<select style='width:100%' id="appbundle_paymentinvoice_client" name="appbundle_paymentinvoice[client]" class="required form-control select2">
						<option></option>
						{% for item in clientList %}
							<option value="{{item.clientId}}">{{item.name}}</option>
						{% endfor %}						
					</select>
					
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					{{ form_label(form.clientAgreement, "* Cuenta del cliente") }}
					<select id="appbundle_paymentinvoice_clientAgreement" name="appbundle_paymentinvoice[clientAgreement]" class="form-control required"></select>
				</div>
			</div>					
			<div class="col-md-12">
				<div class="form-group">
					<label>* Tipo de Recibo</label>
					<select type='text' class='form-control required' name='type_invoice' id='type_invoice'>
						<option value='1'>Por Contrato de Servicio</option>
						<option value='2'>Por Otros Cobros</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">				
				<div class="form-group type_invoice_block type_invoice_1">					
					<label>* Servicio prestado"</label>
					<select id='appbundle_paymentinvoice_service' name='service' class='form-control required'>
						<option></option>
						{% for item in serviceList %}
						<option value="{{item.serviceId}}">{{item.name}} ({{item.amount}})</option>
						{% endfor %}
					</select>
				</div>
				<div class='form-group type_invoice_block type_invoice_2' style='display:none'>
					<label>* Concepto del cobro</label>
					<input type='text' id="service_plain" name="service_plain" class="form-control required">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.amount, "* Monto a Cobrar") }}
					{{form_widget(form.amount, {'attr': {'class': 'required form-control number required'}}) }}
					
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.createdAt, "* Fecha de emisión") }}
					<input type='text' class='required form-control datepicker' name='created_at'>					
					
				</div>
			</div>			
			<input type='hidden' id="appbundle_paymentinvoice_invoiceStatus" name="appbundle_paymentinvoice[invoiceStatus]" class="form-control required" value='1'>
			
			<!-- /.col -->
		</div>
		
		<br>
		<div class='line'></div>
		<div class='row form-group'>
			<div class='col-md-6'>	
				{% if edit == true %}					
					{% if permits["dp"] %}
						<a  href="javascript:;"
							class="btn btn-danger "
							data-id="{{ object.clientId }}" 
							data-href="{{ path(
		                        'backend_client_delete',
		                        {'id': object.clientId | md5 }
		                    ) }}"
		                    data-toggle="modal"
		                    data-target="#confirm-modal">
							<i class="now-ui-icons ui-1_simple-remove"></i> Eliminar
						</a>
					{% endif %}	
				{% endif %}				
			</div>
			<div class='col-md-6'>						
				<button type="submit" class="btn btn-success pull-right">Guardar</button>				
			</div>
		</div>
		
		<!-- /.row -->
	
	
	{{ form_widget(form._token) }}
</form>


       
