{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-9'>
        		<h4 class="card-title">
        			Recibos {{title}}     			
        		</h4>        				
        	</div>
        	<div class='col-md-3'>	        		      		
        		<button type="button" class='btn btn-primary btn-block float-md-right btn-round' data-toggle="modal" data-target="#openModal">
        			<i class='now-ui-icons ui-1_simple-add'></i> Generar Recibo        			
        		</button>        			        		
	        </div>	     
        	        	
        </div>        
    </div>
    <div class="card-body">
    	<div class='row'>
    		<div class='col-md-12'>
    			{% set class1 = "" %}
    			{% set class2 = "" %}
    			{% set class3 = "" %}
    			{% if filter == 1 %}
    				{% set class1 = "active" %}
    			{% endif %}
    			{% if filter == 2 %}
    				{% set class2 = "active" %}
    			{% endif %}
    			{% if filter == 3 %}
    				{% set class3 = "active" %}
    			{% endif %}
    			<ul class="nav nav-pills nav-fill nav-justified flex-sm-row">
				  <li class="nav-item">
				    <a class="nav-link {{class1}}" href="{{path('backend_invoice',{filter:'1'})}}">Actuales</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link {{class2}}" href="{{path('backend_invoice',{filter:'2'})}}">Atrasadas</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link {{class3}}" href="{{path('backend_invoice',{filter:'3'})}}">Pagadas</a>
				  </li>
				  
				</ul>
    		</div>
    	</div>
    	<br><br>
        {{ include('@App/Backend/Invoice/list.html.twig', { 'list': list,'filter':filter }) }}
	</div>             
</div>


<!-- The Modal -->
<div class="modal fade" id="openModal">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
	    <h4 class="modal-title" style='margin-top:0px'>Agregar Recibo</h4>		
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
      <div class="modal-body" id='modalContent1'>
      	  {{ include('@App/Backend/Invoice/form.html.twig', { 'form': form, 'edit': false,'serviceList':serviceList }) }}
      </div>      
      <!--div class="modal-footer float-right">        
      </div-->	    
    </div>
  </div>
</div>
  
{{ include(
	'@App/Backend/confirm_modal.html.twig',
	{
		'form': false,
		'confirmQuestion': '¿Está seguro de eliminar este registro?'
	}
) }}  
       
{% endblock %}
{% block extra_scripts %}
<script>

    $(document).ready(function() {
    	
	    setFormValidation('#userForm');	    
	});
	
	
	$(".select2").select2({
		placeholder: "Seleccione una opción"
	});	 
	
	$('#appbundle_paymentinvoice_client').on('change',function()
	{
		var val = $(this).val();
		var url = "{{path('backend_invoice_agreement_selection')}}";
		var data = {
			cid: val
		};
		
		$('#appbundle_paymentinvoice_clientAgreement').load(url,data,function(a){
			
		});
	});
	
	$('#type_invoice').on('change',function()
	{
		var val = $(this).val();
		
		$('.type_invoice_block').hide();
		$('.type_invoice_'+val).show();
		if(val == 1)
		{			
			$('#appbundle_paymentinvoice_amount').prop('readonly',true);
		} else {			
			$('#appbundle_paymentinvoice_amount').prop('readonly',false);
		}
	});
	
	$('#appbundle_paymentinvoice_service').on('change',function()
	{
		var val = $('#appbundle_paymentinvoice_service option:selected').text();
		if(val == '- Seleccione una opción -')
		{
			$('#appbundle_paymentinvoice_amount').val("");
			$('#appbundle_paymentinvoice_amount').prop('readonly',true);
		} else {	
			var val2 = val.split("(");		
			var val3 = val2[1].replace(")","");
			
			$('#appbundle_paymentinvoice_amount').val(val3);
			$('#appbundle_paymentinvoice_amount').prop('readonly',true);
		}
		
	});

</script>  
{% endblock %}
        