{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-9'>
        		<h4 class="card-title">
        			<a href="{{path('backend_invoice')}}" class="btn btn-default btn-icon"><i class="now-ui-icons arrows-1_minimal-left"></i></a> Recibo <b>#{{object.organization.organizationId}}-{{object.invoiceId}}</b>     			
        		</h4>        				
        	</div>
        	<div class='col-md-3'>
        		<a href="{{path('backend_invoice_management',{id:invoiceId,for_print:true})}}" target="_blank" class='btn btn-block btn-info'><i class='fa fa-fw fa-print'></i> Imprimir Recibo</a>
        	</div>	 	
        </div>        
    </div>
    <div class="card-body">
    	<div class='row'>
    		<div class='col-md-6'>
    			{% if object.customInvoice == "Instalación" %}
    				<h4>Fecha de emisión:<br>{{object.createdAt | date("Y-m-d")}}</h4>
    				<p>Por concepto de Instalación</p>
    			{% else %}
    				<h4>Fechas de servicio:<br>{{object.createdAt | date("Y-m-d")}} &raquo; {{object.createdAt | date_modify("+1 month") | date("Y-m-d")}}</h4>
    			{% endif %}
    		</div>
    		<div class='col-md-6' style='text-align:right'>
    			<h4>Fecha de emisión:<br>{{object.createdAt | date("Y-m-d")}}</h4>
    		</div>
    	</div>    	
    	<div class='row'>
    		<div class='col-md-6'>
    			<h4><b>Cliente:</b><br>{{object.client.name}}</h4>
    			<p><b>Recibo a nombre de:</b><br> {{object.client.billingName}}</p>
    			<p><b>Dirección de facturación:</b><br> {{object.client.billingAddress}}</p>
    			<p><b>NIT:</b><br> {{object.client.billingTaxId}}</p>
    		</div>
    		<div class='col-md-6'>
    			<h4><b>Cuenta:</b><br>{{object.clientAgreement.accountName}}</h4>
    			<a href="https://www.google.com/maps/dir//{{object.clientAgreement.latLng}}/@{{object.clientAgreement.latLng}},15z" target='_blank' class="btn btn-default btn-sm">
					<i class="fa fa-fw fa-location-arrow"></i> Ver en mapa
				</a>
								
    		</div>
    	</div>
    	<div class='row'>
    		<div class='col-md-12'>
	    		<table class='table'>
	    			<tr>
		    			<th>Concepto</th>
						<th>N° Boleta</th>
		    			<th>Monto</th>
		    			<th>Descuento</th>
		    			<th>Tipo</th>
		    			<th>Estatus</th>
	    			</tr>
	    			<tr>
	    				<td>
	    					{% if object.invoiceType == 1 %}
	    						{{object.service.name}}
	    					{% endif %}
	    					{% if object.invoiceType == 2 %}
	    						{{object.customInvoice}}
	    					{% endif %}
	    				</td>
						<td>{{ticket}}</td>
	    				<td>
	    					Q.{{ object.amount | number_format(2, '.', ',') }}
	    				</td>
	    				<td>
	    					{% if object.invoiceStatus.invoiceStatusId == 1 %}
	    					<a href="javascript:void(0)" class='btn btn-info'  data-toggle="modal" data-target="#openModal" >
	    						Q.{{ object.discount | number_format(2, '.', ',') }}&nbsp;&nbsp;<i class='fa fa-pencil'></i>
	    					</a>	
	    					{% endif %}
	    					{% if object.invoiceStatus.invoiceStatusId == 2 %}
	    						Q.{{ object.discount | number_format(2, '.', ',') }}
	    					{% endif %}
	    				</td>
	    				<td>
	    					{% if object.invoiceType == 1 %}
	    						Servicios
	    					{% endif %}
	    					{% if object.invoiceType == 2 %}
	    						Otros
	    					{% endif %}
	    				</td>
	    				<td>	    					
	    					{{object.invoiceStatus.name}}	    					
	    				</td>
	    			</tr>
	    		</table>
    		</div>
    	</div>
    	
	</div>
	<div class='card-footer'>
		<div class='row'>
			<div class='col-md-2'>
				{% if userData.id == 1 %}
				{% if object.invoiceStatus.invoiceStatusId != 3 %}
				<a  href="javascript:;"
					class="btn btn-danger"
					data-id="{{ invoiceId }}" 
					data-href="{{ path('backend_invoice_delete',{'id': invoiceId }) }}"
                    data-toggle="modal"
                    data-target="#confirm-modal">
					<i class="now-ui-icons ui-1_simple-remove"></i> Eliminar
				</a>
				{% else %}
				<p style='color:red'>Este registro ha sido eliminado</p>
				{% endif %}
				{% endif %}
			</div>
    		<div class='col-md-7' style='text-align:right'>
    			{% set total = object.amount - object.discount %}
    			<h3>    				
    				Total: <b>Q.{{ total | number_format(2, '.', ',') }}</b>
    			</h3>
    		</div>
    	
			<div class='col-md-3'>
				{% if object.invoiceStatus.invoiceStatusId == 1 %}
				<form method='post' id='payment_form'>
					<input type='hidden' name='report_payment' value='1'>
					<input id='payment_voucher' name='payment_voucher'style="display: none;">					
				</form>
				<button class='btn btn-block btn-success' id='report_payment'><i class='fa fa-check'></i>&nbsp;&nbsp;Reportar Pago</button>
				&nbsp;
				
				<button class='btn btn-block btn-warning' id='voucher_number'><i class='fa fa-check'></i>&nbsp;&nbsp;Boleta
				</button>
				{% endif %}
				{% if object.invoiceStatus.invoiceStatusId == 2 %}
				<h3 style='width:100%'><span class='badge badge-success'>PAGADA</span></h3>
				{% endif %}				
			</div>
		</div>
	</div>             
</div>


  
<!-- The Modal -->
<div class="modal fade" id="openModal">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
	    <h4 class="modal-title" style='margin-top:0px'>Reportar descuento</h4>		
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
	  <form method='post'>
	      <div class="modal-body" id='modalContent1'>	      	       	  
      	 	 <div class='row'>
      	 	 	<div class='col-md-12'>
      	 			<p>Esta modificación quedará registrada en la bitácora de este recibo.</p>
      	 		</div>	
      	 	 </div>
	      	 <div class='row'>
	      	 	<div class='col-md-6'>
	      	 		<label>* Monto del descuento</label>
	      	 		<input type='number' class='form-control' name='discount' require="">
	      	 	</div>
	      	 	<div class='col-md-12'>
	      	 		<label>* Ingrese sus comentarios</label>
	      	 		<textarea type='text' class='form-control' name='comments' required=""></textarea>
	      	 	</div>
	      	 </div>
	      	 <br>	      	 
	      </div>
	      <div class="modal-footer float-right">
	      	<div class='row'>
	      		<div class='col-md-12'>
		      	 	<button class='btn btn-primary' type='submit'>Guardar</button>
		      	 </div>	
		    </div>
	      </div>
      </form>      
      	    
    </div>
  </div>
</div>

{% if logs | length > 0 %}
<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		<h4 class="card-title">
        			Bitácora de este recibo     			
        		</h4>        				
        	</div>
        	        	
        </div>        
    </div>
    <div class="card-body">
    	<table class='table'>
    		<tr>
    			<th>Tipo</th>
    			<th>Comentarios</th>
    			<th>Colaborador</th>
    			<th>Fecha</th>
    		</tr>
    		{% for log in logs %}
    		<tr>
    			<td>
    				{% if log.logType == 1 %}
    				<span class='badge badge-info'>Modificación de Descuento</span>
    				{% endif %}
    				{% if log.logType == 2 %}
    				<span class='badge badge-success'>Reporte de pago</span>
    				{% endif %}
    			</td>
    			<td>{{log.comments}}</td>
    			<td>{{log.createdBy.firstName}} {{log.createdBy.lastName}}</td>
    			<td>{{log.createdAt | date("Y-m-d H:i:s")}}</td>
    		</tr>
    		{% endfor %}
    	</table>
    	
    </div>
</div>    	
{% endif %}

{{ include(
	'@App/Backend/confirm_modal.html.twig',
	{
		'form': false,
		'confirmQuestion': '¿Está seguro de eliminar este registro?'
	}
) }}  
       
{% endblock %}
{% block extra_scripts %}
<script>
	$('#report_payment').on('click',function()
	{
		swal({
		  title: "¿Está seguro?",
		  text: "Este Recibo será reportada como PAGADA, esta acción no se podrá revertir sin pasar por un proceso administrativo.",
		  type: "warning",
		  showCancelButton: true,
		  confirmButtonClass: "btn-success",
		  confirmButtonText: "Pagar",
		  cancelButtonText: "Cancelar",
		  closeOnConfirm: false
		},
		function(){
		  $(".sweet-alert .confirm").prop('disabled',true);
		  $('#payment_form').submit();
		});

		
	});
	
	$('#voucher_number').on('click',function()
	{
		$('#voucher_number').val("");
		swal({
		title: "Boleta!",
		text: "Ingrese el número de boleta:",
		type: "input",
		showCancelButton: true,
		closeOnConfirm: false,
		inputPlaceholder: "Número de boleta"
		}, function (inputValue) {
		if (inputValue === false) return inputValue;
		if (inputValue === "") {
			swal.showInputError("Necesitas escribir algo!");
			return inputValue
		}
		swal("Guardado!", "Su boleta: " + inputValue, "success"
			
			);
			$('#payment_voucher').val(inputValue);
			$('#payment_form').submit();
			console.log;

		});
		
			
		
	});
</script>  
{% endblock %}
        