{% extends '@App/Backend/base_print.html.twig' %}
{% block title %}
Recibo_{{object.organization.organizationId}}-{{object.invoiceId}}
{% endblock %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-9'>
        		<h4 class="card-title" style='color:red'>
        			Recibo <b>#{{object.organization.organizationId}}-{{object.invoiceId}}</b>     			
        		</h4>        				
        	</div>
        	<div class='col-md-3'>
        		
        	</div>	 	
        </div>        
    </div>
    <div class="card-body">
    	<div class='row'>
    		<div class='col-md-6'>
    			{% if object.customInvoice == "Instalación" %}
    				<h4>Fecha de emisión:<br>{{object.createdAt | date("Y-m-d")}}</h4>
    				<p>Por concepto de Instalación</p>
    			{% else %}
    				<h4>Fechas de servicio:<br>{{object.createdAt | date("Y-m-d")}} &raquo; {{object.createdAt | date_modify("+1 month") | date("Y-m-d")}}</h4>
    			{% endif %}    				
    		</div>
    		<div class='col-md-6' style='text-align:right'>
    			<h4>Fecha de emisión:<br>{{object.createdAt | date("Y-m-d")}}</h4>
    		</div>
    	</div>    	
    	<div class='row'>
    		<div class='col-md-12'>
    			<h4><b>Cliente:</b><br>{{object.client.name}} - {{object.clientAgreement.accountName}}</h4>
    			<p><b>Nombre:</b><br> {{object.client.billingName}}</p>
    			<p><b>Dirección:</b><br> {{object.client.billingAddress}}</p>
    			<p><b>NIT:</b><br> {{object.client.billingTaxId}}</p>
    		</div>
    		{#<div class='col-md-6'>
    			<h4><b>Cuenta:</b><br>{{object.clientAgreement.accountName}}</h4>    											
    		</div>#}
    	</div>
    	<div class='row'>
    		<div class='col-md-12'>
	    		<table class='table'>
	    			<tr>
		    			<th>Concepto</th>
		    			<th>Monto</th>
		    			<th>Desc.</th>
		    			<th>Tipo</th>
		    			<!--th>Estatus</th-->
	    			</tr>
	    			<tr>
	    				<td>
	    					{% if object.invoiceType == 1 %}
	    						{{object.service.name}}
	    					{% endif %}
	    					{% if object.invoiceType == 2 %}
	    						{{object.customInvoice}}
	    					{% endif %}
	    				</td>
	    				<td>
	    					Q.{{ object.amount | number_format(2, '.', ',') }}
	    				</td>
	    				<td>
	    					
	    					Q.{{ object.discount | number_format(2, '.', ',') }}
	    					
	    				</td>
	    				<td>
	    					{% if object.invoiceType == 1 %}
	    						Servicios
	    					{% endif %}
	    					{% if object.invoiceType == 2 %}
	    						Otros
	    					{% endif %}
	    				</td>
	    				{#<td>	    					
	    					{{object.invoiceStatus.name}}	    					
	    				</td>#}
	    			</tr>
	    		</table>
    		</div>
    	</div>
    	
	</div>
	<div class='card-footer'>
		<div class='row'>
    		<div class='col-md-12' style='text-align:center'>
    			{% set total = object.amount - object.discount %}
    			<h3>    				
    				Total: <b>Q.{{ total | number_format(2, '.', ',') }}</b>
    			</h3>
    		</div>
    	
			<div class='col-md-12' style='text-align:center'>
				{% if object.invoiceStatus.invoiceStatusId == 1 %}
				<h3 style='width:100%'><span class='badge badge-warning'>PENDIENTE DE PAGO</span></h3>
				{% endif %}
				{% if object.invoiceStatus.invoiceStatusId == 2 %}
				<h3 style='width:100%'><span class='badge badge-success'>PAGADA</span></h3>
				<p>Fecha de pago: {{object.payedAt | date("Y-m-d H:i:s")}}</p>
				{% endif %}				
			</div>
		</div>
	</div>             
</div>
<br><br>
----------------------------------------------------------------------
{% endblock %}


{% block extra_scripts %}
  <script>  	 
  	  window.print();  
  </script>
{% endblock %}
        