{% if list | length > 0 %}
	<div class="table-responsive">
			<table class="table datatable">
				<thead class="text-primary">
					<tr>	
						<th>Número</th>		
						<th>Cliente</th>
						<th>Cuenta</th>	
						<th>Concepto</th>						
						<th>Desc.</th>	
						<th>Total</th>	
						<th>Estado</th>								
						<th>Fecha</th>						
					</tr>
				</thead>
				<tbody>
				{% for item in list %}
					<tr>
						<td>	
							
							{% if item.invoice_status_id == 1 %}
								{% set class_btn = "btn-danger" %}
							{% endif %}
							{% if item.invoice_status_id == 2 %}
								{% set class_btn = "btn-success" %}
							{% endif %}
							{% if item.invoice_status_id == 3 %}
								{% set class_btn = "btn-success" %}
							{% endif %}
							
							{% if filter == 1 %}
								{% set class_btn = "btn-blue" %}
							{% endif %}
							<a href="{{path('backend_invoice_management',{id: item.invoice_id | md5})}}" class='btn {{class_btn}} btn-round'>						
								<b>{{item.invoice_id}}</b>
							</a>
																
						</td>
						<td>						
							<span style='font-size:12px;'>{{ item.client_name }}</span> 
						</td>
						<td>
							{{ item.account_name }}
						</td>
						<td>
							{% if item.invoice_type == 3 %}
								Q.{{ item.amount | number_format(2, '.', ',') }}<sup>{{item.service_name}}</sup><br><small>Factura Retroactiva</small>
							{% endif %}
							{% if item.invoice_type == 1 %}
								Q.{{ item.amount | number_format(2, '.', ',') }}<sup>{{item.service_name}}</sup>
							{% endif %}
							{% if item.invoice_type == 2 %}
								{{item.custom_invoice}}
							{% endif %}
						</td>							
						<td>
							Q.{{ item.discount | number_format(2, '.', ',') }}
						</td>
						<td>
							{% set totalAmount = item.amount - item.discount %}
							Q.{{ totalAmount | number_format(2, '.', ',')}}
						</td>
						<td>
							{% if item.invoice_status_id == 1 %}
								{% set class_badge = "badge-warning" %}
							{% endif %}
							{% if item.invoice_status_id == 2 %}
								{% set class_badge = "badge-success" %}
							{% endif %}
							{% if item.invoice_status_id == 3 %}
								{% set class_badge = "badge-danger" %}
							{% endif %}
							<span class='badge {{class_badge}}'>
								{{item.status_name}}
							</span>
						</td>
						<td>
							{{item.created_at | date("Y-m-d")}}							
						</td>												
					</tr>
				{% endfor %}
				</tbody>
			</table>
	</div>
{% else %}
	<div class='row'>
		<div class='col-md-12 text-center'>
			<h1><i class='fa fa-archive'></i></h1>
			<h2>Aún no hay Facturas</h2>
			<p>No hay facturas {{title}}</p>
			
		</div>
	</div>
{% endif %}	
