{% extends '@App/Backend/base.html.twig' %}
{% block body %}

        <div class="row">
          {#<div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Reporte Anual</h5>
                <h4 class="card-title">Gastos de Compras</h4>
                <!--div class="dropdown">
                  <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                  </div>
                </div-->
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="lineChartExample"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69"></i> Actualizado
                </div>
              </div>
            </div>
          </div>#}
          <div class="col-lg-6 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Reporte Anual</h5>
                <h4 class="card-title">Mejores horas</h4>
                <!--div class="dropdown">
                  <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                  </div>
                </div-->
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69"></i> Actualizado
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg- col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Reporte Anual</h5>
                <h4 class="card-title">Dias de mejor venta</h4>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="barChartSimpleGradientsNumbers"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons ui-2_time-alarm"></i> Registros de todo el año
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-category">Gestión de Inventario</h5>
                <h4 class="card-title"> Top 10 Mejor vendidos del mes</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                    	#
                      </th>
                      <th>
                        Producto
                      </th>
                      <th>
                        Medida
                      </th>
                      <th>
                        Vendidos
                      </th>                      
                    </thead>
                    <tbody>
                      {% for item in topSells %}
                      <tr>
                        <td>
                        	{{loop.index}}
                        </td>
                        <td>
                          {{item.inventory_name}}
                        </td>
                        <td>
                          {{item.measure_type}}
                        </td>
                        <td>
                          {{item.selled}}
                        </td>
                      </tr>  
                      {% endfor %}                   
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-category">Gestión de Inventario</h5>
                <h4 class="card-title"> Top 10 de Inventario Bajo</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Producto
                      </th>
                      <th>
                        Medida
                      </th>
                      <th>
                        Disponible
                      </th>
                     
                    </thead>
                    <tbody>
                      {% for item in inventoryStatus %}
                      {% if item.total_purchased - item.total_selled < 5 %}
                      <tr>
                        <td>
                          {{item.name}}
                        </td>
                        <td>
                          {{item.measure_type}}
                        </td>
                        <td>
                          {{item.total_purchased - item.total_selled}}
                        </td>
                      
                      </tr>
                      {% endif %}
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      
{% endblock %}
{% block extra_scripts %}
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      
	
	    chartColor = "#FFFFFF";
	    chartColor2 = "#6ab04c";
	    chartColor3 = "#ff7979";
	
	    // General configuration for the charts with Line gradientStroke
	    gradientChartOptionsConfiguration = {
	      maintainAspectRatio: false,
	      legend: {
	        display: false
	      },
	      tooltips: {
	        bodySpacing: 4,
	        mode: "nearest",
	        intersect: 0,
	        position: "nearest",
	        xPadding: 10,
	        yPadding: 10,
	        caretPadding: 10
	      },
	      responsive: 1,
	      scales: {
	        yAxes: [{
	          display: 0,
	          gridLines: 0,
	          ticks: {
	            display: false
	          },
	          gridLines: {
	            zeroLineColor: "transparent",
	            drawTicks: false,
	            display: false,
	            drawBorder: false
	          }
	        }],
	        xAxes: [{
	          display: 0,
	          gridLines: 0,
	          ticks: {
	            display: false
	          },
	          gridLines: {
	            zeroLineColor: "transparent",
	            drawTicks: false,
	            display: false,
	            drawBorder: false
	          }
	        }]
	      },
	      layout: {
	        padding: {
	          left: 0,
	          right: 0,
	          top: 15,
	          bottom: 15
	        }
	      }
	    };
	
	    gradientChartOptionsConfigurationWithNumbersAndGrid = {
	      maintainAspectRatio: false,
	      legend: {
	        display: false
	      },
	      tooltips: {
	        bodySpacing: 4,
	        mode: "nearest",
	        intersect: 0,
	        position: "nearest",
	        xPadding: 10,
	        yPadding: 10,
	        caretPadding: 10
	      },
	      responsive: true,
	      scales: {
	        yAxes: [{
	          gridLines: 0,
	          gridLines: {
	            zeroLineColor: "transparent",
	            drawBorder: false
	          }
	        }],
	        xAxes: [{
	          display: 0,
	          gridLines: 0,
	          ticks: {
	            display: false
	          },
	          gridLines: {
	            zeroLineColor: "transparent",
	            drawTicks: false,
	            display: false,
	            drawBorder: false
	          }
	        }]
	      },
	      layout: {
	        padding: {
	          left: 0,
	          right: 0,
	          top: 15,
	          bottom: 15
	        }
	      }
	    };
	
	    var ctx = document.getElementById('bigDashboardChart').getContext("2d");
	
	    var gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
	    gradientStroke.addColorStop(0, '#80b6f4');
	    gradientStroke.addColorStop(1, chartColor);
	
	    var gradientFill = ctx.createLinearGradient(0, 200, 0, 50);
	    gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
	    gradientFill.addColorStop(1, "rgba(255, 255, 255, 0.24)");
	
	    var myChart = new Chart(ctx, {
	      type: 'line',
	      data: {
	        labels: [{{inventoryMainLabel | raw}}],
	        datasets: [{
	          label: "Ventas",
	          borderColor: chartColor,
	          pointBorderColor: chartColor,
	          pointBackgroundColor: "#1e3d60",
	          pointHoverBackgroundColor: "#1e3d60",
	          pointHoverBorderColor: chartColor,
	          pointBorderWidth: 1,
	          pointHoverRadius: 7,
	          pointHoverBorderWidth: 2,
	          pointRadius: 5,
	          fill: true,
	          backgroundColor: gradientFill,
	          borderWidth: 2,
	          data: [{{inventoryMainValue | raw}}]
	        },{
	          label: "Total de ventas",
	          borderColor: chartColor2,
	          pointBorderColor: chartColor2,
	          pointBackgroundColor: "#badc58",
	          pointHoverBackgroundColor: "#badc58",
	          pointHoverBorderColor: chartColor2,
	          pointBorderWidth: 1,
	          pointHoverRadius: 7,
	          pointHoverBorderWidth: 2,
	          pointRadius: 5,
	          fill: true,
	          backgroundColor: gradientFill,
	          borderWidth: 2,
	          data: [{{inventoryMainValue2 | raw}}]
	        },{
	          label: "Gastos en compras",
	          borderColor: chartColor3,
	          pointBorderColor: chartColor3,
	          pointBackgroundColor: "#EA2027",
	          pointHoverBackgroundColor: "#EA2027",
	          pointHoverBorderColor: chartColor3,
	          pointBorderWidth: 1,
	          pointHoverRadius: 7,
	          pointHoverBorderWidth: 2,
	          pointRadius: 5,
	          fill: true,
	          backgroundColor: gradientFill,
	          borderWidth: 2,
	          data: [{{inventoryMainValue3 | raw}}]
	        }]
	      },
	      options: {
	        layout: {
	          padding: {
	            left: 20,
	            right: 20,
	            top: 0,
	            bottom: 0
	          }
	        },
	        maintainAspectRatio: false,
	        tooltips: {
	          backgroundColor: '#fff',
	          titleFontColor: '#333',
	          bodyFontColor: '#666',
	          bodySpacing: 4,
	          xPadding: 12,
	          mode: "nearest",
	          intersect: 0,
	          position: "nearest"
	        },
	        legend: {
	          position: "bottom",
	          fillStyle: "#FFF",
	          display: false
	        },
	        scales: {
	          yAxes: [{
	            ticks: {
	              fontColor: "rgba(255,255,255,0.4)",
	              fontStyle: "bold",
	              beginAtZero: true,
	              maxTicksLimit: 5,
	              padding: 10
	            },
	            gridLines: {
	              drawTicks: true,
	              drawBorder: false,
	              display: true,
	              color: "rgba(255,255,255,0.1)",
	              zeroLineColor: "transparent"
	            }
	
	          }],
	          xAxes: [{
	            gridLines: {
	              zeroLineColor: "transparent",
	              display: false,
	
	            },
	            ticks: {
	              padding: 10,
	              fontColor: "rgba(255,255,255,0.4)",
	              fontStyle: "bold"
	            }
	          }]
	        }
	      }
	    });
	
	    var cardStatsMiniLineColor = "#fff",
	      cardStatsMiniDotColor = "#fff";
	
	    /*ctx = document.getElementById('lineChartExample').getContext("2d");
	
	    gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
	    gradientStroke.addColorStop(0, '#80b6f4');
	    gradientStroke.addColorStop(1, chartColor);
	
	    gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
	    gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
	    gradientFill.addColorStop(1, "rgba(249, 99, 59, 0.40)");
	
	    myChart = new Chart(ctx, {
	      type: 'line',
	      responsive: true,
	      data: {
	        labels: [{{reportPurchaseLabel | raw}}],
	        datasets: [{
	          label: "Gastos",
	          borderColor: "#f96332",
	          pointBorderColor: "#FFF",
	          pointBackgroundColor: "#f96332",
	          pointBorderWidth: 2,
	          pointHoverRadius: 4,
	          pointHoverBorderWidth: 1,
	          pointRadius: 4,
	          fill: true,
	          backgroundColor: gradientFill,
	          borderWidth: 2,
	          data: [{{reportPurchaseValue | raw}}]
	        }]
	      },
	      options: gradientChartOptionsConfiguration
	    });*/
	
	
	    ctx = document.getElementById('lineChartExampleWithNumbersAndGrid').getContext("2d");
	
	    gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
	    gradientStroke.addColorStop(0, '#18ce0f');
	    gradientStroke.addColorStop(1, chartColor);
	
	    gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
	    gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
	    gradientFill.addColorStop(1, hexToRGB('#18ce0f', 0.4));
	
	    myChart = new Chart(ctx, {
	      type: 'line',
	      responsive: true,
	      data: {
	        labels: [{{utilitiesLabel | raw}}],
	        datasets: [{
	          label: "Ventas",
	          borderColor: "#18ce0f",
	          pointBorderColor: "#FFF",
	          pointBackgroundColor: "#18ce0f",
	          pointBorderWidth: 2,
	          pointHoverRadius: 4,
	          pointHoverBorderWidth: 1,
	          pointRadius: 4,
	          fill: true,
	          backgroundColor: gradientFill,
	          borderWidth: 2,
	          data: [{{utilitiesValue | raw}}]
	        }]
	      },
	      options: gradientChartOptionsConfigurationWithNumbersAndGrid
	    });
	
	    var e = document.getElementById("barChartSimpleGradientsNumbers").getContext("2d");
	
	    gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
	    gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
	    gradientFill.addColorStop(1, hexToRGB('#2CA8FF', 0.6));
	
	    var a = {
	      type: "bar",
	      data: {
	        labels: [{{bestDayToSell_labels | raw}}],
	        datasets: [{
	          label: "Total de Ingresos",
	          backgroundColor: gradientFill,
	          borderColor: "#2CA8FF",
	          pointBorderColor: "#FFF",
	          pointBackgroundColor: "#2CA8FF",
	          pointBorderWidth: 2,
	          pointHoverRadius: 4,
	          pointHoverBorderWidth: 1,
	          pointRadius: 4,
	          fill: true,
	          borderWidth: 1,
	          data: [{{bestDayToSell_values | raw}}]
	        }]
	      },
	      options: {
	        maintainAspectRatio: false,
	        legend: {
	          display: false
	        },
	        tooltips: {
	          bodySpacing: 4,
	          mode: "nearest",
	          intersect: 0,
	          position: "nearest",
	          xPadding: 10,
	          yPadding: 10,
	          caretPadding: 10
	        },
	        responsive: 1,
	        scales: {
	          yAxes: [{
	            gridLines: 0,
	            gridLines: {
	              zeroLineColor: "transparent",
	              drawBorder: false
	            }
	          }],
	          xAxes: [{
	            display: 0,
	            gridLines: 0,
	            ticks: {
	              display: false
	            },
	            gridLines: {
	              zeroLineColor: "transparent",
	              drawTicks: false,
	              display: false,
	              drawBorder: false
	            }
	          }]
	        },
	        layout: {
	          padding: {
	            left: 0,
	            right: 0,
	            top: 15,
	            bottom: 15
	          }
	        }
	      }
	    };
	
	    var viewsChart = new Chart(e, a);

    });
  </script>
{% endblock %}
        