{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class='row'>
	<div class='col-md-3'></div>
	<div class='col-md-6'>
		<div class="card">
		    <div class="card-header">        
		        <div class='row'>
		        	<div class='col-md-12'>
		        		<h4 class="card-title">
		        			<a href="{{ path('backend_inventory') }}" class="btn btn-default btn-icon">
		        				<i class='now-ui-icons arrows-1_minimal-left'></i>
		        			</a> 
		        			Editar Producto
		        		</h4>		
		        	</div>		        	 
		        </div>		              
		    </div>
		    <div class="card-body">
		    	{{ include('@App/Backend/Inventory/form.html.twig', { 'form': form, 'edit':true }) }}				    	
			</div>             
		</div>
	</div>
	<div class='col-md-3'></div>
</div>

{{ include(
	'@App/Backend/confirm_modal.html.twig',
	{
		'form': form,
		'confirmQuestion': '¿Está seguro de eliminar este registro?'
	}
) }}  
{% endblock %}
{% block extra_scripts %}
<script>

    $(document).ready(function() {    	
	    setFormValidation('#userForm');	    
	});

	$(document).ready(function() {
	
	    var readURL = function(input) {
	    	console.log(input);
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();
	
	            reader.onload = function (e) {
	                $('.profile-pic').attr('src', e.target.result);
	            }
	    
	            reader.readAsDataURL(input.files[0]);
	        }
	    }
	   
	    $(".file-upload").on('change', function(){
	        readURL(this);
	    });
	    
	    $(".upload-button").on('click', function() {
	       $(".file-upload").click();
	    });
	});   
</script>
{% endblock %}
        