{% set disabled = false %}
{% if edit %}
	{% set disabled = true %}
{% endif %}

<form method="post" action="" id="userForm" class="validateForm" enctype="multipart/form-data" autocomplete="false">

	  <div class='row'>
			<div class="col-md-12">				
				<div class="avatar-wrapper">
					<img class="profile-pic" id='profile-pic' src="" />
					<div class="upload-button">
						<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
					</div>
					<!--input class="file-upload" type="file" accept="image/*"/-->						
					{% if form.vars.value.imagePath | length > 0 %}
						<input type="file" id="appbundle_inventory_imagePath" name="appbundle_inventory[imagePath]" class="file-upload" src="{{ asset('images/image_placeholder.png') }}" style='opacity:0'>							
						<script>
							var img = document.getElementById("profile-pic");
							img.setAttribute('src', "{{ asset('uploads/products/'~form.vars.value.imagePath) }}");																							    	
				        							    								
						</script>						
					{% else %}
						<input type="file" id="appbundle_inventory_imagePath" name="appbundle_inventory[imagePath]" class="file-upload" src="{{ asset('images/image_placeholder.png') }}" style='opacity:0'>							
						<script>
							var img = document.getElementById("profile-pic");
							img.setAttribute('src', "{{ asset('images/image_placeholder.png') }}");																							    	
				        							    								
						</script>								
					{% endif %}						
				</div>				
			</div>			
		</div>
		<hr>			
			
		<div class='row'>	
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.name, "* Nombre del producto") }}
					{{form_widget(form.name, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.customCode, "Código (Opcional)") }}
					{{form_widget(form.customCode, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>					
			<div class="col-md-12">
				<div class="form-group">
					{{ form_label(form.measureType, "* ¿Con que medida se vende y compra?") }}
					{{form_widget(form.measureType, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.purchasePrice, "* Precio de compra") }}
					{{form_widget(form.purchasePrice, {'attr': {'class': 'required number form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.sellPrice, "* Precio de venta") }}
					{{form_widget(form.sellPrice, {'attr': {'class': 'number form-control' }}) }}
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					{{ form_label(form.description, "Comentario adicional (Opcional)") }}
					{{form_widget(form.description, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>
			
			<input id="appbundle_inventory_isActive" name="appbundle_inventory[isActive]" type="hidden" value="1">
						
			
			
			<!-- /.col -->
		</div>
		
		<br>
		<div class='line'></div>
		<div class='row form-group'>
			<div class='col-md-6'>	
				{% if edit == true %}					
					{% if permits["dp"] %}
						<a  href="javascript:;"
							class="btn btn-danger "
							data-id="{{ object.inventoryId }}" 
							data-href="{{ path(
		                        'backend_inventory_delete',
		                        {'id': object.inventoryId | md5 }
		                    ) }}"
		                    data-toggle="modal"
		                    data-target="#confirm-modal">
							<i class="now-ui-icons ui-1_simple-remove"></i> Eliminar
						</a>
					{% endif %}	
				{% endif %}				
			</div>
			<div class='col-md-6'>						
				<button type="submit" class="btn btn-success pull-right">Guardar</button>				
			</div>
		</div>
		
		<!-- /.row -->
	
	
	{{ form_widget(form._token) }}
</form>


       

<script>

	
	
</script>