{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		<h4 class="card-title">
        			Estado del Inventario        			
        		</h4>        				
        	</div>       	
        </div>        
    </div>
    <div class="card-body">
		{% if list | length > 0 %}
			<div class="table-responsive">
					<table class="table datatable">
						<thead class="text-primary">
							<tr>	
									
								<th>Nombre</th>		
								<th>Medida</th>												
								<th>Total Compras</th>								
								<th>Total Ventas</th>
								<th>Disponibles</th>
							</tr>
						</thead>
						<tbody>
						{% for item in list %}
							<tr>
								
								<td>						
									{{ item.name }} 									
								</td>
								<td>
									{{item.measure_type}}
								</td>								
								<td>
									{% if item.total_purchased | length > 0 %}
									{{item.total_purchased}}
									{% else %}
									0
									{% endif %}
								</td>
								<td>
									{% if item.total_selled | length > 0 %}
									{{item.total_selled}}
									{% else %}
									0
									{% endif %}
								</td>
								<td>
									
									{% set available = item.total_purchased - item.total_selled %}
									{% if available < 5 %}
										<span class='badge badge-danger'>{{available}}</span>
									{% elseif available < 10 %}
										<span class='badge badge-warning'>{{available}}</span>
									{% else %}
										{{available}}	
									{% endif %}
								</td>
								
							</tr>
						{% endfor %}
						</tbody>
					</table>
			</div>
		{% else %}
			<div class='row'>
				<div class='col-md-12 text-center'>
					<h1><i class='fa fa-archive'></i></h1>
					<h2>No hay registros de compras y ventas</h2>
					<p>Esta sección se habilitará en el momento que ya exista suficiente movimiento</p>					
				</div>
			</div>
		{% endif %}	
		        
	</div>             
</div>


  
       
{% endblock %}
{% block extra_scripts %}
<script>

    
  
</script>  
{% endblock %}
        