{% if inventory.total_purchased - inventory.total_selled - thisCart < 5 %}
Hay <b style='color:red' id='number_available'>{{inventory.total_purchased - inventory.total_selled - thisCart}}</b> disponibles
{% else %}
Hay <b id='number_available'>{{inventory.total_purchased - inventory.total_selled - thisCart}}</b> disponibles
{% endif %}
