{% if list | length > 0 %}
	<div class="table-responsive">
			<table class="table datatable_custom">
				<thead class="text-primary">
					<tr>	
							
						<th>Nombre</th>						
						<th>P. Compra</th>	
						<th>P. Venta</th>																
						<th>Medida</th>		
						<th></th>	
						<th>Comentarios</th>								
						{% if permits["ep"] and permits["dp"] %}	
							<th>Acciones</th>
						{% endif %}	
						
					</tr>
				</thead>
				<tbody>
				{% for item in list %}
					<tr>
						
						<td>						
							{{ item.name }} 
							{% if item.customCode | length > 0 %}
								({{item.customCode}})
							{% endif %}
						</td>
						
						<td>
							Q{{ item.purchasePrice }}
						</td>
						<td>
							Q{{ item.sellPrice }}
						</td>	
								
						<td>
							{{item.measureType.name}}
						</td>	
						<td>
							{% if item.imagePath | length > 0 %}
							<img src="{{ asset('uploads/products/'~item.imagePath) }}" class='img-thumbnail' style='max-height:150px'>
							{% else %}
							<img src="{{ asset('images/image_placeholder.png') }}" class='img-thumbnail'  style='max-height:150px'>
							{% endif %}
						</td>
						<td>
							<small>{{item.description}}</small>
						</td>						
						<td class="list_tools">
						{#
						{% if permits["rp"] %}
							<a href="{{ path('backend_inventory_edit', {'id': item.inventoryId | md5 }) }}" class="btn btn-sm btn-success btn-icon ">
							   <i class="fa fa-fw fa-eye"></i>
							</a>
						{% endif %}
						#}	
							
		                {% if permits["ep"] %}
							<a href="{{ path('backend_inventory_edit', {'id': item.inventoryId | md5 }) }}" class="btn btn-info btn-icon btn-sm ">
								<i class="fa fa-fw fa-pencil"></i>
							</a>
						{% endif %}
						
						{% if permits["dp"] %}
							<a  href="javascript:;"
								class="btn btn-danger btn-icon btn-sm "
								data-id="{{ item.inventoryId }}" 
								data-href="{{ path(
		                            'backend_inventory_delete',
		                            {'id': item.inventoryId | md5 }
		                        ) }}"
		                        data-toggle="modal"
		                        data-target="#confirm-modal">
								<i class="now-ui-icons ui-1_simple-remove"></i>
							</a>
						{% endif %}
						
						</td>
						
					</tr>
				{% endfor %}
				</tbody>
			</table>
	</div>
{% else %}
	<div class='row'>
		<div class='col-md-12 text-center'>
			<h1><i class='fa fa-archive'></i></h1>
			<h2>Aún no hay productos en el Inventario</h2>
			<p>Puede agregar nuevos Items desde la esquina superior derecha de esta pantalla o en el botón de abajo</p>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Agregar Productos!</a>
		</div>
	</div>
{% endif %}	
