{% if list | length > 0 %}
	<div class="table-responsive">
			<table class="table datatable_custom">
				<thead class="text-primary">
					<tr>	
							
						<th>Nombre del gasto</th>	
						<th>Tipo</th>					
						<th>Cantidad</th>
						<th>Monto</th>	
						<th>Factura / Recibo</th>																
						<th>Fecha</th>			
						{% if permits["ep"] and permits["dp"] %}	
							<th>Acciones</th>
						{% endif %}	
						
					</tr>
				</thead>
				<tbody>
				{% for item in list %}
					<tr>
						
						<td>
							{% if item.inventory %}						
								{{ item.inventory.name }} 
							{% else %}
								{{ item.description }}
							{% endif %} 							
						</td>	
						<td>
							{% if item.purchaseType == 1 or item.purchaseType == null %}						
								<small>Compra de Inventario</small> 
							{% else %}
								<small>Otros Gastos</small>
							{% endif %}
						</td>					
						<td>
							{{ item.quantity }}
						</td>
						<td>
							Q{{ item.moneyAmount }}
						</td>
						<td>
							{{ item.invoiceNumber }}
						</td>
						<td>
							{{ item.createdAt | date("Y-m-d H:i:s") }}
						</td>	
														
						<td class="list_tools">
												
						{% if permits["dp"] %}
							<a  href="javascript:;"
								class="btn btn-danger btn-icon btn-sm "
								data-id="{{ item.inventoryPurchaseId }}" 
								data-href="{{ path(
		                            'backend_inventory_purchase_delete',
		                            {'id': item.inventoryPurchaseId | md5 }
		                        ) }}"
		                        data-toggle="modal"
		                        data-target="#confirm-modal">
								<i class="now-ui-icons ui-1_simple-remove"></i>
							</a>
						{% endif %}
						
						</td>
						
					</tr>
				{% endfor %}
				</tbody>
			</table>
	</div>
{% else %}
	<div class='row'>
		<div class='col-md-12 text-center'>
			<h1><i class='fa fa-archive'></i></h1>
			<h2>Aún no hay compras reportadas</h2>
			<p>Puede reportar las compras de productos presionando el botón en la esquina superior derecha o el botón de abajo</p>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Reportar Compras!</a>
		</div>
	</div>
{% endif %}	
