{% set disabled = false %}
{% if edit %}
	{% set disabled = true %}
{% endif %}

<form method="post" action="" id="userForm" class="validateForm"  {{form_enctype(form)}} autocomplete="false">

			
		<div class='row'>
			<div class="col-md-12">
				<div class="form-group">
					{{ form_label(form.purchaseType, "* Seleccione el tipo de compra") }}
					{{form_widget(form.purchaseType, {'attr': {'class': 'number form-control required' }}) }}
				</div>
			</div>	
		</div>	
		<div class='row classOne'>	
			<div class="col-md-6 ">
				<div class="form-group">
					{{ form_label(form.inventory, "* Seleccione el producto") }}
					<select id="appbundle_inventorypurchase_inventory" name="appbundle_inventorypurchase[inventory]" class="required typeahead form-control" style='width:100%'>
						<option></option>
						{% for item in products %}
							<option value="{{item.inventoryId}}">{{item.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="appbundle_inventorypurchase_quantity" id='dynamicLabel'>* Cantidad</label>					
					{{form_widget(form.quantity, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
		</div>
		
		<div class='row classTwo' style='display:none'>	
			<div class="col-md-12 ">
				<div class="form-group">
					{{ form_label(form.description, "* Describa el gasto") }}
					{{form_widget(form.description, {'attr': {'class': 'form-control required' }}) }}
				</div>
			</div>		
		</div>
		
		<div class='row'>	
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.moneyAmount, "Monto del a compra") }}
					{{form_widget(form.moneyAmount, {'attr': {'class': 'number form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.invoiceNumber, "Número de recibo / factura") }}
					{{form_widget(form.invoiceNumber, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>								
			<!-- /.col -->
		</div>
		
		<br>
		<div class='line'></div>
		<div class='row form-group'>
			<div class='col-md-6'>	
				{% if edit == true %}					
					{% if permits["dp"] %}
						<a  href="javascript:;"
							class="btn btn-danger "
							data-id="{{ object.inventoryId }}" 
							data-href="{{ path(
		                        'backend_inventory_delete',
		                        {'id': object.inventoryId | md5 }
		                    ) }}"
		                    data-toggle="modal"
		                    data-target="#confirm-modal">
							<i class="now-ui-icons ui-1_simple-remove"></i> Eliminar
						</a>
					{% endif %}	
				{% endif %}				
			</div>
			<div class='col-md-6'>						
				<button type="submit" class="btn btn-success pull-right">Guardar</button>				
			</div>
		</div>
		
		<!-- /.row -->
	
	
	{{ form_widget(form._token) }}
</form>


