{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		<h4 class="card-title">
        			Realizar venta		
        		</h4>        				
        	</div>
        	{% if permits["rp"] %}             	    
        	    <div class='col-md-3'></div>   		        		        			        
	        	<div class='col-md-3'>
	        		<a href="{{path('backend_inventory_sell_history')}}" class='btn btn-default'>
	        			Historial de Ventas
	        		</a>
	        	</div>	        	        				        		        
        	{% endif %}        	
        </div>        
    </div>
    <div class="card-body">
        <div class='row'>
			<div class='col-md-12 text-center'>				
				<h1><i class='fa fa-shopping-cart'></i> {{userInfo.organization.name}}</h1>
				<p>Seleccione el producto e ingrese la cantidad para realizar una venta</p>				
			</div>
		</div>
		<form method='post' id='userForm'>
			<div class='row'>
				
				<div class='col-md-1'></div>
				<div class='col-md-5'>				
					<select name='pid' class='form-control typeahead required' placeholder='Seleccione un producto' style='width:100%'>
						<option></option>
						{% for item in products %}
							<option value='{{item.inventoryId}}'>{{item.name}} ({{item.measureType.name}})</option>
						{% endfor %}
					</select>	
					<div id='available'></div>
				</div>			
				<div class='col-md-3 text-center'>
					<input type='text' class='form-control required number' name='quantity' id='quantity' placeholder='Cantidad' style='border-radius:5px;'>
				</div>
				<input type='hidden' name='addCart' value="true">
				
				<div class='col-md-2'>
					<a href="javascript:void(0)" style='margin:0px;' onclick='checkAvail()'  class='btn btn-success btn-block'>
						<i class='fa fa-plus'></i> Agregar
					</a>
				</div>
				<div class='col-md-1'></div>
			</div>	
				
		</form>
		<br><br>
	</div>             
</div>



{% if currentCart | length > 0 %}
<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		<h4 class="card-title">
        			Productos en esta compra		
        		</h4>        				
        	</div>
        	<div class='col-md-6'>
        		<a href="javascript:void(0)" onclick='cleanCart()' class='pull-right btn btn-danger'>
					Limpiar carrito&nbsp;&nbsp;<i class='fa fa-fw fa-remove'></i>
				</a>
        	</div>
        </div>        
    </div>
    <div class="card-body table-responsive">
        <table class='table'>
        	<tr>
        		<th>Nombre</th>
        		<th>Precio</th>
        		<th>Cantidad</th> 
        		<th>Sub Total</th>
        		<th>Descuento</th>
        		<th>Total</th>
        		<th></th>       		
        	</tr>
        	{% for item in currentCart %}
        	<tr>
        		<td>{{item.name}}</td>
        		<td>Q.{{item.sell_price}}</td>
        		<td>{{item.quantity}}</td>        	
        		<td>Q.<span class='this_sell'>{{item.sell_price * item.quantity}}</span></td>
        		<td>
        			<a href="javascript:void(0)" class='btn btn-round btn-default' onclick='updateDiscountCart({{loop.index}})'>
        			 <b class='this_discount'>{% if item.discount %}{{item.discount}}{% endif %}</b> <i class='fa fa-edit'></i>
        			</a>        			
        		</td>        	
        		<td>Q.{{item.sell_price*item.quantity - item.discount}}</td>
        		<td>
        			<a href="javascript:void(0)" onclick='removeFromCart({{loop.index}})'>
        				<i class='fa fa-remove' style='color:tomato'></i>
        			</a>
        		</td>
        	</tr>
        	{% endfor %}
        </table>
	</div>             
</div>
{% endif %}

{% if currentCart | length > 0 %}


<form method='post' action="{{path('backend_inventory_cart_complete')}}">
<div class="card">    
    <div class="card-body">    
       	<div class='row'>
    		<div class='col-md-4'></div>
    		<div class='col-md-4 text-center'>
    			<label>Ingrese el número de Factura de esta Venta:</label>
    			<input type='text' class='form-control' name='invoice' placeholder="Número de Factura">
    		</div>
    		<div class='col-md-4'>
    			
    		</div>
    	</div>	
	</div>             
</div>

<div class="card">    
    <div class="card-body">    
        <div class='row'>
        	<div class='col-md-3 text-center'>
        		<br>				
        		<small>Total</small>
				<h2 id='this_sell_total' style='margin:0px;'></h2>
				<br>			
        	</div>
			<div class='col-md-3 text-center'>
				<br>
				<small>Descuento</small>								
				<h2 id='this_discount_total' style='margin:0px;color:red;'></h2>
				<br>
			</div>
			<div class='col-md-3 text-center'>
				<br>
				<small>Gran Total</small>
				<h2 id='this_grand_total' style='margin:0px;'></h2>
				<br>				
			</div>
			<div class='col-md-3'>
				<br>
				<button type='submit' class='btn btn-success btn-lg btn-block'>
					Terminar&nbsp;&nbsp;<i class='fa fa-chevron-right'></i>
				</button>
			</div>
		</div>		
	</div>             
</div>
</form>
{% endif %}

{% if currentCart | length == 0 %}
<div class="card">    
    <div class="card-body">    	
	    <div class='row'>
			<div class='col-md-12 text-center' style='color:#ccc;'>
				<h1><i class='fa fa-archive'></i></h1>
				<h2>No hay productos en el carrito</h2>
				<p>Para comenzar una venta, agregue productos en el cuadro de arriba.</p>				
			</div>
		</div>		
	</div>             
</div>
{% endif %}

<script>

		function checkAvail()
		{
			
			
			
			var available = parseInt($('#number_available').html());
			var quantity = parseInt($('#quantity').val());
			
			if(quantity == 0)
			{
				swal("Debe ingresar una cantidad", "Ingrese una cantidad para continuar", "error");
				return false;
			}
			
			console.log("quantity",quantity);
			console.log("available",available);
			if(quantity > available)
			{
				swal("Inventario bajo", "La cantidad de la venta excede la disponibilidad de este producto", "error");
				return false;
			}
			$('#userForm').submit();
		}
		
	

</script>

       
{% endblock %}
{% block extra_scripts %}
<script>


	
	function cleanCart(index)
	{
		var url = "{{path('backend_inventory_cart_clean')}}";
				
		swal({
		  title: "¿Está seguro?",
		  text: "Esta acción no se puede revertir",
		  type: "warning",
		  showCancelButton: true,
		  confirmButtonClass: "btn-danger",
		  confirmButtonText: "Si estoy seguro",
		  cancelButtonText: "Cancelar",		  
		},
		function(){
		 
		 	window.location = url;
		 
		});
		
	}

	function updateDiscountCart(index)
	{
		
		swal({
		  title: "Ingrese el descuento",
		  text: "Este descuento será aplicado para este artículo",
		  type: "input",
		  showCancelButton: true,
		  closeOnConfirm: false,
		  cancelButtonText: "Cancelar",
		  inputPlaceholder: "Descuento"
		}, function (inputValue) {
		  if (inputValue === false) return false;
		  if (inputValue === "") {
		    swal.showInputError("Debe agregar un descuento");
		    return false
		  }
		  
		  var url = "{{path('backend_inventory_discount_cart',{key:'__INDEX__',value: '__VALUE__'})}}";
		  var url2 = url.replace("__INDEX__",index);
		  var url3 = url2.replace("__VALUE__",inputValue);
		  var url4 = url3.replace("amp;","");
		  
		  window.location = url4;
		  
		});
		

	}


	function removeFromCart(index)
	{
		var url = "{{path('backend_inventory_remove_cart',{key:'__INDEX__'})}}";
		var url2 = url.replace("__INDEX__",index);
		
		swal({
		  title: "¿Está seguro?",
		  text: "Esta acción no se puede revertir",
		  type: "warning",
		  showCancelButton: true,
		  confirmButtonClass: "btn-danger",
		  confirmButtonText: "Si estoy seguro",
		  cancelButtonText: "Cancelar",		  
		},
		function(){
		 
		 	window.location = url2;
		 
		});
		
	}


	$('.typeahead').on('change',function()
	{
		$('#available').html('<i class="fa fa-spin fa-spinner"></i>')
		var url = "{{path('backend_inventory_get_available')}}";
		var data = {
			id: $('.typeahead').val()
		};
		
		$('#available').load(url,data,function(){
			
		});		
	});
    
    $(document).ready(function() {
    	
	    setFormValidation('#userForm');	    
		$(".typeahead").select2({
			placeholder: "Seleccione el producto aquí"
		});
	    
	    var discount = 0;	    
	    $('.this_discount').each(function(a,b)
	    {	    	
	    	var parsing = parseFloat($(this).html());	    	
	    	if(isNaN(parsing))
	    	{
	    		var parsingDone = 0;	
	    	} else {
	    		var parsingDone = parsing;
	    	}
	    	discount = discount + parsingDone;
	    });  
	    
	    $('#this_discount_total').html('<b>-Q'+discount.toFixed(2)+'</b>');
	    	   
	    var value = 0;	    
	    $('.this_sell').each(function(a,b)
	    {
	    	value = value + parseFloat($(this).html());
	    });    
	    
	    $('#this_sell_total').html('<b>Q'+value.toFixed(2)+'</b>');
	    
	    var grandTotal = (value.toFixed(2))-(discount.toFixed(2));
	    $('#this_grand_total').html('<b>Q'+grandTotal.toFixed(2)+'</b>');
	    	    
	});
	
	

    

	$(document).ready(function() {
	    $('.datatable_custom').DataTable({
	      "pagingType": "full_numbers",
	      "columnDefs": [
			  { "orderable": false, "targets": 3 }  
		   ],
		  
	      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
	      responsive: true,
	      language: {
		        processing:     "Procesando...",
		        search:         "Buscar:",
		        lengthMenu:     "Mostrar _MENU_ registros",
		        info:           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
		        infoEmpty:      "Mostrando registros del 0 al 0 de un total de 0 registros",
		        infoFiltered:   "(filtrado de un total de _MAX_ registros)",
		        infoPostFix:    "",
		        loadingRecords: "Cargando...",
		        zeroRecords:    "No se encontraron resultados",
		        emptyTable:     "Ningún dato disponible en esta tabla",
		        paginate: {
		            first:      "Primero",
		            previous:   "Anterior",
		            next:       "Siguiente",
		            last:       "Último",
		        },
		        aria: {
		            sortAscending:  ": Activar para ordenar la columna de manera ascendente",
		            sortDescending: ": Activar para ordenar la columna de manera descendente"
		        }
		    }		
	
	    });
	});    
		
</script>  
{% endblock %}
        