{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		<h4 class="card-title">
        			<a href="{{path('backend_inventory_sell')}}" class='btn btn-icon btn-default'><i class='fa fa-fw fa-chevron-left'></i></a> Historial de ventas        			
        		</h4>        				
        	</div>        	        
        </div>        
    </div>
    <div class="card-body">
    	<div clas='container'>
    		<form method='post' action="{{path('backend_inventory_sell_history')}}">
	    	<div class='row'>
	    		<div class='col-4'>    			
	    			<input type='text' class='form-control datepicker' value="{{from}}" name='dateFrom' placeholder='Fecha desde' style='margin:0px;'>
	    		</div>
	    		<div class='col-4'>    			
	    			<input type='text' class='form-control datepicker' value="{{to}}" name='dateTo' placeholder='Fecha hasta' style='margin:0px;'>
	    		</div>
	    		<div class='col-4 col-md-2'>    			
	    			<button type='submit' class='btn btn-success btn-block' style='margin:0px;'>
	    				<i class='fa fa-search'></i> Filtrar
	    			</button>
	    		</div>	    		
	    	</div>
	    	</form>
    	</div>
    	<br><br>	
        
  {% if list | length > 0 %}
  <div class='row'>
	  <div class="col-md-12 table-responsive">
			<table class="table datatable">
				<thead class="text-primary">
					<tr>								
						<th>Fecha</th>						
						<th>Producto</th>	
						<th>Cantidad</th>
																						
						<th>S.Total</th>
						<th>Desc.</th>
						<th>G.Total</th>								
						<th>Acciones</th>						
					</tr>
				</thead>
				<tbody>
				{% for item in list %}
					<tr>						
						<td>						
							<small>{{ item.created_at | date("Y-m-d H:i:s") }}</small> 							
						</td>						
						<td>
							<small>Q{{ item.product_name }}</small>
						</td>
						<td>
							{{ item.quantity }}
						</td>							
						<td>
							Q.{{item.quantity * item.sell_price}}
						</td>	
						<td>
							Q.{{item.discount_total}}
						</td>			
						<td>
							Q.<span class='this_values'>{{item.quantity * item.sell_price - item.discount_total}}</span>
						</td>	
						
						<td class="list_tools">																		
							<a href="javascript:;"
								class="btn btn-danger btn-icon btn-sm "
								data-id="{{ item.inventory_sell_id }}" 
								data-href="{{ path(
		                            'backend_inventory_history_delete',
		                            {'id': item.inventory_sell_id | md5 }
		                        ) }}"
		                        data-toggle="modal"
		                        data-target="#confirm-modal">
								<i class="now-ui-icons ui-1_simple-remove"></i>
							</a>												
						</td>
						
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
{% else %}
	<div class='row'>
		<div class='col-md-12 text-center'>
			<h1><i class='fa fa-archive'></i></h1>
			<h2>No hay ventas reportadas</h2>
			<p>No hay ventas que mostrar</p>			
		</div>
	</div>
{% endif %}	
      
        
	</div>             
</div>

{% if resume %}
<br>
<div class="card">    
    <div class="card-body">
    	<div clas='container'>
    		<br>
    		<div class='row'>
    			<div class='col-md-12 text-center'>
    				<i>Del {{from}} hasta el {{to}}</i>
    			</div>
    			<div class='col-md-6' style='text-align:right;'>
    				<h2 style='margin:0px;'>En caja:</h2>
    			</div>
    			<div class='col-md-6' style='text-align:left'>
    				<h2 style='margin:0px;' id='total_history'></h2>
    			</div>
    		</div>
    		<br>
    	</div>
    </div>		
</div>	
{% endif %}

{{ include(
	'@App/Backend/confirm_modal.html.twig',
	{
		'form': false,
		'confirmQuestion': '¿Está seguro de eliminar este registro?'
	}
) }}  
       
{% endblock %}
{% block extra_scripts %}
<script>

     $(document).ready(function()
     {
     	var value = 0;	    
	    $('.this_values').each(function(a,b)
	    {
	    	value = value + parseFloat($(this).html());
	    });
	    
	    $('#total_history').html("<b>Q."+value+"</b>");
    })   	   	    

</script>  
{% endblock %}
        