<br>
<div class="card box-primary">
	<div class="card-header">
		<h3 class="box-title">Información académica</h3>
	</div>
	<!-- /.box-header -->
	<div class="card-body padding" id='dynamic_info'>
		<form action='{{ path("backend_user_view",{id: user.userId | md5}) }}'>
		<div class='row'>
			<div class='col-md-4 col-sm-12'>
				<h3 style='padding:0px;margin:0px;'>{{ dashboard.date_from }} &raquo; {{ dashboard.date_to }}</h3>		
			</div>
			<div class='col-md-4 col-sm-12'>
				<select name='filter_cycle' class='form-control'>
					{% for value in dashboard_root.cycle_array %}
						{% if selected_cycle == value.cycle_number %}							
							<option value="{{value.cycle_number}}">&bull; {{ value.cycle_full_name }}</option>														
	      				{% endif %}
	      			{% endfor %}		      
	      			{% for value in dashboard_root.cycle_array %}
						{% if selected_cycle != value.cycle_number %}							
							<option value="{{value.cycle_number}}">{{ value.cycle_full_name }}</option>														
	      				{% endif %}
	      			{% endfor %}		      
	      				
	    		</select>
			</div>
			<div class='col-md-2 col-sm-6'>
				<button type='submit' class='btn btn-primary btn-block'><i class='fa fa-search'></i> Filtrar</button>
			</div>
			<div class='col-md-2 col-sm-6'>
				<div class="dropdown">
				  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				   <i class='fa fa-print'></i> Imprimir
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" target="_blank" href="{{ path('backend_user_view',{id: md5Id,print:true, filter_cycle:selected_cycle }) }}">Impresión con detalles</a>
				    <a class="dropdown-item" target="_blank" href="{{ path('backend_user_view',{id: md5Id,print:true, filter_cycle:selected_cycle, total_only: true }) }}">Impresión de totales</a>
				  </div>
				</div>				
			</div>				

		</div>
		</form>
		<div class='row'>
			<div class='col-md-12'>
				<hr>
			</div>
		</div>		 
		<div class='row'>
			<div class='col-md-12'>
			{% for item in dashboard.subjects_info %}			
			    <h1>
			    	<span class="badge badge-{{ item.this_cycle_average.color }}" data-toggle="tooltip" title="Este es el promedio total de esta materia, en lo que va del ciclo actual.">
			    								    	  	<i class='fa fa-question-circle'></i> {{ item.this_cycle_average.percentage }}%
			    	</span> 
			    	<span class="badge badge-{{ item.this_cycle_average.color }}" data-toggle="tooltip" title="Estos son los puntos ganados versus los puntos totales que van en el ciclo actual.">
			    								    	  	<i class='fa fa-question-circle'></i> {{ item.this_cycle_average.points_achieved }} / {{ item.this_cycle_average.points_total }}
			    	</span>	    
			    	{{ item.subject_name }}
			    </h1>
			    <table class='table'>
			    	 {% if item.activities_pending | length > 0 %}
				    	 {% for item2 in item.activities_pending %}	
				    	   {% if loop.index == 1 %}	
					    	  <tr>
					    	  	<td style='width:10%'></td>					    	  	
					    	  	<td style='background-color:#eee' colspan=5 data-toggle="tooltip" title="Actividades cuya fecha de entrega limite no se ha alcanzado aún. Algunas actividades aquí puede que ya esten calificadas, en caso de haber sido entregadas antes.">
						    	  	<i class='fa fa-question-circle'></i> Actividades con fecha límite de entrega pendiente
						    	</td>
					    	  </tr>				  
				    	   {% endif %}				  
						  <tr>
						  	<td style='width:10%'></td>
						  	<td style='width:13%'>
							  	<h3 style='padding:0px;margin:0px;'>
							  		<span class='badge badge-default'>
							  			{% if item2.points_given %}
							  				{% if item2.points_given > 0 %}
							  					{{ item2.points_given }} / 
								  			{% endif %}
							  			{% endif %}
							  			
							  			{{item2.points_over}}
							  		</span>
							  		{% if item2.comments != '' %}
							  		<span class='badge badge-primary animated tada infinite task_comments' data-toggle="tooltip" title="{{item2.comments}}">
							  			<i class='fa fa-fw fa-comment'></i>	
							  		</span>
							  		{% endif %}
							  	</h3>
							</td>
						    <td>
						    	
						    	<a href="{{ path('backend_task_report',{id: item2.task_id, gd: item2.grade_id, sd: item2.grade_section_id, iid:item2.institute_id, sud:item2.subject_id,back:false}) }}">
						    		{{ item2.task_name }}
						    	</a>	
						    </td>
						    <td>						    							    	
						    	{% if item2.task_type == 'Tarea digital' %}
						    		<p class='badge badge-info'><i class='fa fa-star'></i> {{ item2.task_type }}</p>
						    	{% else %}
						    		<p class='badge badge-primary'>{{ item2.task_type }}</p>
						    	{% endif %}
						    </td>
						    <td style='width:20%'>Faltan <b>{{ item2.days_until_due_date }}</b> dias</td>					    
						  </tr> 
						 {% endfor %} 
					 {% else %}
					 	  <tr>
				    	  	<td style='width:10%'></td>				    	  	
				    	  	<td style='background-color:#eee;text-align:center' colspan=5><i>No hay actividades pendientes</i></td>
				    	  </tr>	
					 {% endif %}
				</table>
				
				<table class='table'>
					 {% if item.activities_expired | length > 0 %}
				    	 {% for item2 in item.activities_expired %}
				    	   {% if loop.index == 1 %}	
					    	  <tr>
					    	  	<td style='width:10%'></td>					    	  	
					    	  	<td style='background-color:#eee' colspan=4 data-toggle="tooltip" title="Actividades cuya fecha limite fue alcanzada. De haber sido entregada, la actividad ya debe estar calificada.">
						    	  	<i class='fa fa-question-circle'></i> Actividades que deberían estar ya entregadas
						    	</td>
					    	  </tr>				  
				    	   {% endif %}
						  <tr>
						  	<td style='width:10%'></td>
						  	<td style='width:13%'>
						  		<h3 style='padding:0px;margin:0px;'>
						  			<span class='badge badge-{{ item2.color }}'>{{ item2.points_given }} / {{item2.points_over}}</span>
						  			{% if item2.comments != '' %}
							  		<span class='badge badge-primary animated tada infinite task_comments' data-toggle="tooltip" title="{{item2.comments}}">
							  			<i class='fa fa-fw fa-comment'></i>	
							  		</span>
							  		{% endif %}
						  		</h3>
						  	</td>
						    <td>
						    	<a href="{{ path('backend_task_report',{id: item2.task_id, gd: item2.grade_id, sd: item2.grade_section_id, iid:item2.institute_id, sud:item2.subject_id,back:false}) }}">
						    		{{ item2.task_name }}
						    	</a>
						    </td>
						    <td>
						    	{% if item2.task_type == 'Tarea digital' %}
						    		<p class='badge badge-info'><i class='fa fa-star'></i> {{ item2.task_type }}</p>
						    	{% else %}
						    		<p class='badge badge-primary'>{{ item2.task_type }}</p>
						    	{% endif %}
						    </td>
						    <td style='width:20%'>Fecha límite fue: {{ item2.task_due }}</td>					    
						  </tr> 
						 {% endfor %} 
					 {% else %}
					 	  <tr>
				    	  	<td style='width:10%'></td>				    	  	
				    	  	<td style='background-color:#eee;text-align:center' colspan=5><i>No hay actividades expiradas</i></td>
				    	  </tr>	
					 	
					 {% endif %}
				</table>
		    {% endfor %}
		   </div>
		  
	    </div> 
	</div>

</div>
<script>
	$(function() {		
		setTimeout(function(){
			$('.task_comments').removeClass('infinite');
		},7000)
	});	
</script>
{% block extra_scripts %}

{% endblock %}