<br>
<div class="row">
	<div class="col-md-12">
		<div class="card box-success">
			<div class="card-header">
				<h3 class="box-title">			
					Materias asignadas y actividades creadas
				</h3>
			</div>
			<!-- /.box-header -->
			<div class="card-body padding">					
				<div class='row'>
					<div class='col-md-12'>
						
						{% for item in assigned_subjects %}
							<h4 onclick='displayActs({{ item.gradeSection.gradeSectionId }},{{ item.subject.subjectId }})' class='acts_label'>
								<i class='fa fa-plus' id='icon_{{ item.gradeSection.gradeSectionId }}_{{ item.subject.subjectId }}'></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.subject.name }} - {{ item.gradeSection.grade.name }} - Sección {{ item.gradeSection.sectionName }}
							</h4>
							<div class='act_{{ item.gradeSection.gradeSectionId }}_{{ item.subject.subjectId }} acts' style='display:none;'>
								<br>
								<table class='table dataTable'>
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Puntos</th>
											<th>Tipo</th>
											<th>Límite</th>
											<th>Creación</th>
										</tr>	
									</thead>
									<tbody>								
										{% for item2 in activities_teacher %}
										{% if item.subject.subjectId == item2.subject.subjectId and item.gradeSection.gradeSectionId == item2.gradeSectionIds %}
											<tr>
												<td>
													<a target='_blank' href="{{ path('backend_task_report',{id: item2.taskId, gd: item2.gradeSectionIds, sd: item2.gradeSectionIds, iid:item2.institute.instituteId, sud:item2.subject.subjectId,back:false}) }}">
													{{ item2.name }}
													</a>
												</td>
												<td>{{ item2.pointsValue }}</td>
												<td>{{ item2.taskType }}</td>
												<td><small>{{ item2.dueDate | date('Y-m-d') }}</small></td>
												<td><small>{{ item2.createdAt | date('Y-m-d') }}</small></td>
											</tr>
										{% endif %}	
										{% endfor %}
									</tbody>
								</table>
								<br>
							</div>
						{% endfor %}						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>			