{% set disabled = false %}
{% if edit %}
	{% set disabled = true %}
{% endif %}

<form method="post" action="" id="userForm" class="validateForm"  {{form_enctype(form)}} autocomplete="false">
	<!-- /.box-header -->
	
		<div class='row'>
			<div class="col-md-12">
				
					<div class="avatar-wrapper">
						<img class="profile-pic" id='profile-pic' src="" />
						<div class="upload-button">
							<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
						</div>
						<!--input class="file-upload" type="file" accept="image/*"/-->
						
						{% if form.vars.value.avatarPath | length > 0 %}
							<input type="file" id="appbundle_user_avatarPath" name="appbundle_user[avatarPath]" class="file-upload" src="{{ asset('images/default_user_icon.png') }}" style='opacity:0'>							
							<script>
								var img = document.getElementById("profile-pic");
								img.setAttribute('src', "{{ asset('uploads/profiles/'~form.vars.value.avatarPath) }}");																							    	
					        							    								
							</script>						
						{% else %}
							<input type="file" id="appbundle_user_avatarPath" name="appbundle_user[avatarPath]" class="file-upload" src="{{ asset('images/default_user_icon.png') }}" style='opacity:0'>							
							<script>
								var img = document.getElementById("profile-pic");
								img.setAttribute('src', "{{ asset('images/default_user_icon.png') }}");																							    	
					        							    								
							</script>								
						{% endif %}
						
					</div>
				
			</div>
			
		</div>
		<hr>			
		<div class='row'>	
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.firstName, "Nombres") }}
					{{form_widget(form.firstName, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.lastName, "Apellidos") }}
					{{form_widget(form.lastName, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>			
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.email, "Email") }}
					{{form_widget(form.email, {'attr': {'class': 'required email form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.userRole, "Rol de usuario") }}
					{# {form_widget(form.userRole, {'attr': {'class': 'required form-control' }}) } #}
					
					<select id="appbundle_user_userRole" name="appbundle_user[userRole]" class="required form-control">
					{% for item in rolePlatforms %}
						<option value='{{item.user_role_id}}'>{{item.name}}</option>
					{% endfor %}	
					</select>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="form-group">					
				    {{ form_label(form.password, "Contraseña") }}
				    {{form_widget(form.password, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>
			
			<input id="appbundle_user_status" name="appbundle_user[status]" type="hidden" value="ACTIVO">
						
			
			
			<!-- /.col -->
		</div>
		<hr>
		
		<br>
		<div class='line'></div>
		<div class='row form-group'>
			<div class='col-md-6'>	
				{% if edit == true %}					
					{% if permits["dp"] %}
						<a  href="javascript:;"
							class="btn btn-danger "
							data-id="{{ user.userId }}" 
							data-href="{{ path(
		                        'backend_user_delete',
		                        {'id': user.userId | md5 }
		                    ) }}"
		                    data-toggle="modal"
		                    data-target="#confirm-modal">
							<i class="now-ui-icons ui-1_simple-remove"></i> Eliminar
						</a>
					{% endif %}	
				{% endif %}				
			</div>
			<div class='col-md-6'>						
				<button type="submit" class="btn btn-success pull-right">Guardar</button>				
			</div>
		</div>
		
		<!-- /.row -->
	
	
	{{ form_widget(form._token) }}
</form>


       

<script>

	
	
</script>