<option value=""></option>
{% for grade in grades %}
<option value="{{ grade.grade_id }}">Plan {{ grade.plan_name }} - Jornada {{ grade.working_day_name }} - {{ grade.grade_name }}</option>
{% endfor %}
