<html>
	<head>
		<style>
			.logo img {				
				height:80px;
			}
			
			.text-right {
				text-align:right;
			}
			
			table {
				width:100%;
			}
			
			.table tr td {
				border-width:1px;
				border-color:#ddd;
				border-style:solid;
				font-size:9px;
				
			}
			
		</style>
	</head>
	<body>
		<br>
		<table>
			<tr>
				<td>
					<div class="logo">
						<img src="{{ asset('uploads/images/'~user.institute.logoPath) }}">
					</div>
				</td>
				<td>
					<div class="logo text-right">
						<img src="{{ asset('images/logo_full.png') }}">
					</div>	
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<br>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<h4>Reporte Académico</h4>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<br>
				</td>
			</tr>
			<tr>
				<td>
					{{ user.institute.name }}
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					{{ user.firstName }} {{ user.lastName }}
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					Grado {{ user.gradeSection.grade.name }}, Sección {{ user.gradeSection.sectionName }}
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					{{ selected_cycle_full_name }} ({{ dashboard.date_from }} &raquo; {{ dashboard.date_to }})
				</td>
				<td></td>
			</tr>
		</table>
		<br>
		<div>
			<i>* Mostrando totales de las actividades ya calificadas</i>
		</div>
		{% for item in dashboard.subjects_info %}
			<h4>			    		   
		    	{{ item.subject_name }}
		    </h4>
		    <table class="table" style="width:100%">
				 {% if item.activities_all | length > 0 %}
				 	 {% set total_given = 0 %}
				 	 {% set total_over = 0 %}
				    	 {% for item2 in item.activities_all %}	
				    	 	{% if item2.days_until_due_date < 0 or item2.points_given > 0 %}			    	   

								  {% set total_given = total_given + item2.points_given  %}
								  {% set total_over = total_over + item2.points_over  %}					  
							 {% endif %} 					  
						 {% endfor %}
						 {% if total_given > 0 %}
							 <tr>					 	
							 	<td>
							 		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total {{ total_given }} de {{ total_over }}
							 	</td>
							 	<td></td>
							 	<td></td>
						 	 </tr>
					     {% else %}	 
							 <tr>
							 	<td></td>
							 	<td style="color:#ccc;text-align:center"><i>No hay notas</i></td>
							 	<td></td>
							 </tr>					 
						 {% endif %}
					{% else %}	 
						 <tr>
						 	<td></td>
						 	<td style="color:#ccc;text-align:center"><i>No hay notas</i></td>
						 	<td></td>
						 </tr>					 
					{% endif %}				 		
			</table>
		{% endfor %}
		
		
		
	</body>
</html>