{% extends '@App/Backend/base.html.twig' %}

{% block body %}

  <div class="breadcrumb-holder">   
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('backend_main') }}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backend_user') }}">Plantel educativo</a></li>
        <li class="breadcrumb-item active">{{ user.firstName }} {{ user.lastName }}</li>
      </ul>
    </div>
  </div>

<section class="content section-padding">
	<div class="container-fluid">
		{{ include('@App/Backend/flash_message.html.twig') }}
		
		{% if permits["rp"] %}
		<div class='row'>
			<div class='col-md-12'>
				<a href="{{ path('backend_user') }}" class='btn btn-secondary'>&laquo; Listado Completo</a>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">			
				{{ include('@App/Backend/User/_general_info.html.twig', { 'user': user,'userInfo':userData }) }}
			</div>
		</div>
		
		
		
			<!-- SI es estudiante -->
			{% if user.userRole.userRoleId == 5 %}
				<div class="row">
					<div class="col-md-12">
						{{ include('@App/Backend/User/_student_info.html.twig', { 'user': user, 'dashboard': dashboard, 'dashboard_root':dashboard_root,'selected_cycle':selected_cycle }) }}
					</div>
				</div>	
			{% endif %}


			<!-- SI es maestro, solo el director puede ver los detalles asi como el profesor mismo -->
			{% if userData.role_id == 4 or userData.id == user.userId  %}
				{% if user.userRole.userRoleId == 3 %}
				    {{ include('@App/Backend/User/_teacher_info.html.twig', { 'user': user }) }}				
				{% endif %}
			{% endif %}


		{% endif %}
	</div>
</section>


{% endblock %}

{% block extra_scripts %}
<script>
	
	function displayActs(gid,sid)
	{
		var el = $('.act_'+gid+'_'+sid);
		el.toggle();
		
		$('#icon_'+gid+'_'+sid).removeClass('fa fa-plus');
		$('#icon_'+gid+'_'+sid).removeClass('fa fa-minus');
		
		if(el.is(":visible"))
		{
			$('#icon_'+gid+'_'+sid).addClass('fa fa-minus');			
		} else {
			$('#icon_'+gid+'_'+sid).addClass('fa fa-plus');			
		}
		
	}
	
	function viewBoard(id)
	{
		$('.board-body').html('<h1 class="text-center"><i class="fa fa-spin fa-spinner"></i></h1><p class="text-center">Calculando cuadros...</p>');
		var url1 = "{{path('backend_board_view',{'id':'_ID_'})}}";
		var url = url1.replace("_ID_",id);
		//console.log('url',url);
		$('.board-body').load(url,{},function(a,b)
		{
			if(b == 'error')
			{
				$('.board-body').html('<h1>Problema detectado</h1><p>Kaans ha detectado un problema al generar el calculo de los cuadros. Podría ser un problema temporal. Intente de nuevo más tarde y si el problema persiste contacte a soporte técnico</p>');
			}
		});
	}
	
	$(document).ready(function() {		
	    $('.dataTable').DataTable({
	    	language: {
		        processing:     "Procesando...",
		        search:         "Buscar:",
		        lengthMenu:     "Mostrar _MENU_ registros",
		        info:           "Mostrando del _START_ al _END_ de un total de _TOTAL_",
		        infoEmpty:      "Mostrando del 0 al 0 de un total de 0 registros",
		        infoFiltered:   "(filtrado de un total de _MAX_ registros)",
		        infoPostFix:    "",
		        loadingRecords: "Cargando...",
		        zeroRecords:    "No se encontraron resultados",
		        emptyTable:     "Ningún dato disponible en esta tabla",
		        paginate: {
		            first:      "Primero",
		            previous:   "Anterior",
		            next:       "Siguiente",
		            last:       "Último",
		        },
		        aria: {
		            sortAscending:  ": Activar para ordenar la columna de manera ascendente",
		            sortDescending: ": Activar para ordenar la columna de manera descendente"
		        }
		    }		    
	    });
	    
	    $('.dataTables_wrapper').removeClass('container-fluid');
	});
</script>
{% endblock %}