
.login-page, .register-page {
    background-image: url('../../images/background_login.jpg') !important;
    background-size:cover !important;
}

.title_white
{
	color:#fff !important;
}

.login-box-body {
    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
