<form method="post" action="" id="positionValidation" class="validateForm" autocomplete="false" {{form_enctype(form)}}>      			                  
	<div class="form-group has-label">
	    <label>Nombre de Puesto *</label>	    
	    {{form_widget(form.name, {'attr': {'class': 'required form-control','required':'true' }}) }}
	</div>
	<div class="form-group has-label">
	    <label>Puesto superior inmediato *</label>	    
	    <select id="appbundle_position_parentPositionId" name="appbundle_position[parentPositionId]" class="selectpicker form-control" data-style="btn btn-info btn-round" title="- Este es el puesto más alto -">	    	
	    	{% if edit == false %}
	    		<option value="">- Este es el puesto más alto -</option>
		    	{% for item in listPos %}
		    		<option value="{{item.positionId}}">{{item.departmentName}} - {{item.name}}</option>
		    	{% endfor %}
	    	{% else %}
	    		<option value="0">- Puesto más alto -</option>
	    		{% for item in listPos %}
	    			{% if form.vars.value.parentPositionId == item.positionId %}
	    				<option value="{{item.positionId}}" selected="selected">{{item.departmentName}} - {{item.name}}</option>	
	    			{% endif %}
	    		{% endfor %}
	    		{% for item in listPos %}
	    			{% if form.vars.value.parentPositionId != item.positionId %}
	    				{% if form.vars.value.positionId != item.positionId %}
	    					<option value="{{item.positionId}}">{{item.departmentName}} - {{item.name}}</option>
	    				{% endif %}		
	    			{% endif %}
	    		{% endfor %}		
	    	{% endif %}
	    </select>	    
	</div>
	<div class="form-group has-label">
	    <label>Descripción</label><br>
	    {{form_widget(form.description, {'attr': {'class': 'form-control' }}) }}	    
	</div>	        	
	<div class="category form-category">* Campos requeridos</div>
	
	<button class='btn btn-success float-right' type='submit'>Guardar</button>
	{{ form_widget(form._token) }}
</form>        
  

      
      