{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		<h4 class="card-title">
        			<a href="{{ path('backend_user',{did:did}) }}" class="btn btn-default btn-icon" style='display:inline-block'>
        				<i class='now-ui-icons arrows-1_minimal-left'></i>
        			</a>
        			Puestos de {{department.name}}
        		</h4>		
        	</div>
        	{% if permits["wp"] %}     
	        	<div class='col-md-6'>
	        		<button type="button" class='btn btn-primary float-md-right btn-icon btn-round' data-toggle="modal" data-target="#openModal">
	        			<i class='now-ui-icons ui-1_simple-add'></i>	        			
	        		</button>
	        	</div>
        	{% endif %}
        </div>        
    </div>
    <div class="card-body">
        {{ include('@App/Backend/Position/list.html.twig', { 'list': list, 'did':did }) }}
	</div>             
</div>


<!-- The Modal -->
<div class="modal fade" id="openModal">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
	    <h4 class="modal-title" style='margin-top:0px'>Agregar Puesto</h4>		
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
      <div class="modal-body" id='modalContent1'>
      	  {{ include('@App/Backend/Position/form.html.twig', { 'form': form, 'list':list, 'edit':false, 'listPos':listPos }) }}
      </div>      
      <!--div class="modal-footer float-right">        
      </div-->	    
    </div>
  </div>
</div>
  
{{ include(
	'@App/Backend/confirm_modal.html.twig',
	{
		'form': form,
		'confirmQuestion': '¿Está seguro de eliminar este registro?'
	}
) }}  
       
{% endblock %}
{% block extra_scripts %}
<script>
   
    
    $(document).ready(function() {
    	
	    setFormValidation('#positionValidation');	    
	});
</script>  
{% endblock %}
        