{% if list | length > 0 %}
<div class="table-responsive">
	<table class="table datatable">
	    <thead class="text-primary">                    			
			
			<th>Puesto</th>		
			<th>Puesto Jefe</th>	
			<th>Descripción</th>
			<!--th>Creador</th-->
			<th>Acciones</th>
	    </thead>
	    <tbody>
	    	{% for r in list %}
			<tr>				
	    		<td>
	    			{{ r.name }}
	            </td>    	     
	            <td>
	            	{% if r.parent | length > 0 %}
	            		{{r.parent_department}} - {{ r.parent }}
	            	{% else %}
	            		Puesto más alto
	            	{% endif %}
	            </td>                             
	            <td>
	                <small>{{ r.description }}</small>                           
	            </td>	            
	                                 	            
				<td>
					{% if permits["ep"] %}
	        		<a href="{{ path('backend_position_edit', {id: r.positionId | md5, did:did}) }}" type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm ">
						<i class="fa fa-pencil"></i>
					</a>                  
					{% endif %}      
					{% if r.user_count == 0 and r.req_count == 0 %}                    	            		                
					{% if permits["dp"] %}
						<a href="javascript:;"
						    class="btn btn-danger btn-icon btn-sm "
						    data-id="{{ r.positionId }}" 
						    data-href="{{ path(
						        'backend_position_delete',
						        {'id': r.positionId | md5, did:did}
						    ) }}"
						    data-toggle="modal"
						    data-target="#confirm-modal">
							<i class="now-ui-icons ui-1_simple-remove"></i>
						</a>
					{% endif %}  
					{% endif %}             
	        	</td>                
			</tr>
			{% endfor %}
	</table>    
</div>
{% else %}
<div class='row'>
	<div class='col-md-12 text-center'>
		<h1><i class='now-ui-icons loader_gear'></i></h1>
		<h2>Crear puestos</h2>
		<p>Puede crear puestos para el departamento de {{department.name}} haciendo clic en el botón de abajo</p>
		<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Agregar puestos!</a>
	</div>
</div>
{% endif %}
