{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class='row'>
	<div class='col-md-3'></div>
	<div class='col-md-6'>
		<div class="card">
		    <div class="card-header">        
		        <div class='row'>
		        	<div class='col-md-12'>
		        		<h4 class="card-title">
		        			<a href="{{ path('backend_step',{fid:fid,pid:pid}) }}" class="btn btn-default btn-icon">
		        				<i class='now-ui-icons arrows-1_minimal-left'></i>
		        			</a> 
		        			Editar Requisito
		        		</h4>		
		        	</div>		        	 
		        </div>		              
		    </div>
		    <div class="card-body">
		    	{{ include('@App/Backend/Step/form_req.html.twig', { 'edit':true }) }}				    	
			</div>             
		</div>
	</div>
	<div class='col-md-3'></div>
</div>


{% endblock %}
{% block extra_scripts %}
<script>
	
	function setSid(sid)
	{
		$('#sid').val(sid);		
	}
    
    $(document).ready(function() {
    	
    	changeLabelsType();
    	getPositions();
    	
    	$('#deptSelect').on('change',function(a)
    	{
    		
    		getPositions();
    	})
    	
    	$('#reqType').on('change',function(a)
    	{
    		changeLabelsType();
    	});
    	
    	function getPositions()
    	{
    		$('#positionSelect').html("<i class='fa fa-spin fa-spinner'></i>");
    		var id = $('#deptSelect').val();
    		var url = "{{path('backend_step_position_select')}}";
    		$('#positionSelect').load(url,{deptId: id, edit:true,selectedId:{{object.position.positionId}}},function(a){
    			$('#positionGroup').show();
    			console.log(a);
    			$('#positionSelect').html(a);
    			$('#positionSelect select').selectpicker('refresh');
    		});
    	}
    	
    	function changeLabelsType()
    	{
    		var id = $('#reqType').val();
    		if(id == 1)
    		{
    			$('#reqLabel1').html("Nombre de la acción necesaria para continuar *");
    			$('#reqLabel2').html("Que departamento debe realizar la acción *");
    			$('.hidden_temp').show();
    		}
    		if(id == 2)
    		{
    			$('#reqLabel1').html("Nombre del archivo que se debe subir para continuar *");
    			$('#reqLabel2').html("Que departamento debe subir el archivo *");
    			$('.hidden_temp').show();
    		}
    	}
    	
	    	    
	});
</script>	
{% endblock %}
        