<form method="post" action="{{path('backend_step_requirement_save')}}" id="stepReqValidation" class="validateForm" autocomplete="false">
<input type='hidden' name='req[fid]' value="{{fid}}">
<input type='hidden' name='req[pid]' value="{{pid}}">

{% if edit == true %}
<input type='hidden' name='req[sid]' id='sid' value="{{sid}}">
<input type='hidden' name='req[srid]' value="{{object.stepRequirementId|md5}}">
{% else %}
<input type='hidden' name='req[sid]' id='sid' value="">
{% endif %}
<div class="form-group has-label">
	<label>Requisitos para continuar al siguiente paso *</label><br>
	{% if edit == true %}
	  	<select class='form-control selectpicker' id='reqType' name='req[type]' data-style='btn btn-info btn-round' title='Seleccione una opción' required='true'>	    			    	
			{% for item in reqTypes %}	 
				{% if item.requirementTypeId == object.requirementType.requirementTypeId %}   				    		
					<option value="{{item.requirementTypeId}}" selected='selected'>{{item.name}}</option>
				{% else %}
					<option value="{{item.requirementTypeId}}">{{item.name}}</option>
				{% endif %}		    			
			{% endfor %}	    				    			    	
	    </select>    			          
    {% else %}
    	<select class='form-control selectpicker' id='reqType' name='req[type]' data-style='btn btn-info btn-round' title='Seleccione una opción' required='true'>	    			    	
			{% for item in reqTypes %}	    				    		
				<option value="{{item.requirementTypeId}}">{{item.name}}</option>		    			
			{% endfor %}	    				    			    	
	    </select>
    {% endif %}
</div>  

{% set display = 'display:none' %}
{% if edit == true %}
	{% set display = '' %}    
{% endif %}      
<div class='hidden_temp' style='{{display}}'>
	<div class="form-group has-label">
	    <label id='reqLabel1'></label>	
	    {% if edit == true %}    
	    	<input type="text" id="appbundle_step_name" name="req[name]" value="{{object.name}}" maxlength="300" class="required form-control" required="true">
	    {% else %}
	    	<input type="text" id="appbundle_step_name" name="req[name]" maxlength="300" class="required form-control" required="true">
	    {% endif %}	
	</div>
	<div class="form-group has-label">
		<label id="isPersonalLabel">El iniciador del flujo es el que debe completar este requisito *</label><br>
		<input type="checkbox" class="bootstrap-switch" data-on-label="SI" data-off-label="NO" id='isPersonal' name='req[is_personal]'>
	</div>
    <div class="form-group has-label" id='groupMustApprove' style='display:none'>
		<label id="bossMustApproveLabel">El jefe del iniciador del flujo es quien aprobar *</label><br>
		<input type="checkbox"  class="bootstrap-switch" data-on-label="SI" data-off-label="NO" id='bossMustApproveInput' name='req[boss_must_approve]'>
	</div>                           
	<div id='isNotPersonal'>
		<div class="form-group has-label "> 
		    <label id='reqLabel2'></label><br>
		    	{% if edit == true %}
				    <select class='form-control selectpicker' id='deptSelect' name='req[department]' data-style='btn btn-info btn-round' title='Seleccione una opción' required='true'>	    			    	
		    		{% for item in departments %}
		    			{% if item.department_id == object.department.departmentId %}	    				    		
		    				<option value="{{item.department_id}}" selected="selected">{{item.name}}</option>
		    			{% else %}
		    				<option value="{{item.department_id}}">{{item.name}}</option>
		    			{% endif %}		    			
		    		{% endfor %}    			    				    			    
	    			</select>
	    		{% else %}
	    			<select class='form-control selectpicker' id='deptSelect' name='req[department]' data-style='btn btn-info btn-round' title='Seleccione una opción' required='true'>	    			    	
		    		{% for item in departments %}	    				    		
		    			<option value="{{item.department_id}}">{{item.name}}</option>		    			
		    		{% endfor %}    			    				    			    
	    			</select>
	    		{% endif %}	      		    
		</div>	 
		<div class="form-group has-label " id='positionGroup' style='display:none'>
		    <label id='reqLabel3'>Que puesto es el responsable de este paso *</label><br>
		    <div  id='positionSelect'></div>					          		    
		</div>	
	</div> 
	<div class="form-group has-label">
	    <label>Que resultados espera con este paso *</label>	
	    {% if edit == true %}    
	    	<textarea class='form-control' name='req[description]' required>{{object.description}}</textarea>
	    {% else %}
	    	<textarea class='form-control' name='req[description]' required></textarea>
	    {% endif %}
	</div>      	
</div>
<div class="category form-category">* Campos requeridos</div>

<button class='btn btn-success float-right' type='submit'>Guardar</button>
	
  </form> 
  


