{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-10'>
        		<h4 class="card-title"> 
        			<a href="{{ path('backend_flow',{pid:pid}) }}" class="btn btn-default btn-icon" style='display:inline-block'>
        				<i class='now-ui-icons arrows-1_minimal-left'></i>
        			</a>
        			Pasos del flujo "{{flow.name}}"
        		</h4>		
        	</div>
        	{% if permits["wp"] %}     
	        	<div class='col-md-2'>
	        		<button type="button" class='btn btn-primary float-md-right btn-icon btn-round' data-toggle="modal" data-target="#openModal">
	        			<i class='now-ui-icons ui-1_simple-add'></i>	        			
	        		</button>
	        	</div>
        	{% endif %}
        </div>        
    </div>
    <div class="card-body">
        {{ include('@App/Backend/Step/list.html.twig', { 'list': list }) }}
	</div>             
</div>

      
  
<!-- The Modal -->
<div class="modal fade" id="openModal2">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
	    <h4 class="modal-title" style='margin-top:0px'>Agregar requisitos</h4>		
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
      <div class="modal-body" id='modalContent2'>
      	  {{ include('@App/Backend/Step/form_req.html.twig',{'edit':false}) }}
      </div>      
      <!--div class="modal-footer float-right">        
      </div-->	    
    </div>
  </div>
</div> 


<!-- The Modal -->
<div class="modal fade" id="openModal">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
	    <h4 class="modal-title" style='margin-top:0px'>Agregar Paso</h4>		
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
      <div class="modal-body" id='modalContent1'>
      	  {{ include('@App/Backend/Step/form.html.twig', { 'form': form }) }}
      </div>      
      <!--div class="modal-footer float-right">        
      </div-->	    
    </div>
  </div>
</div>
  
{{ include(
	'@App/Backend/confirm_modal.html.twig',
	{
		'form': form,
		'confirmQuestion': '¿Está seguro de eliminar este registro?'
	}
) }}  
       
{% endblock %}
{% block extra_scripts %}
<script>
    $('#confirm-modal').modal();

    $('#confirm-modal').on('show.bs.modal', function(e) {
        $(this).find('#btn-ok').attr('href', $(e.relatedTarget).data('href'));

        // Get the question text
        var text = $(this).find('#question-p').text();

        // Replace [ID] with the data 'id'
        var replaceText = "<span class='delete-id'>" + $(e.relatedTarget).data('id') + "</span>";
        text = text.replace('[ID]', replaceText);
        $(this).find('#question-p').html(text);
    });

    $('#confirm-modal').on('hidden.bs.modal', function (e) {
        // Switch back to [ID]
        $(this).find('#question-p').find('span.delete-id').replaceWith('[ID]');
    })
    
    function setSid(sid)
	{
		$('#sid').val(sid);		
	}
	
	function showPanel(loopId)
	{
		
		
		
		
		
		if($('.panel_'+loopId).is(':visible'))
		{						
			$('#panel_btn_'+loopId).html("Mostrar");
			$('.panel_'+loopId).hide('fast');
		} else {			
			
			$('#panel_btn_'+loopId).html("Ocultar");
			$('.panel_'+loopId).show('fast');						
		}
		
	}

    $(document).ready(function() {
    	
    	//Exclusivo para TIPO 3
		$('#bossMustApproveInput').on('switchChange.bootstrapSwitch', function (event, state) {
		
			var id = $('#reqType').val();
			if(id == 3)
			{
	    		if(state == true)
	    		{
	    			$('#isPersonal').bootstrapSwitch('state', false);
	    			$('#deptSelect').val('0');
					$('#isNotPersonal').hide();
	    		} else {
	    			if($('#isPersonal').bootstrapSwitch('state') == false)
	    			{
		    			$('#isNotPersonal').show();
						val = true;
					} else {
						$('#deptSelect').val('0');
						$('#isNotPersonal').hide();
					}
	    		}
    		} 
    		
    		
    	});	    	
    	$('#isPersonal').on('switchChange.bootstrapSwitch', function (event, state) {
    		var id = $('#reqType').val();
    		if(id == 3)
			{
	    		if(state == true)
	    		{
	    			$('#bossMustApproveInput').bootstrapSwitch('state', false);
	    			$('#deptSelect').val('0');
					$('#isNotPersonal').hide();
	    		} else {
	    			if($('#bossMustApproveInput').bootstrapSwitch('state') == false)
	    			{
		    			$('#isNotPersonal').show();
						val = true;
					} else {
						$('#deptSelect').val('0');
						$('#isNotPersonal').hide();
					}
	    		}
	    	} else {
    			if(state == true)
    			{
    				$('#deptSelect').val('0');
					$('#isNotPersonal').hide();
					val = true;
    			} else {
    				$('#isNotPersonal').show();
					val = false;
    			}
    		}
    	});	
    	
    	
    	$('#deptSelect').on('change',function(a)
    	{
    		
    		$('#positionSelect').html("<i class='fa fa-spin fa-spinner'></i>");
    		var type = $('#reqType').val();
    		var id = $('#deptSelect').val();
    		var url = "{{path('backend_step_position_select')}}";
    		$('#positionSelect').load(url,{deptId: id,edit:false,selectedId:'',type:type},function(a){
    			$('#positionGroup').show();
    			console.log(a);
    			$('#positionSelect').html(a);
    			$('#positionSelect select').selectpicker('refresh');
    		});
    	})
    	
    	$('#reqType').on('change',function(a)
    	{
    		var id = $('#reqType').val();
    		if(id == 1)
    		{
    			$('#isPersonalLabel').html("El iniciador del flujo es el que debe completar este requisito *");
    			$('#reqLabel1').html("Nombre de la acción necesaria para continuar *");
    			$('#reqLabel2').html("Que departamento debe realizar la acción *");
    			$('#reqLabel3').html("Que puesto es el responsable de este paso *");    			
    			$('#appbundle_step_name').val("");
    			
    			
    			$('.hidden_temp').show();
    			$('#groupMustApprove').hide();
    			$('#bossMustApproveInput').bootstrapSwitch('state', false);
    			$('#isPersonal').bootstrapSwitch('state', false);
    		}
    		if(id == 2)
    		{
    			$('#isPersonalLabel').html("El iniciador del flujo es el que debe completar este requisito *");
    			$('#reqLabel1').html("Nombre del archivo que se debe subir para continuar *");
    			$('#reqLabel2').html("Que departamento debe subir el archivo *");
    			$('#reqLabel3').html("Que puesto es el responsable de este paso *");
    			$('#appbundle_step_name').val("");
    			
    			
    			$('.hidden_temp').show();
    			$('#groupMustApprove').hide();
    			$('#bossMustApproveInput').bootstrapSwitch('state', false);
    			$('#isPersonal').bootstrapSwitch('state', false);
    		}
    		if(id == 3)
    		{
    			$('#groupMustApprove').show();
    			$('#reqLabel1').html("Detalles adicionales para la aprobación *");
    			$('#reqLabel2').html("Que departamento debe autorizar *");
    			$('#reqLabel3').html("Que puesto es el responsable de este paso *");    			
    			$('#appbundle_step_name').val("Sin detalles adicionales");
    			
    			$('#isPersonalLabel').html("El iniciador del flujo es el que debe aprobar *");
    			$('.hidden_temp').show();
    		}
    	});
    	
	    setFormValidation('#stepValidation');
	    setFormValidation('#stepReqValidation');	    
	});
</script>  
{% endblock %}
        