{% if resultList | length > 0 %}
<div class='container'>
	<div class='row'>
	  {% for r in resultList %}
		{% set displayClass = 'display:block' %}
		{% set btnLabel = 'Ocultar' %}
		{% if loop.index != loop.length %}
			{% set btnLabel = 'Mostrar' %}
			{% set displayClass = 'display:none' %}
		{% endif %}
		<div class='col-md-12'>
			<div class='card'>
				<div class='card-header'>
						
					<div class='card-title'>
						<div class='row'>
							
							<div class='col-md-1 text-center'>
								<h1 style='margin:0px;padding:0px;'>
									{{loop.index}}
								</h1>
								<div class='float-md-left'>	
									{% if r.requirements | length == 0 %}															                         	            		                
										{% if permits["dp"] %}
											<a href="javascript:;"
											    class="btn btn-danger btn-icon btn-sm "
											    data-id="{{ r.step.stepId }}" 
											    data-href="{{ path(
											        'backend_step_delete',
											        {'id': r.step.stepId | md5, pid:pid,fid:fid}
											    ) }}"
											    data-toggle="modal"
											    data-target="#confirm-modal">
												<i class="now-ui-icons ui-1_simple-remove"></i>
											</a>
										{% endif %} 
									{% endif %}
									
									{% if permits["ep"] %}
						        		<a href="{{ path('backend_step_edit', {id: r.step.stepId | md5, pid: pid,fid:fid}) }}" type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm ">
											<i class="fa fa-pencil"></i>
										</a>                 
									{% endif %} 
								</div>				
							</div>
							<div class='col-md-5'>
								<h4 style='margin:0px;padding:0px;'><b>{{r.step.name}}</b></h4>	
								<p><b>Objetivo:</b> {{r.step.description}}</p>
								{% if loop.length == loop.index %}
								<span class='badge badge-default'>Aquí finaliza el flujo</span><br>
								{% endif %}
									
									
								
							</div>
							<div class='col-md-6'>
								
								<div class='float-md-right'>
									<a href="javascript:void(0)" onclick="showPanel({{loop.index}})" id='panel_btn_{{loop.index}}' class='btn btn-primary btn-sm panel_btn'>{{btnLabel}}</a>
								</div>
								
								<h4 style='margin:0px;padding:0px;'>										
									Requisitos para<br>el siguiente paso									
								</h4>
								<a href="javascript:void(0)" style="{{displayClass}}" type="button" class='btn btn-success btn-sm btn-block step_panel panel_{{loop.index}}' data-toggle="modal" data-target="#openModal2" onclick='setSid("{{r.step.stepId | md5}}")'>
			        				<b><i class='now-ui-icons ui-1_simple-add'></i></b> Agregar requisitos		
			        			</a>
			        			<div class='panel_{{loop.index}} step_panel' style="{{displayClass}}">
			        			{% if r.requirements | length > 0 %}
								{% for req in r.requirements %}
									<div class='row'>
										<div class='col-md-12'>
											<div class='card'>
												<div class='card-header' style='padding:10px;'>
													<div class='card-title'>
														<div class='row'>
															<div class='col-md-11'>
																{% if req.requirement_type_id == 1 %}
																	<p style='font-size:16px;padding-bottom:0px;margin-bottom:0px;'><i class='now-ui-icons ui-1_send'></i> Acción Requerida</p>
																{% endif %}																	
																{% if req.requirement_type_id == 2 %}
																	<p style='font-size:16px;padding-bottom:0px;margin-bottom:0px;'><i class='now-ui-icons files_paper'></i> Documento Requerido</p>
																{% endif %}
																{% if req.requirement_type_id == 3 %}
																	<p style='font-size:16px;padding-bottom:0px;margin-bottom:0px;'><i class='now-ui-icons ui-2_like'></i> Se requiere aprobación</p>
																{% endif %}
															</div>
															<div class='col-md-1'>
																{% if permits["ep"] %}
													        		{#<a href="{{ path('backend_step_req_edit', {id: req.step_requirement_id | md5, pid: pid,fid:fid,sid:req.step_id|md5}) }}" class="btn btn-info btn-icon btn-sm " style='padding:0px;margin:0px;'>
																		<i class="fa fa-pencil"></i>
																	</a>#}                 
																{% endif %}
																{% if permits["dp"] %}
													        		<a href="javascript:;"
																	    class="btn btn-danger btn-icon btn-sm float-md-right"
																	    data-id="{{ req.step_requirement_id }}" 
																	    data-href="{{ path(
																	        'backend_step_req_delete',
																	        {'id': req.step_requirement_id | md5, pid:pid,fid:fid,sid:req.step_id|md5}
																	    ) }}"
																	    data-toggle="modal"
																	    data-target="#confirm-modal">
																		<i class="now-ui-icons ui-1_simple-remove"></i>
																	</a>            
																{% endif %} 
															</div>
														</div>
														{% if req.requirement_type_id == 3 %}
															<b>Detalles:</b> {{req.name}}<br>
														{% else %}														
															<b>{{req.name}}</b><br>
														{% endif  %}	
														<br>
														<b>Resultados esperados:</b> {{req.description}}<br>
														<hr>
														<div class='row'>
															{% if req.is_personal == 1 %}
																<div class='col-md-12'>
																	<span class='badge badge-primary'>El responsable es quien inicio el flujo</span>
																</div>
															{% else %}
																{% if req.boss_must_approve == 0 %}
																	<div class='col-md-12'>
																		Departamento y puesto responsable:<br>
																		<span class='badge badge-info'>{{req.department_name}}</span>
																		<span class='badge badge-info'>{{req.position_name}}</span>		
																	</div>																		
																{% else %}
																	<div class='col-md-12'>
																		<span class='badge badge-warning'>El jefe inmediato es el responsable</span>
																	</div>
																{% endif %}
															{% endif %}													
														</div>		
													</div>
												</div>
											</div>
													
										</div>
									</div>
									
								{% endfor %}
								</div>
								{% else %}
									<div class='row'>
										<div class='col-md-12'>
											<div class='card'>
												<div class='card-header' style='padding:10px;'>
													<div class='card-body'>
														<div class='row'>
															<div class='col-md-12 text-center'>
																<h4>No hay requisitos</h4>
																<p>Debe agregar al menos un requisito para<br>continuar al siguiente paso</p>
															</div>
														</div>	
													</div>
												</div>
											</div>
													
										</div>
									</div>
								{% endif %}								
							</div>
						</div>
					</div>
				</div>

											
				</div>
			</div>
			
		{% endfor %}
	</div>
</div>
{% else %}
<div class='row'>
	<div class='col-md-12 text-center'>
		<h1><i class='now-ui-icons design_vector'></i></h1>
		<h2>No hay pasos para este flujo</h2>
		<p>Los pasos definen las acciones que cada departamento debe ejecutar para completar un flujo.</p>
		<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Agregar pasos!</a>
	</div>
</div>
{% endif %}
