<select class='form-control selectpicker' name='req[position]' data-style='btn btn-info btn-round' title='Seleccione una opción' required='true'>	    			    				    		    				    			    		    	
	{% if edit == true %}
		{% for item in positions %}
			{% if item.positionId == selectedId %}
				<option value="{{item.positionId}}" selected="selected">{{item.name}}</option>
			{% else %}
				<option value="{{item.positionId}}">{{item.name}}</option>
			{% endif %}
		{% endfor %}
	{% else %}
		{% for item in positions %}
			<option value="{{item.positionId}}">{{item.name}}</option>
		{% endfor %}
	{% endif %}	
</select>
