<form method="post" action="" id="businessValidation" class="validateForm" autocomplete="false" {{form_enctype(form)}}>      			                  
	<div class="form-group has-label">
	    <label>Nombre de Empresa *</label>	    
	    {{form_widget(form.name, {'attr': {'class': 'required form-control','required':'true' }}) }}
	</div>
	<div class="form-group has-label">
	    <label>Tipo de Empresa *</label><br>
	    {{form_widget(form.businessType, {'attr': {'class': 'selectpicker required form-control', 'data-style':'btn btn-info btn-round', 'title':'Seleccione una opción','required':'true' }}) }}	    
	</div>	        	
	<div class="category form-category">* Campos requeridos</div>
	
	<button class='btn btn-success float-right' type='submit'>Guardar</button>
	{{ form_widget(form._token) }}
</form>        
  

      
      