{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		<h4 class="card-title"> Clientes y Proveedores</h4>		
        	</div>
        	{% if permits["wp"] %}     
	        	<div class='col-md-6'>
	        		<button type="button" class='btn btn-primary float-md-right btn-icon btn-round' data-toggle="modal" data-target="#openModal">
	        			<i class='now-ui-icons ui-1_simple-add'></i>	        			
	        		</button>
	        	</div>
        	{% endif %}
        </div>        
    </div>
    <div class="card-body">
        {{ include('@App/Backend/Business/list.html.twig', { 'list': list }) }}
	</div>             
</div>


<!-- The Modal -->
<div class="modal fade" id="openModal">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
	    <h4 class="modal-title" style='margin-top:0px'>Agregar Clientes o Proveedores</h4>		
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
      <div class="modal-body" id='modalContent1'>
      	  {{ include('@App/Backend/Business/form.html.twig', { 'form': form }) }}
      </div>      
      <!--div class="modal-footer float-right">        
      </div-->	    
    </div>
  </div>
</div>
  
{{ include(
	'@App/Backend/confirm_modal.html.twig',
	{
		'form': form,
		'confirmQuestion': '¿Está seguro de eliminar este registro?'
	}
) }}  
       
{% endblock %}
{% block extra_scripts %}
<script>
    $('#confirm-modal').modal();

    $('#confirm-modal').on('show.bs.modal', function(e) {
        $(this).find('#btn-ok').attr('href', $(e.relatedTarget).data('href'));

        // Get the question text
        var text = $(this).find('#question-p').text();

        // Replace [ID] with the data 'id'
        var replaceText = "<span class='delete-id'>" + $(e.relatedTarget).data('id') + "</span>";
        text = text.replace('[ID]', replaceText);
        $(this).find('#question-p').html(text);
    });

    $('#confirm-modal').on('hidden.bs.modal', function (e) {
        // Switch back to [ID]
        $(this).find('#question-p').find('span.delete-id').replaceWith('[ID]');
    })
    
    $(document).ready(function() {
    	
	    setFormValidation('#businessValidation');	    
	});
</script>  
{% endblock %}
        