<div class="table-responsive">
	<table class="table datatable">
	    <thead class="text-primary">                    			
			<th>Nombre</th>
			<th>Tipo</th>
			<th>Fecha de alta</th>
			<!--th>Creador</th-->
			<th>Acciones</th>
	    </thead>
	    <tbody>
	    	{% for r in list %}
			<tr>
	    		<td>
	    			{{ r.name }}
	            </td>                            
	            <td>
	                {{ r.businessType }}                           
	            </td>
	            <td>                            
	                {{ r.createdAt | date("m/d/Y") }}                            
	            </td>
	            <!--td>
	                {{ r.createdBy }}
	            </td-->                     	            
				<td>
					{% if permits["dp"] %}
	        		<a href="{{ path('backend_business_edit', {id: r.businessId | md5}) }}" type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm ">
						<i class="fa fa-pencil"></i>
					</a>                  
					{% endif %}                          	            		                
					{% if permits["dp"] %}
						<a href="javascript:;"
						    class="btn btn-danger btn-icon btn-sm "
						    data-id="{{ r.businessId }}" 
						    data-href="{{ path(
						        'backend_business_delete',
						        {'id': r.businessId | md5}
						    ) }}"
						    data-toggle="modal"
						    data-target="#confirm-modal">
							<i class="now-ui-icons ui-1_simple-remove"></i>
						</a>
					{% endif %}             
	        	</td>                
			</tr>
			{% endfor %}
	</table>    
</div>
