<form method="post" action="" id="flowValidation" class="validateForm" autocomplete="false" {{form_enctype(form)}}>      			                  
	<div class="form-group has-label">
	    <label>Nombre de Flujo *</label>	    
	    {{form_widget(form.name, {'attr': {'class': 'required form-control','required':'true' }}) }}
	</div>
	<div class="form-group has-label">
	    <label>Departamentos que pueden iniciar este flujo *</label><br>
	    {% if edit == false %}
	    <select class='form-control selectpicker' multiple name='visible_to_departments[]' data-style='btn btn-info btn-round' title='Seleccione una opción' required='true'>
	    	{% for item in departments %}	    		
	    		<option value="{{item.department_id}}">{{item.name}}</option>
	    	{% endfor %}
	    </select>	    
	    {% else %}
	    <select class='form-control selectpicker' multiple name='visible_to_departments[]' data-style='btn btn-info btn-round' title='Seleccione una opción' required='true'>
	    	
	    	
	    		{% for item in departments %}
	    			{% if item.department_id in currentDepartments %}	    		
	    				<option value="{{item.department_id}}" selected="selected">{{item.name}}</option>	
	    			{% else %}
	    				<option value="{{item.department_id}}">{{item.name}}</option>
	    			{% endif %}
	    		{% endfor %}	    		
	    	
	    	
	    </select>
	    {% endif %}
	</div>
	<div class="form-group has-label">
	    <label>Descripción general *</label><br>
	    {{form_widget(form.description, {'attr': {'class': 'selectpicker required form-control','required':'true' }}) }}	    
	</div>	        	
	
	
	
	<div class="category form-category">* Campos requeridos</div>
	
	<button class='btn btn-success float-right' type='submit'>Guardar</button>
	{{ form_widget(form._token) }}
</form>        
  

      
      