{% if list | length > 0 %}
<div class="table-responsive">
	<table class="table datatable">
	    <thead class="text-primary">                    			
			<th>Nombre</th>			
			<th>Visible para</th>
			<th>Descripción</th>
			<th>Pasos</th>
			<!--th>Creador</th-->
			<th>Acciones</th>
	    </thead>
	    <tbody>
	    	{% for r in list %}
			<tr>
	    		<td>
	    			<a href="{{path('backend_step',{pid:pid,fid: r.flowId | md5})}}">
	    				{{ r.name }}
	    			</a>
	            </td>   
	            <td>
	            	{% for curr in currentDepartments %}
	            		{% if r.flowId == curr.flow_id %}
	            			<span class='badge badge-info'>{{curr.name}}</span>
	            		{% endif %}
	            	{% endfor %}
	            </td>                         
	            <td>
	                <small>{{ r.description }}</small>                           
	            </td>
	            <td>
	            	{{r.stepCount}}
	            </td>
	            {#<td>                            
	                {{ r.createdAt | date("m/d/Y") }}                            
	            </td>#}
	            <!--td>
	                {{ r.createdBy }}
	            </td-->                     	            
				<td>
					<a href="{{path('backend_step',{pid:pid,fid: r.flowId | md5})}}" type="button" rel="tooltip" class="btn btn-warning btn-icon btn-sm ">					
						<i class="now-ui-icons ui-1_zoom-bold"></i>
					</a>
					{% if permits["ep"] %}
	        		<a href="{{ path('backend_flow_edit', {id: r.flowId | md5, pid: pid}) }}" type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm ">
						<i class="fa fa-pencil"></i>
					</a>                  
					{% endif %}    
					{% if r.stepCount == 0 %}                      	            		                
					{% if permits["dp"] %}
						<a href="javascript:;"
						    class="btn btn-danger btn-icon btn-sm "
						    data-id="{{ r.flowId }}" 
						    data-href="{{ path(
						        'backend_flow_delete',
						        {'id': r.flowId | md5, pid:pid}
						    ) }}"
						    data-toggle="modal"
						    data-target="#confirm-modal">
							<i class="now-ui-icons ui-1_simple-remove"></i>
						</a>
					{% endif %}    
					{% endif %}         
	        	</td>                
			</tr>
			{% endfor %}
	</table>    
</div>
{% else %}
<div class='row'>
	<div class='col-md-12 text-center'>
		<h1><i class='now-ui-icons education_atom'></i></h1>
		<h2>Hacer nuevos flujos es muy fácil</h2>
		<p>Un flujo contiene los diferentes pasos de un proceso. Estos pasos contienen requerimientos<br>que deben ser suplidos por cada departamento involucrado.</p>
		<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Agregar flujos!</a>
	</div>
</div>
{% endif %}