{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		<h4 class="card-title"> Iniciar Proceso</h4>		
        	</div>        	
        </div>        
    </div>
    <div class="card-body">    	
    	
    	
    	{% for item in procs %}
    		{% if item.process_has_visibles > 0 %}
    		<div class='row'>
	    		<div class='col-md-12 text-center'>
		    		<div class='card' style='height:100%'>		    			
	    				<div class='card-body'>
	    					<div id='accordion' class='card-collapse' role="tablist" aria-multiselectable="true">
	    						<div class='card card-plain'>
	    							<div id="heading_{{item.process_list_id}}" class='card-header' role='tabe'>
	    								<a class="" data-toggle="collapse" data-parent="#accordion" href="#heading">
	    									<h4>
	    										Departamento de {{item.owner_department_name}}
	    										<i class="now-ui-icons arrows-1_minimal-down"></i>
	    									</h4>	    									
	    								</a>			
	    							</div>
	    							<div class=""
	    						</div>
	    					</div>	
	    					<br>    						
	    						    					
	    				</div>
		    			
		    			
		    			
		    		</div>
	    		</div>
    		</div>
    		{% endif %}
    		<div clcass='row'>
    			<div class='col-md-12'>
		    				<table class='table'>
		    					<thead class='text-primary'>
		    						<tr>
		    							<td>Proceso</td>
		    							<td>Descripción</td>
		    							<td>Duración</td>
		    							<td></td>
		    						</tr>
		    					</thead>
		    					<tbody>
    		{% for item2 in flows %}
    			{% if item.process_list_id == item2.process_list_id %}
		    		{% if thisUser.department.departmentId in item2.visible_for %}
		    		
		    			
		    			
		    					
		    					
		    						<tr>
		    							<td>{{item2.name}}</td>
		    							<td>{{item2.description}}</td>
		    							<td>{{item2.steps_count}} Pasos</td>
		    							<td>
		    								<a href="{{path('backend_start_process',{fid: item2.flow_id | md5})}}" class='btn btn-info btn-block'>
					    					 Iniciar Proceso <i class='now-ui-icons arrows-1_minimal-right'></i>
					    					</a>
		    							</td>
		    						</tr>
		    					
		    				
		    						    		
			    	
		    		{% endif %}
	    		{% endif %}
    		{% endfor %}
    		</tbody>
    		</table>
		    			</div>
    		</div>	
    	{% endfor %}
    	
       
	</div>             
</div> 
       
{% endblock %}
{% block extra_scripts %}
  <script>
  		function showFlowFor(id)
  		{
  			$(".flows").fadeOut("fast");
  			$(".flow_"+id).toggle("fast");
  		}
  </script>
{% endblock %}
        