 <form method="post" action="" id="userForm" class="validateForm"  {{form_enctype(form)}} autocomplete="false">
	<div class='row'>	
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label(form.accountName, "* Nombre de la cuenta") }}
				{{form_widget(form.accountName, {'attr': {'class': 'required form-control' }}) }}
			</div>
		</div>			
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label(form.service, "* Servicio / Plan") }}				
				<select id="appbundle_clientagreement_service" name="appbundle_clientagreement[service]" class="required form-control">
					{% if form.vars.value.service | length > 0 %}					
						{% for item in services %}
							{% if item.name == form.vars.value.service %}
								<option value="{{item.serviceId}}">{{item.name}}</option>
							{% endif %}
						{% endfor %}
						{% for item in services %}
							{% if item.name != form.vars.value.service %}
								<option value="{{item.serviceId}}">{{item.name}}</option>
							{% endif %}
						{% endfor %}
					{% else %}
						{% for item in services %}
							<option value="{{item.serviceId}}">{{item.name}}</option>
						{% endfor %}
					{% endif %}
				</select>				
			</div>		
		</div>
			
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label(form.agreementDate, "* Fecha de contratación") }}
				{{form_widget(form.agreementDate, {'attr': {'class': 'datepicker required form-control' }}) }}
			</div>
		</div>
		{% if edit %}			
			
			
			
		{% else %}
			<div class="col-md-6">	
				<label></label><br>		
				<div class="form-check mt-3">
	                <label class="form-check-label">
	                    <input class="form-check-input" name='past_invoices' type="checkbox">
	                    <span class="form-check-sign"></span>
	                    Facturas Retroactivas
	                </label>
	            </div>			
			</div>
			<div class='col-md-6'>
				<label>Costo de Instalación</label>
				<input type='text' name='installation_price' class='form-control'>
			</div>
		{% endif %}
		<div class="col-md-12">
			<div class="form-group">
				{{ form_label(form.discount, "Si tiene descuento recurrente, ingrese la cantidad abajo" ) }}
				{{ form_widget(form.discount, {'attr': {'class': 'number form-control' }}) }}
			</div>
		</div>		
	</div>
	
	<div class='row'>				
		<div class='col-md-12'>
			<label>Latitud y Longitud</label>
		</div>
		<div class='col-2'>			
			<a href="javascript:void(0)" onclick='getLocation()' class='btn btn-info btn-icon btn-round btn-block' style='margin:0px'>
				<i class='fa fa-location-arrow'></i>
			</a>			
		</div>
		<div class="col-10">				
			{{form_widget(form.latLng, {'attr': {'class': 'form-control','placeholder':'Latitud,Longitud' }}) }}							
			<div style='width:100%' id ='map_content'></div>
		</div>		
	</div>
	
		
	<div class='row'>					
		<div class="col-md-12">
			<input type='submit' class='btn btn-primary pull-right' value="Guardar">					
		</div>
	</div>  
	{{ form_widget(form._token) }}	        	  	  
</form>
<script>
			
	var x = document.getElementById("appbundle_clientagreement_latLng");
	function getLocation() {
		$('#map_content').html("");	
		$('#appbundle_clientagreement_latLng').val("");
	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(showPosition);
	    } else {
	        x.innerHTML = "Geolocation is not supported by this browser.";
	    }
	}
	function showPosition(position) {
		$('#appbundle_clientagreement_latLng').val(position.coords.latitude+','+position.coords.longitude);
		var view_map = "<a href='https://www.google.com/maps/dir//"+position.coords.latitude+","+position.coords.longitude+"/@"+position.coords.latitude+","+position.coords.longitude+",15z' target='_blank'>Ver ubicación <b>aquí</b></a>";
		$('#map_content').html(view_map);	    
	}

</script>