{% set disabled = false %}
{% if edit %}
	{% set disabled = true %}
{% endif %}

<form method="post" action="" id="userForm" class="validateForm"  {{form_enctype(form)}} autocomplete="false">
					
		<div class='row'>	
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.name, "* Nombre Completo") }}
					{{form_widget(form.name, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			{#<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.code, "Código de Cliente") }}
					{{form_widget(form.code, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>#}					
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.email, "Email") }}
					{{form_widget(form.email, {'attr': {'class': 'email form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.phone, "* Teléfono") }}
					{{form_widget(form.phone, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>		
			<div class="col-md-12">
				<div class="form-group">
					{{ form_label(form.address, "Dirección") }}
					{{form_widget(form.address, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>
				<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.billingName, "Nombre de Facturación") }}
					{{form_widget(form.billingName, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.billingTaxId, "Identificación Fiscal") }}
					{{form_widget(form.billingTaxId, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					{{ form_label(form.billingAddress, "Dirección Fiscal") }}
					{{form_widget(form.billingAddress, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>
			<input id="appbundle_client_statusId" name="appbundle_client[statusId]" type="hidden" value="1">
						
			
			
			<!-- /.col -->
		</div>
		
		<br>
		<div class='line'></div>
		<div class='row form-group'>
			<div class='col-md-6'>	
				{% if edit == true %}					
					{% if permits["dp"] %}
						<a  href="javascript:;"
							class="btn btn-danger "
							data-id="{{ object.clientId }}" 
							data-href="{{ path(
		                        'backend_client_delete',
		                        {'id': object.clientId | md5 }
		                    ) }}"
		                    data-toggle="modal"
		                    data-target="#confirm-modal">
							<i class="now-ui-icons ui-1_simple-remove"></i> Eliminar
						</a>
					{% endif %}	
				{% endif %}				
			</div>
			<div class='col-md-6'>						
				<button type="submit" class="btn btn-success pull-right">Guardar</button>				
			</div>
		</div>
		
		<!-- /.row -->
	
	
	{{ form_widget(form._token) }}
</form>


       

<script>

	
	
</script>