{% if list | length > 0 %}
	<div class="table-responsive">
			<table class="table datatable_custom_2">
				<thead class="text-primary">
					<tr>	
						<th>#</th>		
						<th>Nombre</th>
						<th>Email</th>	
						<th>Teléfono</th>										
						{#<th>Estado</th>#}						
						{% if permits["ep"] and permits["dp"] %}	
							<th>Acciones</th>
						{% endif %}	
						
					</tr>
				</thead>
				<tbody>
				{% for item in list %}
					<tr>
						<td>
							{{item.clientId | client_code}}
						</td>
						<td>						
							{{ item.name }} 
						</td>
						<td>
							{{ item.email }}
						</td>
						<td>
							{{ item.phone }}
						</td>	
						
						{#<td>
							{% if item.statusId == 1 %}
								ACTIVO
							{% else %}
								INACTIVO
							{% endif %}
						</td>#}						
						<td class="list_tools">
						{% if permits["rp"] %}
							<a href="{{ path('backend_client_view', {'id': item.clientId | md5 }) }}" class="btn btn-sm btn-success btn-icon ">
							   <i class="fa fa-fw fa-eye"></i>
							</a>
						{% endif %}
							
							
		                {% if permits["ep"] %}
							<a href="{{ path('backend_client_edit', {'id': item.clientId | md5 }) }}" class="btn btn-info btn-icon btn-sm ">
								<i class="fa fa-fw fa-pencil"></i>
							</a>
						{% endif %}
						
						{% if permits["dp"] %}
							<a  href="javascript:;"
								class="btn btn-danger btn-icon btn-sm "
								data-id="{{ item.clientId }}" 
								data-href="{{ path(
		                            'backend_client_delete',
		                            {'id': item.clientId | md5 }
		                        ) }}"
		                        data-toggle="modal"
		                        data-target="#confirm-modal">
								<i class="now-ui-icons ui-1_simple-remove"></i>
							</a>
						{% endif %}
						
						</td>
						
					</tr>
				{% endfor %}
				</tbody>
			</table>
	</div>
{% else %}
	<div class='row'>
		<div class='col-md-12 text-center'>
			<h1><i class='now-ui-icons business_badge'></i></h1>
			<h2>Aún no hay Clientes</h2>
			<p>Puede agregar nuevos clientes desde la esquina superior derecha de esta pantalla o en el botón de abajo</p>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Agregar Cliente!</a>
		</div>
	</div>
{% endif %}	
