{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		<h4 class="card-title">
        			Gestión de Cliente		
        		</h4>        				
        	</div>
        	{% if permits["rp"] %}             	    
        	    <div class='col-md-3'></div>   		        		        			        
	        	<div class='col-md-3'></div>	        	        				        		        
        	{% endif %}        	
        </div>        
    </div>
    <div class="card-body">
        <div class='row'>
			<div class='col-md-12 text-center'>
				<h1><i class='fa fa-search'></i></h1>
				<h4>Ingrese el número de teléfono o nombre del cliente</h4>				
			</div>
		</div>
		<form method='post'>
		<div class='row'>
			<div class='col-md-3'></div>
			<div class='col-md-6'>
				<input type='text' name='search' class='form-control'>
			</div>			
			<div class='col-md-3'></div>
		</div>
		<div class='row'>
			<div class='col-md-4'></div>
			<div class='col-md-4 text-center'>
				<input type='submit' class='btn btn-block btn-primary' value='Buscar'>
			</div>
			<div class='col-md-4'></div>
		</div>
		</form>
	</div>             
</div>



{% if results | length > 0 %}
<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		<h4 class="card-title">
        			Resultados de Búsqueda		
        		</h4>        				
        	</div>
        	{% if permits["rp"] %}             	    
        	    <div class='col-md-3'></div>   		        		        			        
	        	<div class='col-md-3'></div>	        	        				        		        
        	{% endif %}        	
        </div>        
    </div>
    <div class="card-body">
        <table class='table'>
        	<tr>
        		<th>Nombre</th>
        		<th>Teléfono</th>
        		<th>Email</th>
        		<th></th>
        	</tr>
        	{% for result in results %}
        	<tr>
        		<td>{{result.name}}</td>
        		<td>{{result.phone}}</td>
        		<td>{{result.email}}</td>
        		<td>
        			<a href="#" class='btn btn-success'>
        				Gestionar&nbsp;&nbsp;&nbsp;<i class='fa fa-chevron-right'></i>
        			</a>
        		</td>
        	</tr>
        	{% endfor %}
        </table>
	</div>             
</div>
{% endif %}

       
{% endblock %}
{% block extra_scripts %}
<script>

    
    $(document).ready(function() {
    	
	    setFormValidation('#userForm');	    
	});
	

    

	$(document).ready(function() {
	    $('.datatable_custom').DataTable({
	      "pagingType": "full_numbers",
	      "columnDefs": [
			  { "orderable": false, "targets": 3 }  
		   ],
		  
	      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
	      responsive: true,
	      language: {
		        processing:     "Procesando...",
		        search:         "Buscar:",
		        lengthMenu:     "Mostrar _MENU_ registros",
		        info:           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
		        infoEmpty:      "Mostrando registros del 0 al 0 de un total de 0 registros",
		        infoFiltered:   "(filtrado de un total de _MAX_ registros)",
		        infoPostFix:    "",
		        loadingRecords: "Cargando...",
		        zeroRecords:    "No se encontraron resultados",
		        emptyTable:     "Ningún dato disponible en esta tabla",
		        paginate: {
		            first:      "Primero",
		            previous:   "Anterior",
		            next:       "Siguiente",
		            last:       "Último",
		        },
		        aria: {
		            sortAscending:  ": Activar para ordenar la columna de manera ascendente",
		            sortDescending: ": Activar para ordenar la columna de manera descendente"
		        }
		    }		
	
	    });
	});    
		
</script>  
{% endblock %}
        