{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class='row'>
	
	<div class='col-md-12'>
		<div class="card"  style='min-height:95%'>
		    <div class="card-header">        
		        <div class='row'>
		        	<div class='col-md-12'>
		        		<h4 class="card-title" style='margin:0px;padding:0px'>
		        			<a href="{{ path('backend_client') }}" class="btn btn-default btn-icon" style='margin:0px;padding:0px'>
		        				<i class='now-ui-icons arrows-1_minimal-left'></i>
		        			</a> 
		        			Cliente
		        		</h4>		
		        	</div>		        	 
		        </div>		              
		    </div>
		    <div class="card-body">
		    	<div class='row'>
		    		<div class='col-md-4'>
		    			<b>Código de Cliente:</b><br>
		    			{{client.clientId | client_code}}	
		    		</div>		    	
		    		<div class='col-md-4'>
		    			<b>Nombre:</b><br>
		    			{{client.name}}	
		    		</div>		    	
		    		<div class='col-md-4'>
		    			<b>Email:</b><br>
		    			{{client.email}}	
		    		</div>
		    	</div>
		    	<br>
		    	<div class='row'>	
		    		<div class='col-md-4'>
		    			<b>Teléfono:</b><br>
		    			{{client.phone}}
		    		</div>		    	
		    		<div class='col-md-4'>
		    			<b>Dirección:</b><br>
		    			{{client.address}}	
		    		</div>		    				    	
		    	{% if client.code | length > 0 %}
		    	
		    		<!--div class='col-md-4'>
		    			<b>Código Adicional:</b><br>
		    			{{client.code}}	
		    		</div-->		    		
		    	
		    	{% endif %}
		    	</div>
		    	<br>
		    	<hr>
		    	{% if client.billingName != '' and client.billingTaxId != '' and client.billingAddress != '' %}				
	    	   	<div class='row'>
	    	   		<div class='col-md-4'>
	    	   			<b>Nombre de facturación</b><br>
	    	   			<p>{{client.billingName}}</p>
	    	   		</div>
	    	   		<div class='col-md-4'>
	    	   			<b>Número de Identificación Fiscal</b><br>
	    	   			<p>{{client.billingTaxId}}</p>
	    	   		</div>
	    	   		<div class='col-md-4'>
	    	   			<b>Dirección de facturación</b><br>
	    	   			<p>{{client.billingAddress}}</p>
	    	   		</div>
	    	   	</div>											
				{% endif %}
						    	
			</div>             
		</div>
	</div>
	<div class='col-md-12'>
		<div class="card" style='min-height:95%'>
		    <div class="card-header">        
		        <div class='row'>
		        	<div class='col-10'>
		        		<h4 class="card-title" style='margin:0px;padding:0px'>		        			
		        			Cuentas del cliente
		        		</h4>
		        	</div>
		        	<div class='col-2'>		
		        		<a href="javascript:void(0)" style="margin:0px;padding:0px;" data-toggle="modal" data-target="#openModal" class='btn pull-right btn-icon btn-success'>
		        			<i class='fa fa-fw fa-plus'></i>
		        		</a>			        				        				
		        	</div>		        
		        	 
		        </div>
		        <div class='row'>
		        	<div class='col-md-4'>
		        		<a href="javascript:void(0)" class='btn btn-sm btn-block btn-primary' data-toggle="modal" data-target="#openModalTwo">
			        			Asignar Suministros <i class='fa fa-plus'></i>
			        		</a>
		        	</div>
		        	<div class='col-md-4'>
		        		<a href="javascript:void(0)" class='btn btn-sm btn-block btn-info' data-toggle="modal" data-target="#openModalIp">
			        			Asignar IP <i class='fa fa-plus'></i>
			        		</a>
		        	</div>
		        </div>		              
		    </div>
		    <div class="card-body table-responsive">
		    	<br>
		    	{% if agreement | length > 0 %}
		    	<table class='table'>
		    		<tr>
		    			<th>
		    				Nombre
		    			</th>
		    			<th>
		    				Estado
		    			</th>
		    			<th>
		    				Servicio
		    			</th>
		    			<th>
		    				Monto
		    				<sup style='color:red'>/Desc.</sup>
		    			</th>
		    			<th>
		    				Contratación
		    			</th>
		    			<th>Suministros</th>
		    			<th>IP</th>
		    			<th>
		    				Acciones
		    			</th>
		    		</tr>
		    		
	    			{% for item in agreement %}
		    		<tr>
		    			<td>
		    				{% if item.latLng != "" %}
		    					<a href="https://www.google.com/maps/dir//{{item.latLng}}/@{{item.latLng}},15z" target='_blank' class="btn btn-default btn-sm">
									<i class="fa fa-fw fa-location-arrow"></i> {{item.accountName}}
								</a>
		    				{% else %}
		    					{{item.accountName}}
		    				{% endif %}
		    			</td>
		    			<td>
		    				{% if item.statusId == 1 %}
		    					{% set badgeColor = 'success' %}
		    					{% set statusName = 'Activado' %}		    					
		    				{% endif %}
		    				{% if item.statusId == 2 %}
		    					{% set badgeColor = 'warning' %}
		    					{% set statusName = 'Pendiente de Activación' %}
		    				{% endif %}
		    				{% if item.statusId == 3 %}
		    					{% set badgeColor = 'danger' %}
		    					{% set statusName = 'Suspendido' %}
		    				{% endif %}
		    				
		    				<a href="javascript:void(0)" class='badge badge-{{badgeColor}}' onclick='setCurrentStatus("{{statusName}}","{{item.clientAgreementId}}","{{item.statusId}}")' data-toggle="modal" data-target="#openModalStatus"  style='color:#fff'>
		    					{{statusName}} <i class='fa fa-fw fa-pencil'></i>
		    				</a>
		    				
		    			</td>
		    			<td>
		    				{{item.service.name}}
		    			</td>
		    			<td>
		    				Q.{{item.service.amount}}
		    				{% if item.discount %}
		    					<sup style='color:red'>/-Q{{item.discount}}</sup>
		    				{% endif %}
		    			</td>
		    			<td>				    		
				    		{{item.agreementDate }}				    		
		    			</td>
		    			<td>
		    				{% for item2 in supplies %}
		    						{% if item2.clientAgreement.clientAgreementId is defined %}
			    						{% if item2.clientAgreement.clientAgreementId == item.clientAgreementId %}
				    						<a style='margin:3px;'  href="javascript:;"
												class="" style='color:#fff'
												data-id="{{ item2.supplyId }}" 
												data-href="{{ path(
						                            'backend_supply_clean',
						                            {'id': item2.supplyId | md5,'cid': item.client.clientId | md5}
						                        ) }}"
						                        data-toggle="modal"
						                        data-target="#confirm-modal2">
						                        <span class='badge badge-danger'>
												<i class="now-ui-icons ui-1_simple-remove"></i>
												&nbsp;		
												{{item2.name}}
												</span>
											</a>
										{% endif %}
									{% endif %}		    					
		    				{% endfor %}
		    			</td>
		    			<td>
		    				{% for item3 in ips %}
		    						{% if item3.clientAgreement.clientAgreementId is defined %}
			    						{% if item3.clientAgreement.clientAgreementId == item.clientAgreementId %}
				    						<a style='margin:3px;'  href="javascript:;"
												class="" style='color:#fff'
												data-id="{{ item3.ipControlId }}" 
												data-href="{{ path(
						                            'backend_ipcontrol_clean',
						                            {'id': item3.ipControlId,'cid': item.client.clientId | md5}
						                        ) }}"
						                        data-toggle="modal"
						                        data-target="#confirm-modal2">
						                        <span class='badge badge-danger'>
												<i class="now-ui-icons ui-1_simple-remove"></i>
												&nbsp;		
												{{item3.ipNumber}}
												</span>
											</a>
										{% endif %}
									{% endif %}		    					
		    				{% endfor %}
		    			</td>
		    			<td>
 						{% if permits["ep"] %}
							<a href="{{ path('backend_client_agreement_edit', {'id': item.clientAgreementId | md5 }) }}" class="btn btn-info btn-icon btn-sm ">
								<i class="fa fa-fw fa-pencil"></i>
							</a>
						{% endif %}
						
						{% if permits["dp"] %}
							<a  href="javascript:;"
								class="btn btn-danger btn-icon btn-sm "
								data-id="{{ item.clientAgreementId }}" 
								data-href="{{ path(
		                            'backend_client_agreement_delete',
		                            {'id': item.clientAgreementId | md5 }
		                        ) }}"
		                        data-toggle="modal"
		                        data-target="#confirm-modal">
								<i class="now-ui-icons ui-1_simple-remove"></i>
							</a>
								
						{% endif %}	
						
							    				
		    			</td>
		    		</tr>	
	    			{% endfor %}			    		
		    	</table>
		    	{% else %}
		    		<div class='row'>
						<div class='col-md-12 text-center'>
							<h1><i class='fa fa-folder-open-o'></i></h1>
							<h2>No se han agregado cuentas</h2>
							<p>Puede agregar una cuenta y asociarla a este cliente, haciendo clic sobre el botón verde de esta casilla.</p>			
						</div>
					</div>
		    	{% endif %}
		    					    	
			</div>             
		</div>
	</div>
	
</div>


<div class='row'>
	<div class='col-md-12'>
		<div class="card" style='min-height:95%'>
		    <div class="card-header">        
		        <div class='row'>
		        	<div class='col-md-12'>
		        		<h4 class="card-title" style='margin:0px;padding:0px'>		        			
		        			Facturas de este cliente			        		
		        		</h4>		
		        	</div>		        
		        	 
		        </div>		              
		    </div>
		    <div class="card-body table-responsive">
		    	{{ include('@App/Backend/Invoice/list.html.twig', { 'list': list,'title':'','filter':0 }) }}   	
			</div>             
		</div>
	</div>
</div>


<!-- The Modal -->
<div class="modal fade" id="openModal">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
	    <h4 class="modal-title" style='margin-top:0px'>Agregar cuenta</h4>		
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
      <div class="modal-body" id='modalContent1'>      	  
      	  {{ include('@App/Backend/Client/agreement_form.html.twig', { 'form': form, 'edit': false }) }}
      </div>      
      <!--div class="modal-footer float-right"></div-->	    
    </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="openModalTwo">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
	    <h4 class="modal-title" style='margin-top:0px'>Suministros asignados</h4>		
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
      <div class="modal-body" id='modalContent1'>      	  
      	  <form method='post' id='supplyForm'>
      	  	<p>Seleccione el suministro que desea asignar a este cliente</p>
      	  	<div class='row'>
      	  		<div class='col-md-6'>
      	  			<label>Suministro</label>
		      	  	<select class='typeahead' name='registerSupply[supply]' required style='width:100%'>
		      	  		<option></option>
		      	  		{% for item in supplies %}
		      	  			{% if item.clientAgreement.clientAgreementId is defined %}
		      	  			
		      	  			{% else %}
		      	  			<option value="{{item.supplyId}}">
		      	  				{{item.name}}
		      	  				{# if item.fieldOne | length > 0 %}
		      	  					- Mac: {{item.fieldOne}}
		      	  				{% endif %}
		      	  				{% if item.fieldTwo | length > 0 %}
		      	  					- Modelo: {{item.fieldTwo}}
		      	  				{% endif %}
		      	  				{% if item.fieldThree | length > 0 %}
		      	  					- Serie: {{item.fieldThree}}
		      	  				{% endif #}
		      	  			</option>
		      	  			{% endif %}
		      	  		{% endfor %}
		      	  	</select>		
      	  		</div>
      	  		<div class='col-md-6'>
      	  			<label>Cuenta a asignar</label>
		      	  	<select class='typeahead' name='registerSupply[agreement]' required style='width:100%'>
		      	  		<option></option>
		      	  		{% for item in agreement %}
		      	  			<option value="{{item.clientAgreementId}}">{{item.accountName}}</option>
		      	  		{% endfor %}
		      	  	</select>		
      	  		</div>
      	  	</div>
      	  	<div class='row'>
      	  		<div class='col-md-12'>
      	  			<input type='submit' value="Asignar" class='btn btn-primary pull-right'>
      	  		</div>
      	  	</div>
      	  	
      	  </form>
      </div>      
      <!--div class="modal-footer float-right"></div-->	    
    </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="openModalStatus">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
	    <h4 class="modal-title" style='margin-top:0px'>Cambio de estado</h4>		
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
      <div class="modal-body" id='modalContent1'>      	  
      	  <form method='post' id='statusChangeForm' style='padding:20px;'>
      	  	<input type='hidden' name='statusChange' id='statusChange' value="true">
      	  	<input type='hidden' name='current_client_agreement' id='current_client_agreement' value="">      	  	
      	  	<div class='row'>
      	  		<div class='col-md-12'>
      	  			<h3 id='current_status_client_agreement'></h3>
      	  			<p>Seleccione el nuevo estado del cliente</p>
      	  		</div>
      	  	</div>
      	  	<div class='row'>
      	  		<div class='col-md-12'>
      	  			<select class='form-control' name='newStatus' required="">
      	  				<option></option>
      	  				<option value='2' id='waitingActivationOption'>Pendiente de Activación</option>
      	  				<option value='1'>Activado</option>
      	  				<option value='3'>Suspendido</option> 
      	  				<option value='4'>Eliminado</option>      	  				
      	  			</select>
      	  		</div>
      	  	</div>
      	  	<br>
      	  	<div class='row'>
      	  		<div class='col-md-8'>
      	  			
      	  		</div>
      	  		<div class='col-md-4'>
      	  			<button type='submit' class='btn btn-warning'>Actualizar Estado</button>
      	  		</div>
      	  	</div>
      	  	
      	  </form>
      </div>      
      <!--div class="modal-footer float-right"></div-->	    
    </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="openModalIp">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
	    <h4 class="modal-title" style='margin-top:0px'>Asignación de IPs</h4>		
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
      <div class="modal-body" id='modalContentIp'>      	  
      	  <form method='post' id='supplyForm'>
      	  	<p>Seleccione la IP que desea asignar a este cliente</p>
      	  	<div class='row'>
      	  		<div class='col-md-6'>
      	  			<label>IP</label>
		      	  	<select class='typeahead' name='registerIp[ip]' required style='width:100%'>
		      	  		<option></option>
		      	  		{% for item in ips %}
		      	  			{% if item.clientAgreement.clientAgreementId is defined %}
		      	  			
		      	  			{% else %}
		      	  			<option value="{{item.ipControlId}}">{{item.ipNumber}}</option>
		      	  			{% endif %}
		      	  		{% endfor %}
		      	  	</select>		
      	  		</div>
      	  		<div class='col-md-6'>
      	  			<label>Cuenta a asignar</label>
		      	  	<select class='typeahead' name='registerIp[agreement]' required style='width:100%'>
		      	  		<option></option>
		      	  		{% for item in agreement %}
		      	  			<option value="{{item.clientAgreementId}}">{{item.accountName}}</option>
		      	  		{% endfor %}
		      	  	</select>		
      	  		</div>
      	  	</div>
      	  	<div class='row'>
      	  		<div class='col-md-12'>
      	  			<input type='submit' value="Asignar" class='btn btn-primary pull-right'>
      	  		</div>
      	  	</div>
      	  	
      	  </form>
      </div>      
      <!--div class="modal-footer float-right"></div-->	    
    </div>
  </div>
</div>


{{ include(
	'@App/Backend/confirm_modal.html.twig',
	{
		'form': form,
		'confirmQuestion': '¿Está seguro que desea eliminar esta cuenta? Los efectos de esta desactivación se verán reflejados hasta la siguiente fecha de facturación'
	}
) }}  


<!-- The Modal -->
<div class="modal" id="confirm-modal2" data-show='false'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">            	
                <h5 id="exampleModalLabel" class="modal-title">Advertencia</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>                                       
            </div>
            <div class="modal-body">
                <p id="question-p">
                    ¿Está seguro que desea eliminar este registro?
                </p>
            </div>
            <div class="modal-footer">
                
                <a class="btn btn-danger" id="btn-ok2" style='color:#fff'>
                    Eliminar
                </a>
                <button type="button" class="btn btn-info pull-left" data-dismiss="modal">
                    Cancelar, No deseo Eliminar
                </button>
            </div>
        </div>
    <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
	   
</script>       
{% endblock %}
{% block extra_scripts %}
<script>
	function setCurrentStatus(statusName,agreementId,statusId)
	{				
		if(statusId == 1 || statusId == 3)
		{
			$('#waitingActivationOption').hide();
		}		
		$('#current_status_client_agreement').html(statusName);
		$('#current_client_agreement').val(agreementId);
	}
    
    $(document).ready(function() {
    
    	$('#confirm-modal2').on('show.bs.modal', function(e) {
		   	
			$(this).find('#btn-ok2').attr('href', $(e.relatedTarget).data('href'));
		});	        
			
			
	    setFormValidation('#userForm');
	    setFormValidation('#supplyForm');
	    
	    $(".typeahead").select2({
	    	allowClear: true,
			placeholder: "Seleccione una opción"
		});	    
	});
	
</script>
{% endblock %}
        