<form method="post" action="" id="userRoleForm" class="validateForm"
	autocomplete="false">
	<!-- /.box-header -->
	<div class="card-body">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					{{ form_label(form.userRole, "Rol") }}
					{{form_widget(form.userRole, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					{{ form_label(form.module, "Módulo") }}
					{{form_widget(form.module, {'attr': {'class': 'required form-control' }}) }}
				</div>				
			</div>
			<div class="col-md-4">
				<div class="form-group">
					{{ form_label(form.aliasName, "Alias") }}
					{{form_widget(form.aliasName, {'attr': {'class': 'required form-control' }}) }}
				</div>				
			</div>
			<div class="col-md-12">
				<div class="form-group">
					{{ form_label(form.description, "Descripción para mostrar") }}
					{{form_widget(form.description, {'attr': {'class': 'required form-control' }}) }}
				</div>				
			</div>
			<div class="col-md-2">
				<div class="form-group">
					{{ form_label(form.viewModule, "Ver Módulo" ) }}
					{{form_widget(form.viewModule, {'attr': {'class': '' }}) }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					{{ form_label(form.readPermission, "Leer" ) }}
					{{form_widget(form.readPermission, {'attr': {'class': '' }}) }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					{{ form_label(form.writePermission, "Agregar") }}
					{{form_widget(form.writePermission, {'attr': {'class': '' }}) }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					{{ form_label(form.editPermission, "Editar") }}
					{{form_widget(form.editPermission, {'attr': {'class': '' }}) }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					{{ form_label(form.deletePermission, "Eliminar") }}
					{{form_widget(form.deletePermission, {'attr': {'class': '' }}) }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					{{ form_label(form.mainModule, "Módulo de Inicio" ) }}
					{{form_widget(form.mainModule, {'attr': {'class': '' }}) }}
				</div>
			</div>
		</div>
		<div class='row'>	
			<div class='col-md-12'>
				<div class='form-group'>
					<button type="reset" onclick="window.location='{{ path('backend_user_role_permission', {'roleId': roleId}) }}'" class="btn btn-danger">Cancelar</button>
					<button type="submit" class="btn btn-primary pull-right">Guardar Datos</button>
				</div>
			</div>
			
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	
		
	
	{{ form_widget(form._token) }}
</form>
