{% set disabled = false %}
{% if edit %}
	{% set disabled = true %}
{% endif %}

<form method="post" action="" id="userForm" class="validateForm"  {{form_enctype(form)}} autocomplete="false">
					
		<div class='row'>	
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.name, "* Nombre del Suministro") }}
					{{form_widget(form.name, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					{{ form_label(form.description, "Descripción") }}
					{{form_widget(form.description, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>								
			
			
			
			<!-- /.col -->
		</div>
		
		<br>
		<div class='line'></div>
		<div class='row form-group'>
			<div class='col-md-6'>	
				{% if edit == true %}					
					{% if permits["dp"] %}
						<a  href="javascript:;"
							class="btn btn-danger "
							data-id="{{ object.supplyId }}" 
							data-href="{{ path(
		                        'backend_supply_delete',
		                        {'id': object.supplyId | md5 }
		                    ) }}"
		                    data-toggle="modal"
		                    data-target="#confirm-modal">
							<i class="now-ui-icons ui-1_simple-remove"></i> Eliminar
						</a>
					{% endif %}	
				{% endif %}				
			</div>
			<div class='col-md-6'>						
				<button type="submit" class="btn btn-success pull-right">Guardar</button>				
			</div>
		</div>
		
		<!-- /.row -->
	
	
	{{ form_widget(form._token) }}
</form>


       

<script>

	
	
</script>