{% if list | length > 0 %}
	<div class="table-responsive">
			<table class="table datatable_custom">
				<thead class="text-primary">
					<tr>			
						<th>IP</th>												
						<th>Asignado a</th>
						<th>F. Asignación</th>										
						{% if permits["ep"] and permits["dp"] %}	
							<th>Acciones</th>
						{% endif %}
						
					</tr>
				</thead>
				<tbody>
				{% for item in list %}
					<tr>
						
						<td>						
							{{ item.ipnumber }} 
						</td>						
						<td>
							{% if item.clientAgreement | length > 0 %}
							<small>{{ item.clientAgreement.client }} - {{ item.clientAgreement }}</small>
							{% else %}
							<b>Sin asignación</b>
							{% endif %}
						</td>				
						<td>
							{% if item.assignedAt | length > 0 %}
							{{item.assignedAt | date("Y-m-d")}}
							{% else %}
							-
							{% endif %}
						</td>		
						<td class="list_tools">
						
						{% if item.clientAgreement | length == 0 %}
						{% if permits["dp"] %}
							<a  href="javascript:;"
								class="btn btn-danger btn-icon btn-sm "
								data-id="{{ item.ipControlId }}" 
								data-href="{{ path(
		                            'backend_ipcontrol_delete',
		                            {'id': item.ipControlId }
		                        ) }}"
		                        data-toggle="modal"
		                        data-target="#confirm-modal">
								<i class="now-ui-icons ui-1_simple-remove"></i>
							</a>
						{% endif %}
						{% endif %}
						
						</td>
						
					</tr>
				{% endfor %}
				</tbody>
			</table>
	</div>
{% else %}
	<div class='row'>
		<div class='col-md-12 text-center'>
			<h1><i class='fa fa-archive'></i></h1>
			<h2>Aún no hay bloques de IPs</h2>
			<p>Puede agregar nuevos bloques desde la esquina superior derecha de esta pantalla o en el botón de abajo</p>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Agregar Bloque!</a>
		</div>
	</div>
{% endif %}	
